Census of Drug and Alcohol Treatment Services in Northern Ireland

In [191]:
from gssutils import *
scraper = Scraper('https://www.health-ni.gov.uk/publications/census-drug-and-alcohol-treatment-services-northern-ireland-2017')
scraper

## Census of drug and alcohol treatment services in Northern Ireland 2017

### Distributions

1. Drug and Alcohol Census 2017 ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/health/drug-alcohol-census-2017.pdf))
1. Data from Census of Drug and Alcohol Treatment Services ([MS Excel Spreadsheet](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx))
1. Pre-release Access List Drug and Alcohol Census ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/pre-release-drug-alcohol-census.pdf))

In [192]:
tabs = {tab.name: tab for tab in scraper.distribution(
    title='Data from Census of Drug and Alcohol Treatment Services').as_databaker()}
tabs.keys()
tabs

{'Contents & Notes to tables': {<A4 'Contents'>, <A2 '1 March 2017'>, <A16 ''>, <B4 ''>, <A1 'Census of Drug and Alcohol Treatment Services in Northern Ireland:'>, <A19 3.0>, <B1 ''>, <B19 'Hospital Information System (HIS) figures relate to the number of emergency admissions to HSC hospitals for only drug-related conditions, only alcohol-related conditions or both drug and alcohol-related conditions, excluding admissions under specialties for mental health and learning disabilities.\xa0 These figures are as at 1st September 2016.'>, <B18 'All percentages are rounded to the nearest percentage point.'>, <A10 'Table 5'>, <A9 'Table 4'>, <B2 ''>, <B7 'Breakdown by Service Type'>, <B9 'Breakdown by Trust'>, <A14 ''>, <A7 'Table 2'>, <A13 ''>, <B6 'Breakdown by Age and Gender'>, <B15 ''>, <B8 'Breakdown by Residential Status'>, <A12 ''>, <B16 ''>, <A8 'Table 3'>, <B10 'Comparison Table'>, <A18 2.0>, <A11 ''>, <B13 ''>, <A17 1.0>, <B14 ''>, <B11 ''>, <A5 ''>, <A6 'Table 1'>, <B12 ''>, <B17 'A dashed line (-) represents a cell count of less than three and a * represents a cell that has been masked. This is in order to avoid issues involving personal disclosure, where it may be possible to identify an individual from the data provided.  '>, <A15 'Notes to Tables'>, <A3 ''>, <B5 ''>, <B3 ''>},
 'Table 1': {<M2 ''>, <D1 ''>, <L4 'Drugs & Alcohol'>, <B12 34.6>, <B5 95.0>, <D3 ''>, <J8 60.8>, <B8 32.6>, <H6 810.0>, <M5 5969.0>, <J6 1567.0>, <J11 38.3>, <B9 67.4>, <C2 ''>, <C1 ''>, <L2 ''>, <D7 72.0>, <C3 ''>, <H9 23.7>, <K10 34.1>, <K2 ''>, <I11 100.0>, <I10 100.0>, <B2 ''>, <I9 32.1>, <G4 'Drugs Only'>, <A5 'Total'>, <D11 42.0>, <A4 ''>, <A1 'Table 1 – Breakdown by Age and Gender'>, <M3 'Overall Total'>, <A2 ''>, <B4 'Alcohol Only'>, <H1 ''>, <F11 43.1>, <L10 22.7>, <J1 ''>, <M7 1874.0>, <H3 ''>, <J2 ''>, <A11 '% of all Males '>, <F10 47.2>, <M6 4095.0>, <G2 ''>, <I3 ''>, <C12 26.5>, <I1 ''>, <M9 31.4>, <H10 20.2>, <G8 71.3>, <J9 39.2>, <E11 100.0>, <L5 1356.0>, <F2 ''>, <F5 2482.0>, <H4 'Drugs & Alcohol'>, <C7 49.0>, <M8 68.6>, <C4 'Drugs Only'>, <F7 946.0>, <L8 76.1>, <E4 'Total'>, <F6 1536.0>, <F12 56.0>, <C10 45.4>, <E2 ''>, <F4 'Alcohol Only'>, <H5 1062.0>, <E6 528.0>, <M11 100.0>, <H11 22.7>, <E5 713.0>, <J12 53.9>, <K8 73.5>, <M1 ''>, <D2 ''>, <H8 76.3>, <I4 'Total'>, <B11 5.9>, <L12 17.3>, <E7 185.0>, <D6 222.0>, <G6 1221.0>, <K7 540.0>, <C11 52.1>, <A12 '% of all Females'>, <L1 ''>, <D4 'Drugs & Alcohol'>, <I5 5256.0>, <A7 'Female'>, <I6 3567.0>, <H12 14.9>, <L3 ''>, <C8 84.9>, <A6 'Male'>, <G7 491.0>, <C5 324.0>, <D9 24.5>, <L6 1032.0>, <B6 31.0>, <J7 1010.0>, <I12 100.0>, <D5 294.0>, <B1 ''>, <A3 'Gender'>, <K1 ''>, <K11 36.5>, <H7 252.0>, <K3 ''>, <D10 41.2>, <A9 'Female (%)'>, <K5 2036.0>, <D8 75.5>, <E9 25.9>, <G12 29.1>, <H2 ''>, <L9 23.9>, <I7 1689.0>, <D12 38.9>, <B3 'Under 18 '>, <K6 1496.0>, <G9 28.7>, <L11 25.2>, <G1 ''>, <I2 ''>, <J4 'Alcohol Only'>, <G10 32.6>, <G3 ''>, <F9 38.1>, <C9 15.1>, <E12 100.0>, <F1 ''>, <E10 100.0>, <A10 '% of Total'>, <J3 'Treatment Type'>, <K9 26.5>, <B10 13.3>, <E8 74.1>, <E3 ''>, <K12 28.8>, <M12 100.0>, <J10 43.2>, <E1 ''>, <A8 'Male (%)'>, <I8 67.9>, <M10 100.0>, <K4 'Drugs Only'>, <F3 '18 and over'>, <J5 2577.0>, <B7 64.0>, <G11 34.2>, <M4 ''>, <G5 1712.0>, <F8 61.9>, <C6 275.0>, <L7 324.0>},
 'Table 2': {<F3 ''>, <L2 ''>, <L19 42.0>, <K10 80.0>, <M16 3600.0>, <C18 ''>, <F1 ''>, <K3 ''>, <I5 540.0>, <F12 ''>, <H10 35.6>, <I18 '*'>, <M19 60.3>, <A17 'Non-statutory'>, <G18 '*'>, <D16 '*'>, <I9 71.7>, <K2 ''>, <C19 '*'>, <I20 30.6>, <D10 42.3>, <M6 1178.0>, <J14 'Alcohol Only'>, <J18 5.0>, <F4 '18 and over'>, <A1 'Table 2 – Breakdown by Service Type'>, <L7 537.0>, <I14 'Total'>, <G9 59.1>, <J10 53.1>, <E12 ''>, <L21 13.1>, <M3 ''>, <E15 713.0>, <J13 'Treatment Type'>, <F18 '*'>, <L8 ''>, <J9 43.5>, <G11 4.2>, <I12 ''>, <F5 3567.0>, <F21 '*'>, <M18 183.0>, <B11 0.3>, <G7 1501.0>, <B3 'Male'>, <H2 ''>, <I16 '*'>, <I21 '*'>, <I7 153.0>, <J15 2577.0>, <B20 88.4>, <M2 ''>, <K17 724.0>, <D11 16.2>, <B9 68.2>, <C14 'Drugs Only'>, <E21 '-'>, <I10 28.3>, <D12 ''>, <L4 '18 and over'>, <C5 1496.0>, <L15 1356.0>, <B13 'Under 18 '>, <J16 1719.0>, <H12 ''>, <B21 '-'>, <E19 '*'>, <K9 18.9>, <B2 ''>, <C6 925.0>, <H9 64.4>, <E7 432.0>, <L16 569.0>, <E20 81.3>, <C9 61.8>, <G12 ''>, <M20 36.6>, <I11 0.0>, <K19 64.4>, <A2 ''>, <B4 'Alcohol Only'>, <D7 437.0>, <B19 '*'>, <A13 'Service Type'>, <F11 4.8>, <B14 'Alcohol Only'>, <E2 ''>, <A3 'Service Type'>, <L5 1689.0>, <D9 41.5>, <E8 0.0>, <M13 'Overall Total'>, <D20 68.7>, <G5 4095.0>, <B10 31.5>, <M5 1874.0>, <D3 ''>, <F7 1069.0>, <L13 ''>, <M21 3.1>, <M7 685.0>, <L12 ''>, <J19 66.7>, <J21 0.2>, <D13 ''>, <K16 1312.0>, <I1 ''>, <M15 5969.0>, <D21 ''>, <C16 '*'>, <H7 360.0>, <C10 38.2>, <J8 11.0>, <C1 ''>, <A15 'Total'>, <M9 62.9>, <K12 ''>, <G2 ''>, <H21 '*'>, <C3 ''>, <K11 0.6>, <I2 ''>, <K5 185.0>, <H19 '*'>, <F9 65.2>, <A6 'Statutory'>, <C13 ''>, <K4 'Under 18s'>, <M4 'Total'>, <C4 'Drugs Only'>, <C21 ''>, <L20 44.9>, <H5 1010.0>, <L1 ''>, <A7 'Non-statutory'>, <K7 148.0>, <C17 294.0>, <L3 ''>, <G21 '*'>, <D18 ''>, <A5 'Total'>, <J6 141.0>, <C11 0.0>, <E17 580.0>, <F2 ''>, <G19 '*'>, <A10 'Non-statutory (%)'>, <D17 202.0>, <J17 853.0>, <B5 1567.0>, <L6 1143.0>, <L14 'Drugs & Alcohol'>, <M14 ''>, <H18 '*'>, <I19 '*'>, <K1 ''>, <F15 2482.0>, <B17 84.0>, <H16 '*'>, <C12 ''>, <F13 '18 and over'>, <B15 95.0>, <C7 571.0>, <J2 ''>, <H15 1062.0>, <E11 0.0>, <K18 0.0>, <I13 ''>, <L9 67.7>, <E5 528.0>, <A4 ''>, <B7 493.0>, <K14 'Drugs Only'>, <F19 '*'>, <L10 31.8>, <K21 0.0>, <E6 96.0>, <H14 'Drugs & Alcohol'>, <H1 ''>, <G16 '*'>, <H8 0.0>, <B6 1069.0>, <H3 'Female  '>, <E13 ''>, <A8 'Prison'>, <M10 36.6>, <M1 ''>, <E18 '-'>, <F6 2326.0>, <L18 178.0>, <A19 'Statutory (%)'>, <F14 'Alcohol Only'>, <F20 31.0>, <G6 2422.0>, <G20 25.1>, <H4 'Alcohol Only'>, <B16 '*'>, <K13 ''>, <H20 38.3>, <I4 'Drugs Only'>, <H6 650.0>, <K8 11.0>, <C8 0.0>, <A18 'Prison'>, <F16 '*'>, <E9 18.2>, <H11 0.0>, <C2 ''>, <A21 'Prison (%)'>, <D19 '*'>, <J12 ''>, <G15 1712.0>, <H13 ''>, <B1 ''>, <B18 '-'>, <D6 428.0>, <A11 'Prison (%)'>, <E16 '*'>, <H17 407.0>, <J5 324.0>, <F8 172.0>, <F10 30.0>, <I15 5256.0>, <M12 ''>, <G13 ''>, <E3 ''>, <M11 0.6>, <G14 'Drugs Only'>, <I8 0.0>, <E1 ''>, <M8 11.0>, <J11 3.4>, <F17 769.0>, <D5 1032.0>, <D2 ''>, <D15 294.0>, <J3 ''>, <L11 ''>, <B12 ''>, <J1 ''>, <G17 430.0>, <K15 2036.0>, <J7 172.0>, <D8 167.0>, <A14 ''>, <D1 ''>, <J20 33.1>, <A9 'Statutory (%)'>, <A12 ''>, <E10 81.8>, <I6 387.0>, <I3 ''>, <I17 1606.0>, <K20 35.6>, <G10 36.7>, <G1 ''>, <G4 'Total'>, <E14 'Total'>, <A16 'Statutory'>, <G3 ''>, <A20 'Non-statutory (%)'>, <D14 'Drugs & Alcohol'>, <C15 324.0>, <K6 35.0>, <E4 'Under 18s'>, <B8 5.0>, <C20 90.7>, <M17 2186.0>, <G8 172.0>, <L17 609.0>, <D4 'Drugs & Alcohol'>, <J4 'Drugs & Alcohol'>},
 'Table 3': {<G9 8.2>, <F5 3567.0>, <C1 ''>, <A15 'Total'>, <G15 1712.0>, <K12 ''>, <G7 3613.0>, <A6 'Residential'>, <L16 225.0>, <C3 ''>, <H6 57.0>, <I16 '*'>, <J8 7.0>, <C13 ''>, <M15 5969.0>, <F18 '*'>, <A11 'Mixed (%)'>, <D9 19.8>, <K2 ''>, <D3 ''>, <I10 96.9>, <H4 'Alcohol Only'>, <A18 'Mixed'>, <M21 3.5>, <L12 ''>, <F8 124.0>, <K13 ''>, <I14 'Total'>, <D13 ''>, <E13 ''>, <I8 12.0>, <L6 ''>, <C20 99.1>, <F16 '*'>, <E20 96.1>, <M13 'Overall Total'>, <C2 ''>, <A7 'Non-residential '>, <L8 ''>, <G5 4095.0>, <G18 '*'>, <K18 45.0>, <M5 1874.0>, <A2 ''>, <B4 'Alcohol Only'>, <H1 ''>, <L2 ''>, <H8 44.0>, <M6 83.0>, <K9 4.4>, <G16 '*'>, <B18 '*'>, <A19 'Residential (%)'>, <B14 'Alcohol Only'>, <J2 ''>, <A9 'Residential (%)'>, <C11 2.2>, <K16 27.0>, <A14 ''>, <E10 95.5>, <E4 'Under 18s'>, <B5 1567.0>, <M9 4.4>, <A12 ''>, <L14 'Drugs & Alcohol'>, <H14 'Drugs & Alcohol'>, <H18 '*'>, <I3 ''>, <A21 'Mixed (%)'>, <B2 ''>, <B10 88.6>, <H16 '*'>, <G4 'Total'>, <F7 3109.0>, <E16 '-'>, <A5 'Total'>, <L15 1356.0>, <I13 ''>, <J20 89.1>, <K8 63.0>, <A4 ''>, <L10 91.6>, <J16 165.0>, <D17 270.0>, <G11 3.6>, <J3 ''>, <J10 91.4>, <I19 '*'>, <E7 504.0>, <B12 ''>, <M16 417.0>, <J1 ''>, <G14 'Drugs Only'>, <I21 '*'>, <L4 '18 and over'>, <C5 1496.0>, <F2 ''>, <K4 'Under 18s'>, <K17 1964.0>, <E17 685.0>, <C4 'Drugs Only'>, <C21 ''>, <H5 1010.0>, <F20 88.8>, <G2 ''>, <G10 88.2>, <G13 ''>, <A10 'Non-residential (%)'>, <A17 'Non-residential '>, <A3 'Residential Status'>, <I1 ''>, <K5 185.0>, <E15 713.0>, <A8 'Mixed'>, <D21 ''>, <C19 ''>, <M4 'Total'>, <F9 9.4>, <I7 523.0>, <F21 '*'>, <H13 ''>, <E6 0.0>, <L13 ''>, <F4 '18 and over'>, <B7 1388.0>, <J19 6.4>, <I4 'Drugs Only'>, <E12 ''>, <M3 ''>, <H11 4.4>, <D19 ''>, <B6 108.0>, <J6 21.0>, <D8 44.0>, <L9 ''>, <M1 ''>, <M11 3.4>, <F14 'Alcohol Only'>, <J21 4.5>, <H10 90.0>, <I20 88.6>, <H3 'Female  '>, <D6 204.0>, <E2 ''>, <E11 4.5>, <M17 5341.0>, <F12 ''>, <D20 91.8>, <L5 1689.0>, <D14 'Drugs & Alcohol'>, <C15 324.0>, <H7 909.0>, <K11 3.4>, <D7 784.0>, <G20 96.0>, <C10 96.3>, <D4 'Drugs & Alcohol'>, <M20 89.5>, <F6 334.0>, <F15 2482.0>, <I6 5.0>, <J17 2297.0>, <D12 ''>, <H15 1062.0>, <B13 'Under 18 '>, <C16 ''>, <M8 63.0>, <F19 '*'>, <D2 ''>, <L20 79.6>, <C14 'Drugs Only'>, <E8 24.0>, <E21 '*'>, <L11 ''>, <B20 98.9>, <K1 ''>, <M7 1728.0>, <G6 334.0>, <C12 ''>, <G21 '*'>, <B9 6.9>, <I11 2.2>, <B16 '-'>, <G19 '*'>, <D16 ''>, <D5 1032.0>, <D15 294.0>, <D11 4.3>, <A20 'Non-residential (%)'>, <L1 ''>, <M10 92.2>, <H21 '*'>, <I9 0.9>, <J9 6.5>, <H2 ''>, <L3 ''>, <C9 1.5>, <F10 87.2>, <H20 76.3>, <C6 22.0>, <H19 '*'>, <J5 324.0>, <A1 'Table 3 – Breakdown by Residential Status'>, <J13 'Treatment Type'>, <K7 181.0>, <J12 ''>, <K21 2.2>, <I15 5256.0>, <B1 ''>, <F17 2203.0>, <C7 1441.0>, <J14 'Alcohol Only'>, <M18 211.0>, <B8 71.0>, <L18 51.0>, <I2 ''>, <L21 3.8>, <I5 540.0>, <K3 ''>, <J18 115.0>, <J7 296.0>, <B11 4.5>, <G8 148.0>, <I18 '*'>, <I12 ''>, <K20 96.5>, <D10 76.0>, <F3 ''>, <K10 97.8>, <H17 810.0>, <L19 16.6>, <F1 ''>, <I17 4656.0>, <B21 '*'>, <C17 321.0>, <G12 ''>, <F11 3.5>, <A13 'Residential Status'>, <J4 'Drugs & Alcohol'>, <J15 2577.0>, <L17 1080.0>, <G1 ''>, <K6 83.0>, <L7 1547.0>, <C18 ''>, <B15 95.0>, <E14 'Total'>, <K15 2036.0>, <K19 1.3>, <G3 ''>, <E5 528.0>, <H9 5.6>, <K14 'Drugs Only'>, <H12 ''>, <B17 94.0>, <M19 7.0>, <M14 ''>, <G17 1643.0>, <B19 '-'>, <F13 '18 and over'>, <D18 ''>, <J11 2.2>, <E19 '-'>, <M2 ''>, <D1 ''>, <E9 0.0>, <M12 ''>, <B3 'Male'>, <A16 'Residential'>, <E3 ''>, <C8 33.0>, <E18 '*'>, <E1 ''>},
 'Table 4': {<L7 285.0>, <C3 ''>, <I35 20.1>, <L8 257.0>, <E2 ''>, <L30 9.0>, <F15 13.0>, <H25 33.0>, <K32 24.3>, <B10 349.0>, <J14 5.9>, <C31 47.8>, <K14 11.4>, <D18 16.2>, <E18 0.0>, <L1 ''>, <A13 'Belfast (%)'>, <I23 5256.0>, <M7 306.0>, <H7 149.0>, <C32 4.9>, <J29 5.0>, <A8 'South Eastern'>, <F30 '*'>, <D9 189.0>, <F3 ''>, <K27 259.0>, <D22 'Drugs & Alcohol'>, <C17 15.0>, <G33 15.2>, <F14 18.5>, <G1 ''>, <I4 'Drugs Only'>, <B22 'Alcohol Only'>, <C29 ''>, <I34 19.4>, <F37 '*'>, <J24 464.0>, <C9 186.0>, <B14 18.8>, <M2 ''>, <B24 39.0>, <G37 '*'>, <H13 17.4>, <G17 18.9>, <M25 1023.0>, <K18 0.6>, <M11 11.0>, <M17 23.2>, <D4 'Drugs & Alcohol'>, <L11 ''>, <J33 13.6>, <G24 494.0>, <I7 138.0>, <B9 334.0>, <I11 0.0>, <M29 183.0>, <G30 '*'>, <J16 15.7>, <F25 434.0>, <J36 0.2>, <H35 23.4>, <C15 16.2>, <D32 17.7>, <F18 4.8>, <F8 462.0>, <G13 26.0>, <D6 292.0>, <A17 'Western (%)'>, <F7 661.0>, <G15 13.5>, <K34 12.7>, <G27 252.0>, <L2 ''>, <A32 'Northern (%)'>, <H36 '*'>, <K3 ''>, <I30 '*'>, <H10 267.0>, <F35 23.7>, <J6 93.0>, <L4 '18 and over'>, <B31 41.1>, <K4 'Under 18s'>, <I25 946.0>, <I1 ''>, <A35 'Western (%)'>, <A34 'Southern (%)'>, <L18 ''>, <M9 349.0>, <F17 18.5>, <G25 479.0>, <H32 3.1>, <E13 44.1>, <J21 'Treatment Type'>, <F36 '*'>, <C20 ''>, <M22 ''>, <A27 'Southern'>, <H3 'Female  '>, <C34 2.2>, <D26 38.0>, <C28 75.0>, <J20 ''>, <G10 773.0>, <K13 48.1>, <M1 ''>, <L21 ''>, <I6 166.0>, <C1 ''>, <G36 '*'>, <C22 'Drugs Only'>, <A31 'Belfast (%)'>, <E9 33.0>, <J35 23.9>, <A19 'Emergency admissions (HIS)  (%)'>, <B33 15.8>, <G20 ''>, <A6 'Belfast'>, <B16 21.3>, <L12 ''>, <G9 709.0>, <B35 29.5>, <L13 20.5>, <L27 240.0>, <H20 ''>, <H4 'Alcohol Only'>, <J15 15.1>, <B23 95.0>, <K10 37.0>, <G21 ''>, <M13 23.2>, <E20 ''>, <I8 86.0>, <G34 14.7>, <H37 '*'>, <D5 1032.0>, <E27 36.0>, <H1 ''>, <L6 346.0>, <C11 0.0>, <L16 20.5>, <J5 324.0>, <F20 ''>, <I33 13.7>, <B5 1567.0>, <D37 ''>, <C25 16.0>, <G19 2.6>, <F33 13.5>, <K8 30.0>, <M20 ''>, <K25 495.0>, <M24 1498.0>, <B19 6.3>, <J1 ''>, <C23 324.0>, <D8 113.0>, <E6 233.0>, <L28 297.0>, <C24 155.0>, <D23 294.0>, <M18 0.6>, <E12 0.0>, <H6 176.0>, <I17 13.1>, <B36 '-'>, <I22 'Total'>, <H11 0.0>, <B7 294.0>, <J28 616.0>, <B3 'Male'>, <D11 167.0>, <J37 5.4>, <C35 23.1>, <D1 ''>, <L14 16.9>, <D29 ''>, <I27 1022.0>, <F19 3.0>, <D12 5.0>, <E34 5.0>, <C33 21.3>, <F5 3567.0>, <D13 28.3>, <M6 435.0>, <J11 11.0>, <E10 114.0>, <J25 443.0>, <M31 25.1>, <M35 20.2>, <G11 172.0>, <A2 ''>, <B4 'Alcohol Only'>, <H21 ''>, <E23 713.0>, <A1 'Table 4 – Breakdown by Trust'>, <B30 '*'>, <F23 2482.0>, <E17 21.6>, <B15 12.6>, <I12 6.0>, <D35 16.3>, <F21 '18 and over'>, <I28 1057.0>, <H23 1062.0>, <H33 11.7>, <G5 4095.0>, <L24 385.0>, <A26 'South Eastern'>, <D14 6.4>, <I5 540.0>, <J9 51.0>, <K22 'Drugs Only'>, <M27 1058.0>, <J10 97.0>, <L17 23.6>, <J18 3.4>, <B8 198.0>, <J34 21.7>, <C14 23.9>, <E22 'Total'>, <F29 '*'>, <E31 45.2>, <C21 ''>, <F13 23.3>, <H5 1010.0>, <C37 ''>, <L31 28.4>, <F2 ''>, <D25 52.0>, <H17 26.4>, <L29 178.0>, <G2 ''>, <J30 140.0>, <F32 17.5>, <K12 51.0>, <A21 'Trust'>, <G35 12.9>, <M4 'Total'>, <H27 214.0>, <K21 ''>, <B11 5.0>, <A33 'South Eastern (%)'>, <K16 1.6>, <A18 'Prison (%)'>, <I26 719.0>, <K9 3.0>, <F11 172.0>, <E14 10.6>, <D7 66.0>, <H22 'Drugs & Alcohol'>, <J27 559.0>, <D30 ''>, <I31 22.4>, <C27 7.0>, <H9 225.0>, <C6 483.0>, <H24 257.0>, <F10 659.0>, <A9 'Southern'>, <C13 32.3>, <C26 69.0>, <H18 0.0>, <A30 'Emergency admissions (HIS)'>, <G18 4.2>, <I32 18.0>, <E26 122.0>, <K24 649.0>, <L37 0.7>, <I36 '*'>, <E33 17.1>, <I18 0.0>, <M10 435.0>, <M16 18.6>, <I15 15.9>, <H14 14.8>, <D28 48.0>, <G16 17.3>, <E36 '-'>, <I10 71.0>, <G4 'Total'>, <M26 841.0>, <H12 41.0>, <I24 1176.0>, <A4 ''>, <J3 ''>, <I13 30.7>, <J4 'Drugs & Alcohol'>, <B17 22.3>, <G12 107.0>, <L34 17.7>, <A14 'Northern (%)'>, <L20 ''>, <H30 '*'>, <A20 ''>, <D19 0.5>, <E30 '*'>, <K17 20.0>, <A3 'Trust'>, <C7 357.0>, <A25 'Northern'>, <E1 ''>, <A15 'South Eastern (%)'>, <E16 6.3>, <J22 'Alcohol Only'>, <D2 ''>, <K19 2.7>, <J13 28.7>, <F34 22.4>, <E32 10.8>, <I14 25.6>, <C12 3.0>, <K2 ''>, <E25 77.0>, <D24 128.0>, <G32 28.0>, <I21 ''>, <H8 152.0>, <F9 676.0>, <C19 0.2>, <A29 'Prison'>, <M5 1874.0>, <H19 4.1>, <K31 31.9>, <E35 21.2>, <M37 2.6>, <B29 '-'>, <I19 1.1>, <M28 1208.0>, <B27 3.0>, <F24 425.0>, <H15 15.0>, <E28 151.0>, <C4 'Drugs Only'>, <G6 1063.0>, <G28 220.0>, <B37 '*'>, <M34 17.7>, <J8 49.0>, <M32 17.1>, <L32 6.3>, <M33 14.1>, <M15 15.3>, <M12 51.0>, <D21 ''>, <H28 249.0>, <F16 19.0>, <E29 '-'>, <F28 588.0>, <A24 'Belfast'>, <M36 3.1>, <C36 ''>, <A12 'Emergency admissions (HIS)'>, <K15 16.2>, <A10 'Western'>, <F31 17.1>, <D20 ''>, <I37 '*'>, <B12 99.0>, <L23 1356.0>, <L5 1689.0>, <F6 830.0>, <A23 'Total'>, <K20 ''>, <F12 107.0>, <D3 ''>, <J7 19.0>, <K36 0.0>, <B20 ''>, <J23 2577.0>, <G29 '*'>, <K1 ''>, <D36 ''>, <G31 28.9>, <A7 'Northern'>, <J2 ''>, <I20 ''>, <G7 717.0>, <C2 ''>, <C8 243.0>, <L36 13.1>, <J17 29.9>, <B1 ''>, <D15 10.9>, <F22 'Alcohol Only'>, <L3 ''>, <B32 9.5>, <A5 'Total'>, <I29 '*'>, <M8 287.0>, <E8 92.0>, <I3 ''>, <K11 11.0>, <L9 346.0>, <I16 13.5>, <E21 ''>, <K29 0.0>, <B25 9.0>, <B26 15.0>, <C10 224.0>, <C18 0.0>, <M23 5969.0>, <F1 ''>, <H31 24.2>, <K33 16.2>, <L19 ''>, <J12 4.0>, <A28 'Western'>, <F4 '18 and over'>, <L35 21.9>, <M3 ''>, <G3 ''>, <K28 295.0>, <H26 124.0>, <A22 ''>, <E24 322.0>, <J26 350.0>, <M21 'Overall Total'>, <K37 0.4>, <D34 8.8>, <B34 3.2>, <J19 1.2>, <H16 22.3>, <E3 ''>, <I9 73.0>, <F26 335.0>, <K23 2036.0>, <G8 554.0>, <F27 556.0>, <L26 162.0>, <A37 'Emergency admissions (HIS) (%)'>, <L15 15.2>, <D27 26.0>, <D16 18.3>, <E15 17.4>, <A16 'Southern (%)'>, <L22 'Drugs & Alcohol'>, <J32 17.2>, <L10 398.0>, <B6 288.0>, <L33 11.9>, <K7 21.0>, <E19 0.0>, <E4 'Under 18s'>, <G26 260.0>, <J31 18.0>, <E7 56.0>, <B2 ''>, <G23 1712.0>, <H2 ''>, <D33 12.9>, <I2 ''>, <B21 'Under 18 '>, <D10 200.0>, <C5 1496.0>, <E37 '*'>, <K35 14.5>, <G14 17.5>, <H34 20.2>, <L25 85.0>, <K26 329.0>, <D17 19.4>, <B18 0.3>, <K30 9.0>, <M19 2.7>, <A11 'Prison'>, <K5 185.0>, <A36 'Prison (%)'>, <E11 0.0>, <M14 16.3>, <G22 'Drugs Only'>, <E5 528.0>, <C30 ''>, <H29 '*'>, <B13 18.4>, <K6 89.0>, <C16 12.4>, <D31 43.5>, <M30 158.0>, <B28 28.0>},

In [193]:
tables = []
for tab_name, script in [
    ('Table 1', 'Treatment Services by Age and Gender.ipynb'),
    ('Table 2', 'Treatment Services by Service Type(Age).ipynb'),
    ('Table 2', 'Treatment Services by Service Type(sex).ipynb'),
    ('Table 3', 'Treatment Services by Residential status(Age).ipynb'),
    ('Table 3', 'Treatment Services by Residential Status(sex).ipynb'),
    ('Table 4', 'Treatment Services by Trust(Age).ipynb'),
    ('Table 4', 'Treatment Services by Trust(sex).ipynb'),
    ('Table 5', 'Treatment Services by Comparison table.ipynb')
]:
    tab = tabs[tab_name]
    %run "$script"
    tables.append(new_table)

In [194]:
tidy = pd.concat(tables)
#tidy.to_csv('testCompare.csv', index = False)

In [195]:
tidy['Treatment Type'].fillna('Total', inplace = True)

In [196]:
tidy.count()

Period                          724
Sex                             724
Age                             724
Service Type                    724
Residential Status              724
Treatment Type                  724
Health and Social Care Trust    724
Measure Type                    724
Unit                            724
Value                           724
dtype: int64

In [197]:
tidy['Treatment Type'].unique()

array(['Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Total',
       'Under 18s', '18 and over'], dtype=object)

In [198]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,all,all,Alcohol Only,all,Count,People,95
1,1 March 2017,Persons,Under 18,all,all,Drugs Only,all,Count,People,324
2,1 March 2017,Persons,Under 18,all,all,Drugs & Alcohol,all,Count,People,294
3,1 March 2017,Persons,Under 18,all,all,Total,all,Count,People,713
4,1 March 2017,Persons,18 and over,all,all,Alcohol Only,all,Count,People,2482

In [199]:
#tidy = tidy[tidy['Treatment Type'] == 'Alcohol Only']

In [200]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,all,all,Alcohol Only,all,Count,People,95
1,1 March 2017,Persons,Under 18,all,all,Drugs Only,all,Count,People,324
2,1 March 2017,Persons,Under 18,all,all,Drugs & Alcohol,all,Count,People,294
3,1 March 2017,Persons,Under 18,all,all,Total,all,Count,People,713
4,1 March 2017,Persons,18 and over,all,all,Alcohol Only,all,Count,People,2482

In [201]:
tidy['Sex'].unique()
#tidy.to_csv('testCompare.csv', index = False)

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)',
       '% of Total', '% of all Males ', '% of all Females', 'Female  ',
       'All'], dtype=object)

In [202]:
tidy.drop(tidy[tidy.Sex.isin(['% of Total', '% of all Males ','% of all Females'])].index, inplace = True)

In [203]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  ',
       'All'], dtype=object)

In [204]:
tidy['Period'].unique()

array(['1 March 2017', '1st March 2007', '1st March 2010',
       '1st March 2012', '1st September2014', '1st March 2017'],
      dtype=object)

In [205]:
from datetime import datetime

In [206]:
tidy.Period = pd.to_datetime(tidy.Period).dt.strftime('%Y-%m-%d')

In [207]:
tidy['Period'] = str('day/') + tidy['Period']

In [208]:
tidy['Age'].unique()
#tidy.to_csv('testCompare.csv', index = False)

array(['Under 18 ', '18 and over', 'All Ages', 'All', 'Under 18'],
      dtype=object)

In [209]:
tidy['Age'] = tidy['Age'].map(
    lambda x: {
        'Under 18 ' : 'under-18', 
        '18 and over' : '18-plus',
        'All years': 'all' ,
        'All': 'all'
        }.get(x, x))

In [210]:
#tidy['Treatment Type'] = 'alcohol'
#tidy.to_csv('testCompare.csv', index = False)

In [211]:
def user_perc(x,y):
    
    if ( (str(x) == 'Statutory (%)')) | ((str(x) == 'Non-statutory (%)')) | ((str(x) == 'Prison (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Service Type'], row['Measure Type']), axis = 1)

In [212]:
def user_perc(x,y):
    
    if ( (str(x) == 'Residential (%)')) | ((str(x) == 'Non-residential (%)')) | ((str(x) == 'Mixed (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Residential Status'], row['Measure Type']), axis = 1)

In [213]:
tidy['Health and Social Care Trust'].unique()

array(['all', 'All', 'Belfast', 'Northern', 'South Eastern', 'Southern',
       'Western', 'Northern (%)', 'South Eastern (%)', 'Southern (%)',
       'Western (%)', 'Emergency admissions (HIS) (%)',
       'Emergency admissions (HIS)  (%)',
       'Belfast + Northern + South Eastern + Southern + Western',
       'Prison', 'Emergency admissions (HIS)'], dtype=object)

In [214]:
def user_perc(x,y):
    
    if ( (str(x) == 'Belfast (%)')) | ((str(x) == 'Northern (%)')) | ((str(x) == 'South Eastern (%)')) | ((str(x) == 'Southern (%)')) | ((str(x) == 'Western (%)')) | ((str(x) == 'Emergency admissions (HIS) (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [215]:
def user_perc(x,y):
    
    if  ((str(x) == 'Emergency admissions (HIS)  (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [216]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.rstrip(' (%)')

In [217]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.lower()

In [218]:
tidy['Health and Social Care Trust'].unique()

array(['all', 'belfast', 'northern', 'south eastern', 'southern',
       'western', 'emergency admissions (his',
       'belfast + northern + south eastern + southern + western',
       'prison'], dtype=object)

In [219]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'south eastern' : 'south-eastern', 
        'emergency admissions (his)' : 'emergency-admissions',
        'emergency admissions (his' : 'emergency-admissions'
        }.get(x, x))

In [220]:
tidy['Measure Type'] = tidy['Measure Type'].map(
    lambda x: {
        'Headcount' : 'Count', 
        'Percentage of Headcount' : 'Percentage',
        }.get(x, x))

In [221]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  ',
       'All'], dtype=object)

In [222]:
def user_perc(x,y):
    
    if ( (str(x) == 'Male (%)')) | ((str(x) == 'Female (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Sex'], row['Measure Type']), axis = 1)

In [223]:
tidy['Sex'] = tidy['Sex'].map(
    lambda x: {
        'Female' : 'F', 
        'Male' : 'M',
        'Persons' : 'T',
        'Female  ' : 'F',
        'Male (%)' : 'M',
        'Female (%)': 'F'
        }.get(x, x))

In [224]:
tidy['Sex'] = tidy['Sex'].str.rstrip('(%)')

In [225]:
tidy['Service Type'].unique()

array(['all', 'Statutory', 'Non-statutory', 'Prison', 'Statutory (%)',
       'Non-statutory (%)', 'Prison (%)', 'All'], dtype=object)

In [226]:
tidy['Service Type'] = tidy['Service Type'].map(
    lambda x: {
        'Total' : 'all',
        'total' : 'all'
        }.get(x, x))

In [227]:
tidy['Service Type'] = tidy['Service Type'].str.rstrip(' (%)')

In [228]:
tidy['Service Type'] = tidy['Service Type'].str.lower()

In [229]:
tidy['Residential Status'] = tidy['Residential Status'].str.rstrip(' (%)')

In [230]:
tidy['Residential Status'] = tidy['Residential Status'].str.lower()

In [231]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [232]:
tidy['Residential Status'] = tidy['Residential Status'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [233]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,day/2017-03-01,T,under-18,all,all,Alcohol Only,all,Count,People,95
1,day/2017-03-01,T,under-18,all,all,Drugs Only,all,Count,People,324
2,day/2017-03-01,T,under-18,all,all,Drugs & Alcohol,all,Count,People,294
3,day/2017-03-01,T,under-18,all,all,Total,all,Count,People,713
4,day/2017-03-01,T,18-plus,all,all,Alcohol Only,all,Count,People,2482

In [236]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
tidy.to_csv(out / 'observations.csv', index = False)
\tidy.to_csv('testCompare.csv', index = False)
tidy['Treatment Type'].unique()

array(['Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Total',
       'Under 18s', '18 and over'], dtype=object)

In [235]:
tidy[tidy['Measure Type'] != 'Percentage'].to_csv(out / 'observations-no-percentages.csv', index=False)

There's a metadata tab in the spreadsheet with abstract and contact details. **Todo: extract these and also figure out what the license should really be.**

In [46]:
md_tab = tabs['Metadata']
md_heading = md_tab.filter('Metadata')
md_heading.assert_one()
properties = md_heading.fill(DOWN).is_not_whitespace()
values = properties.fill(RIGHT).is_not_whitespace()
headings = properties - values.fill(LEFT)
properties = properties - headings
cs = ConversionSegment(values, [
    HDim(properties, "Property", DIRECTLY, LEFT),
    HDim(headings, "Heading", CLOSEST, UP)
], includecellxy=True)
savepreviewhtml(cs)

In [47]:
from gssutils.metadata import THEME

for i, row in cs.topandas().iterrows():
    v = md_tab.get_at(row.__x, row.__y).value.strip()
    if row.Property == 'Abstract':
        scraper.dataset.description = v
    elif row.Property == 'National Statistics Theme':
        scraper.dataset.theme = THEME[pathify(v)]
    elif row.Property == 'Keyword':
        scraper.dataset.keyword = map(lambda x: x.strip(), v.split(' '))
    elif row.Property == 'Email Address':
        scraper.dataset.contactEmail = f'mailto:{v}'

In [48]:
scraper.dataset.family = 'health'
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [49]:
tidy.to_csv('testCompare.csv', index = False)