Census of Drug and Alcohol Treatment Services in Northern Ireland

In [78]:
from gssutils import *
scraper = Scraper('https://www.health-ni.gov.uk/publications/census-drug-and-alcohol-treatment-services-northern-ireland-2017')
scraper

## Census of drug and alcohol treatment services in Northern Ireland 2017

### Distributions

1. Drug and Alcohol Census 2017 ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/health/drug-alcohol-census-2017.pdf))
1. Data from Census of Drug and Alcohol Treatment Services ([MS Excel Spreadsheet](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx))
1. Pre-release Access List Drug and Alcohol Census ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/pre-release-drug-alcohol-census.pdf))

In [79]:
tabs = {tab.name: tab for tab in scraper.distribution(
    title='Data from Census of Drug and Alcohol Treatment Services').as_databaker()}
tabs.keys()
tabs

{'Contents & Notes to tables': {<B6 'Breakdown by Age and Gender'>, <A4 'Contents'>, <A16 ''>, <B4 ''>, <A19 3.0>, <B9 'Breakdown by Trust'>, <B1 ''>, <A8 'Table 3'>, <B17 'A dashed line (-) represents a cell count of less than three and a * represents a cell that has been masked. This is in order to avoid issues involving personal disclosure, where it may be possible to identify an individual from the data provided.  '>, <A6 'Table 1'>, <B2 ''>, <A14 ''>, <A9 'Table 4'>, <A15 'Notes to Tables'>, <A13 ''>, <B15 ''>, <A12 ''>, <B16 ''>, <B7 'Breakdown by Service Type'>, <A18 2.0>, <A11 ''>, <B13 ''>, <A1 'Census of Drug and Alcohol Treatment Services in Northern Ireland:'>, <A17 1.0>, <B18 'All percentages are rounded to the nearest percentage point.'>, <B14 ''>, <B11 ''>, <A5 ''>, <B8 'Breakdown by Residential Status'>, <B10 'Comparison Table'>, <A10 'Table 5'>, <B12 ''>, <B19 'Hospital Information System (HIS) figures relate to the number of emergency admissions to HSC hospitals for only drug-related conditions, only alcohol-related conditions or both drug and alcohol-related conditions, excluding admissions under specialties for mental health and learning disabilities.\xa0 These figures are as at 1st September 2016.'>, <A3 ''>, <B5 ''>, <A7 'Table 2'>, <B3 ''>, <A2 '1 March 2017'>},
 'Table 1': {<M2 ''>, <D1 ''>, <B12 34.6>, <B5 95.0>, <D3 ''>, <J8 60.8>, <B8 32.6>, <H6 810.0>, <M5 5969.0>, <J6 1567.0>, <J11 38.3>, <B9 67.4>, <C2 ''>, <C1 ''>, <L2 ''>, <D7 72.0>, <C3 ''>, <H9 23.7>, <K10 34.1>, <F3 '18 and over'>, <A1 'Table 1 – Breakdown by Age and Gender'>, <K2 ''>, <I11 100.0>, <J4 'Alcohol Only'>, <I10 100.0>, <B2 ''>, <I9 32.1>, <A5 'Total'>, <M3 'Overall Total'>, <D11 42.0>, <A4 ''>, <F11 43.1>, <A2 ''>, <H1 ''>, <L10 22.7>, <J1 ''>, <M7 1874.0>, <H3 ''>, <J2 ''>, <F10 47.2>, <M6 4095.0>, <G2 ''>, <I3 ''>, <L4 'Drugs & Alcohol'>, <C12 26.5>, <I4 'Total'>, <I1 ''>, <M9 31.4>, <H10 20.2>, <G8 71.3>, <J9 39.2>, <E11 100.0>, <L5 1356.0>, <F2 ''>, <F5 2482.0>, <C7 49.0>, <M8 68.6>, <F7 946.0>, <L8 76.1>, <J3 'Treatment Type'>, <K4 'Drugs Only'>, <F6 1536.0>, <F12 56.0>, <A6 'Male'>, <C10 45.4>, <E2 ''>, <A8 'Male (%)'>, <H5 1062.0>, <E6 528.0>, <M11 100.0>, <H11 22.7>, <E5 713.0>, <J12 53.9>, <K8 73.5>, <M1 ''>, <D2 ''>, <A12 '% of all Females'>, <H8 76.3>, <B11 5.9>, <L12 17.3>, <E7 185.0>, <D6 222.0>, <G6 1221.0>, <K7 540.0>, <C11 52.1>, <C4 'Drugs Only'>, <L1 ''>, <I5 5256.0>, <I6 3567.0>, <H12 14.9>, <L3 ''>, <C8 84.9>, <G7 491.0>, <C5 324.0>, <D9 24.5>, <L6 1032.0>, <B6 31.0>, <J7 1010.0>, <I12 100.0>, <D5 294.0>, <B1 ''>, <K1 ''>, <K11 36.5>, <H7 252.0>, <K3 ''>, <D10 41.2>, <A3 'Gender'>, <D4 'Drugs & Alcohol'>, <K5 2036.0>, <D8 75.5>, <E9 25.9>, <G12 29.1>, <H2 ''>, <B4 'Alcohol Only'>, <L9 23.9>, <I7 1689.0>, <D12 38.9>, <G4 'Drugs Only'>, <K6 1496.0>, <G9 28.7>, <L11 25.2>, <G1 ''>, <I2 ''>, <G10 32.6>, <G3 ''>, <A10 '% of Total'>, <F9 38.1>, <B3 'Under 18 '>, <C9 15.1>, <E12 100.0>, <F1 ''>, <E10 100.0>, <K9 26.5>, <B10 13.3>, <A11 '% of all Males '>, <A9 'Female (%)'>, <E8 74.1>, <E3 ''>, <H4 'Drugs & Alcohol'>, <E4 'Total'>, <K12 28.8>, <M12 100.0>, <J10 43.2>, <E1 ''>, <F4 'Alcohol Only'>, <I8 67.9>, <A7 'Female'>, <M10 100.0>, <J5 2577.0>, <B7 64.0>, <G11 34.2>, <M4 ''>, <G5 1712.0>, <F8 61.9>, <C6 275.0>, <L7 324.0>},
 'Table 2': {<D5 1032.0>, <D15 294.0>, <F16 '*'>, <B12 ''>, <M2 ''>, <K17 724.0>, <J1 ''>, <I19 '*'>, <E14 'Total'>, <F18 '*'>, <G4 'Total'>, <D1 ''>, <B19 '*'>, <M13 'Overall Total'>, <J20 33.1>, <D12 ''>, <L4 '18 and over'>, <E10 81.8>, <I6 387.0>, <L15 1356.0>, <I3 ''>, <I17 1606.0>, <K20 35.6>, <G10 36.7>, <H12 ''>, <G18 '*'>, <G3 ''>, <B14 'Alcohol Only'>, <G21 '*'>, <A9 'Statutory (%)'>, <C15 324.0>, <B8 5.0>, <C20 90.7>, <E7 432.0>, <G8 172.0>, <E21 '-'>, <J15 2577.0>, <L2 ''>, <C9 61.8>, <G12 ''>, <K10 80.0>, <M16 3600.0>, <C18 ''>, <I11 0.0>, <F1 ''>, <A13 'Service Type'>, <C19 '*'>, <F12 ''>, <A2 ''>, <K19 64.4>, <M19 60.3>, <F14 'Alcohol Only'>, <I9 71.7>, <D10 42.3>, <D20 68.7>, <G9 59.1>, <J10 53.1>, <E12 ''>, <G14 'Drugs Only'>, <M3 ''>, <D3 ''>, <M21 3.1>, <L13 ''>, <M7 685.0>, <J9 43.5>, <H3 'Female  '>, <G11 4.2>, <I12 ''>, <J19 66.7>, <J21 0.2>, <I1 ''>, <B21 '-'>, <M15 5969.0>, <D21 ''>, <K4 'Under 18s'>, <D14 'Drugs & Alcohol'>, <C1 ''>, <I7 153.0>, <K12 ''>, <G2 ''>, <B20 88.4>, <E19 '*'>, <D11 16.2>, <B9 68.2>, <B18 '-'>, <C21 ''>, <L20 44.9>, <I10 28.3>, <C16 '*'>, <L1 ''>, <C5 1496.0>, <E4 'Under 18s'>, <J16 1719.0>, <D18 ''>, <C11 0.0>, <J6 141.0>, <E17 580.0>, <K9 18.9>, <D17 202.0>, <B2 ''>, <C6 925.0>, <J17 853.0>, <H9 64.4>, <J14 'Alcohol Only'>, <A8 'Prison'>, <B5 1567.0>, <L6 1143.0>, <L16 569.0>, <C14 'Drugs Only'>, <M14 ''>, <I14 'Total'>, <D19 '*'>, <F15 2482.0>, <B17 84.0>, <E20 81.3>, <A5 'Total'>, <M20 36.6>, <F13 '18 and over'>, <B15 95.0>, <J2 ''>, <H15 1062.0>, <K18 0.0>, <D7 437.0>, <A6 'Statutory'>, <F11 4.8>, <A18 'Prison'>, <E2 ''>, <E6 96.0>, <L5 1689.0>, <H1 ''>, <A7 'Non-statutory'>, <D9 41.5>, <E8 0.0>, <G5 4095.0>, <B10 31.5>, <E13 ''>, <H14 'Drugs & Alcohol'>, <M5 1874.0>, <F7 1069.0>, <M4 'Total'>, <L12 ''>, <B4 'Alcohol Only'>, <M1 ''>, <H4 'Alcohol Only'>, <F6 2326.0>, <A11 'Prison (%)'>, <D13 ''>, <K16 1312.0>, <L18 178.0>, <G6 2422.0>, <F19 '*'>, <F20 31.0>, <K13 ''>, <H7 360.0>, <H6 650.0>, <J8 11.0>, <K8 11.0>, <C10 38.2>, <H20 38.3>, <M9 62.9>, <A19 'Statutory (%)'>, <H11 0.0>, <C3 ''>, <K11 0.6>, <I2 ''>, <J12 ''>, <I4 'Drugs Only'>, <K5 185.0>, <H13 ''>, <F9 65.2>, <B1 ''>, <C13 ''>, <G15 1712.0>, <G19 '*'>, <F21 '*'>, <D6 428.0>, <H5 1010.0>, <H17 407.0>, <A21 'Prison (%)'>, <J5 324.0>, <K7 148.0>, <C17 294.0>, <F8 172.0>, <L3 ''>, <F10 30.0>, <A17 'Non-statutory'>, <D4 'Drugs & Alcohol'>, <I21 '*'>, <F2 ''>, <M12 ''>, <E3 ''>, <M11 0.6>, <A1 'Table 2 – Breakdown by Service Type'>, <K1 ''>, <F17 769.0>, <C12 ''>, <C4 'Drugs Only'>, <D2 ''>, <C7 571.0>, <J3 ''>, <E11 0.0>, <L11 ''>, <I13 ''>, <L14 'Drugs & Alcohol'>, <B3 'Male'>, <L9 67.7>, <E5 528.0>, <A4 ''>, <B7 493.0>, <H18 '*'>, <G17 430.0>, <L10 31.8>, <K15 2036.0>, <J7 172.0>, <K21 0.0>, <D8 167.0>, <A14 ''>, <H8 0.0>, <B6 1069.0>, <A3 'Service Type'>, <A15 'Total'>, <A12 ''>, <H16 '*'>, <G1 ''>, <M10 36.6>, <A16 'Statutory'>, <E18 '-'>, <G20 25.1>, <K6 35.0>, <J13 'Treatment Type'>, <L8 ''>, <B13 'Under 18 '>, <K14 'Drugs Only'>, <C8 0.0>, <L17 609.0>, <M17 2186.0>, <I18 '*'>, <F3 ''>, <E9 18.2>, <L19 42.0>, <C2 ''>, <D16 '*'>, <I16 '*'>, <K3 ''>, <J4 'Drugs & Alcohol'>, <I5 540.0>, <H10 35.6>, <J11 3.4>, <K2 ''>, <A20 'Non-statutory (%)'>, <I20 30.6>, <M6 1178.0>, <J18 5.0>, <F4 '18 and over'>, <L7 537.0>, <H21 '*'>, <L21 13.1>, <B16 '*'>, <I15 5256.0>, <A10 'Non-statutory (%)'>, <E15 713.0>, <E16 '*'>, <G13 ''>, <H19 '*'>, <F5 3567.0>, <I8 0.0>, <M18 183.0>, <B11 0.3>, <E1 ''>, <G7 1501.0>, <M8 11.0>, <H2 ''>, <G16 '*'>},
 'Table 3': {<H16 '*'>, <A11 'Mixed (%)'>, <G1 ''>, <K6 83.0>, <E12 ''>, <M3 ''>, <E15 713.0>, <G3 ''>, <C19 ''>, <L8 ''>, <I7 523.0>, <I18 '*'>, <K18 45.0>, <J21 4.5>, <F17 2203.0>, <M18 211.0>, <L2 ''>, <H10 90.0>, <B8 71.0>, <H2 ''>, <B16 '-'>, <G16 '*'>, <L18 51.0>, <I16 '*'>, <C6 22.0>, <K3 ''>, <J4 'Drugs & Alcohol'>, <I5 540.0>, <H11 4.4>, <F12 ''>, <J7 296.0>, <B11 4.5>, <M2 ''>, <B6 108.0>, <K7 181.0>, <D8 44.0>, <D19 ''>, <E9 0.0>, <M11 3.4>, <E19 '-'>, <E14 'Total'>, <K21 2.2>, <J10 91.4>, <F18 '*'>, <C7 1441.0>, <M16 417.0>, <H21 '*'>, <L21 3.8>, <G14 'Drugs Only'>, <D12 ''>, <J8 7.0>, <C5 1496.0>, <L15 1356.0>, <K17 1964.0>, <J20 89.1>, <K8 63.0>, <H3 'Female  '>, <M8 63.0>, <I12 ''>, <F5 3567.0>, <L20 79.6>, <B20 98.9>, <B14 'Alcohol Only'>, <G21 '*'>, <A9 'Residential (%)'>, <E18 '*'>, <H6 57.0>, <A1 'Table 3 – Breakdown by Residential Status'>, <L7 1547.0>, <K19 1.3>, <G12 ''>, <D11 4.3>, <F20 88.8>, <A2 ''>, <G4 'Total'>, <M6 83.0>, <J9 6.5>, <C11 2.2>, <I11 2.2>, <E4 'Under 18s'>, <H12 ''>, <G5 4095.0>, <G18 '*'>, <B17 94.0>, <M5 1874.0>, <K9 4.4>, <M19 7.0>, <L13 ''>, <B19 '-'>, <B2 ''>, <B10 88.6>, <I20 88.6>, <J14 'Alcohol Only'>, <A16 'Residential'>, <K4 'Under 18s'>, <E10 95.5>, <J6 21.0>, <H7 909.0>, <L9 ''>, <D14 'Drugs & Alcohol'>, <F13 '18 and over'>, <C1 ''>, <D7 784.0>, <G20 96.0>, <K20 96.5>, <K12 ''>, <M20 89.5>, <C3 ''>, <B21 '*'>, <I2 ''>, <E2 ''>, <C13 ''>, <L5 1689.0>, <G8 148.0>, <C21 ''>, <D9 19.8>, <H5 1010.0>, <D3 ''>, <I10 96.9>, <M21 3.5>, <L12 ''>, <B4 'Alcohol Only'>, <H17 810.0>, <H4 'Alcohol Only'>, <D13 ''>, <L19 16.6>, <I1 ''>, <B9 6.9>, <L6 ''>, <M15 5969.0>, <F2 ''>, <D21 ''>, <C16 ''>, <E17 685.0>, <F9 9.4>, <E8 24.0>, <C14 'Drugs Only'>, <M14 ''>, <G2 ''>, <K1 ''>, <M7 1728.0>, <G10 88.2>, <B7 1388.0>, <G6 334.0>, <C12 ''>, <C4 'Drugs Only'>, <B15 95.0>, <I4 'Drugs Only'>, <J2 ''>, <K5 185.0>, <F21 '*'>, <A21 'Mixed (%)'>, <E5 528.0>, <H9 5.6>, <D16 ''>, <L1 ''>, <H1 ''>, <L3 ''>, <C9 1.5>, <F10 87.2>, <D18 ''>, <I21 '*'>, <M17 5341.0>, <K16 27.0>, <M4 'Total'>, <E21 '*'>, <K11 3.4>, <M1 ''>, <F19 '*'>, <G11 3.6>, <B5 1567.0>, <A7 'Non-residential '>, <M9 4.4>, <I14 'Total'>, <F15 2482.0>, <K10 97.8>, <A5 'Total'>, <J13 'Treatment Type'>, <K14 'Drugs Only'>, <B13 'Under 18 '>, <E16 '-'>, <H15 1062.0>, <J18 115.0>, <I13 ''>, <L14 'Drugs & Alcohol'>, <B3 'Male'>, <A4 ''>, <L10 91.6>, <H18 '*'>, <G15 1712.0>, <C10 96.3>, <D10 76.0>, <G7 3613.0>, <F6 334.0>, <L16 225.0>, <E13 ''>, <H14 'Drugs & Alcohol'>, <C20 99.1>, <C17 321.0>, <E20 96.1>, <A8 'Mixed'>, <A13 'Residential Status'>, <D4 'Drugs & Alcohol'>, <A20 'Non-residential (%)'>, <M10 92.2>, <H8 44.0>, <G13 ''>, <A17 'Non-residential '>, <I9 0.9>, <H19 '*'>, <F8 124.0>, <K13 ''>, <H20 76.3>, <B18 '*'>, <A10 'Non-residential (%)'>, <C2 ''>, <D5 1032.0>, <J12 ''>, <D15 294.0>, <F16 '*'>, <H13 ''>, <B1 ''>, <G19 '*'>, <G17 1643.0>, <J19 6.4>, <F7 3109.0>, <J11 2.2>, <J5 324.0>, <A14 ''>, <F4 '18 and over'>, <D1 ''>, <G9 8.2>, <M13 'Overall Total'>, <A15 'Total'>, <J16 165.0>, <D17 270.0>, <A18 'Mixed'>, <A12 ''>, <I15 5256.0>, <M12 ''>, <I3 ''>, <E3 ''>, <C8 33.0>, <D6 204.0>, <E11 4.5>, <I17 4656.0>, <D20 91.8>, <E1 ''>, <C15 324.0>, <F11 3.5>, <D2 ''>, <J3 ''>, <L11 ''>, <J15 2577.0>, <F3 ''>, <E7 504.0>, <B12 ''>, <L17 1080.0>, <C18 ''>, <J1 ''>, <I19 '*'>, <I6 5.0>, <F1 ''>, <K15 2036.0>, <I8 12.0>, <A6 'Residential'>, <J17 2297.0>, <A3 'Residential Status'>, <A19 'Residential (%)'>, <F14 'Alcohol Only'>, <K2 ''>, <L4 '18 and over'>, <E6 0.0>},
 'Table 4': {<L10 398.0>, <A11 'Prison'>, <B15 12.6>, <I12 6.0>, <E17 21.6>, <D35 16.3>, <E19 0.0>, <J31 18.0>, <D14 6.4>, <D33 12.9>, <J18 3.4>, <J34 21.7>, <D10 200.0>, <A18 'Prison (%)'>, <J21 'Treatment Type'>, <E31 45.2>, <F13 23.3>, <G14 17.5>, <M17 23.2>, <L25 85.0>, <J33 13.6>, <L31 28.4>, <D25 52.0>, <M19 2.7>, <C12 3.0>, <B9 334.0>, <K12 51.0>, <L4 '18 and over'>, <D24 128.0>, <J36 0.2>, <H35 23.4>, <E29 '-'>, <D32 17.7>, <A25 'Northern'>, <A14 'Northern (%)'>, <A34 'Southern (%)'>, <G13 26.0>, <C19 0.2>, <G36 '*'>, <K16 1.6>, <I26 719.0>, <E37 '*'>, <K9 3.0>, <M5 1874.0>, <F11 172.0>, <L2 ''>, <M4 'Total'>, <E22 'Total'>, <A19 'Emergency admissions (HIS)  (%)'>, <D31 43.5>, <M30 158.0>, <G30 '*'>, <I19 1.1>, <H10 267.0>, <B21 'Under 18 '>, <C27 7.0>, <H9 225.0>, <H15 15.0>, <F15 13.0>, <H25 33.0>, <M32 17.1>, <H18 0.0>, <M15 15.3>, <G18 4.2>, <M12 51.0>, <I32 18.0>, <L18 ''>, <K32 24.3>, <M9 349.0>, <F17 18.5>, <G25 479.0>, <J14 5.9>, <E33 17.1>, <F28 588.0>, <C4 'Drugs Only'>, <D18 16.2>, <L1 ''>, <I23 5256.0>, <C22 'Drugs Only'>, <A28 'Western'>, <K15 16.2>, <C32 4.9>, <D20 ''>, <A5 'Total'>, <F36 '*'>, <D9 189.0>, <L5 1689.0>, <F6 830.0>, <K20 ''>, <G20 ''>, <A13 'Belfast (%)'>, <I30 '*'>, <H37 '*'>, <K36 0.0>, <G1 ''>, <A15 'South Eastern (%)'>, <A29 'Prison'>, <K1 ''>, <D36 ''>, <M13 23.2>, <H29 '*'>, <A31 'Belfast (%)'>, <I37 '*'>, <L36 13.1>, <J17 29.9>, <D19 0.5>, <M2 ''>, <L6 346.0>, <D15 10.9>, <K17 20.0>, <C7 357.0>, <M11 11.0>, <C25 16.0>, <A3 'Trust'>, <D2 ''>, <J13 28.7>, <I29 '*'>, <F34 22.4>, <M20 ''>, <K25 495.0>, <M24 1498.0>, <J1 ''>, <B36 '-'>, <F1 ''>, <K2 ''>, <E25 77.0>, <E6 233.0>, <C15 16.2>, <H8 152.0>, <C24 155.0>, <A26 'South Eastern'>, <G27 252.0>, <M3 ''>, <A22 ''>, <E24 322.0>, <J26 350.0>, <F35 23.7>, <C35 23.1>, <D1 ''>, <A35 'Western (%)'>, <K22 'Drugs Only'>, <G6 1063.0>, <A16 'Southern (%)'>, <F19 3.0>, <J8 49.0>, <K23 2036.0>, <L32 6.3>, <M33 14.1>, <G8 554.0>, <I1 ''>, <A17 'Western (%)'>, <D16 18.3>, <J25 443.0>, <E15 17.4>, <E13 44.1>, <C20 ''>, <H21 ''>, <J32 17.2>, <C36 ''>, <B6 288.0>, <I28 1057.0>, <K7 21.0>, <G26 260.0>, <G5 4095.0>, <L24 385.0>, <F31 17.1>, <E7 56.0>, <B2 ''>, <G23 1712.0>, <C1 ''>, <J10 97.0>, <I2 ''>, <B33 15.8>, <B16 21.3>, <B20 ''>, <A10 'Western'>, <A21 'Trust'>, <L13 20.5>, <L27 240.0>, <D17 19.4>, <B37 '*'>, <G31 28.9>, <G21 ''>, <I20 ''>, <E20 ''>, <F32 17.5>, <C8 243.0>, <K5 185.0>, <E11 0.0>, <B1 ''>, <G35 12.9>, <H27 214.0>, <K21 ''>, <J5 324.0>, <B11 5.0>, <M8 287.0>, <B5 1567.0>, <D37 ''>, <D7 66.0>, <J27 559.0>, <K11 11.0>, <D30 ''>, <L7 285.0>, <L9 346.0>, <K29 0.0>, <C10 224.0>, <B19 6.3>, <B3 'Male'>, <I22 'Total'>, <I36 '*'>, <H31 24.2>, <F10 659.0>, <L28 297.0>, <C13 32.3>, <C26 69.0>, <L35 21.9>, <H11 0.0>, <E26 122.0>, <B30 '*'>, <E30 '*'>, <L37 0.7>, <J37 5.4>, <M16 18.6>, <L14 16.9>, <G29 '*'>, <H7 149.0>, <G16 17.3>, <J29 5.0>, <F27 556.0>, <H22 'Drugs & Alcohol'>, <A4 ''>, <L15 15.2>, <E10 114.0>, <D27 26.0>, <K27 259.0>, <M35 20.2>, <G11 172.0>, <A2 ''>, <L22 'Drugs & Alcohol'>, <C17 15.0>, <F14 18.5>, <H33 11.7>, <H2 ''>, <A7 'Northern'>, <J4 'Drugs & Alcohol'>, <I5 540.0>, <J9 51.0>, <C29 ''>, <I34 19.4>, <A20 ''>, <J24 464.0>, <C9 186.0>, <B14 18.8>, <B24 39.0>, <F37 '*'>, <A32 'Northern (%)'>, <G17 18.9>, <C21 ''>, <M25 1023.0>, <K35 14.5>, <E1 ''>, <C37 ''>, <E16 6.3>, <K26 329.0>, <K19 2.7>, <F29 '*'>, <K30 9.0>, <E32 10.8>, <I14 25.6>, <L29 178.0>, <G2 ''>, <I7 138.0>, <M29 183.0>, <M14 16.3>, <H30 '*'>, <D6 292.0>, <G15 13.5>, <K34 12.7>, <B13 18.4>, <E14 10.6>, <H19 4.1>, <K31 31.9>, <E35 21.2>, <M37 2.6>, <I35 20.1>, <M28 1208.0>, <L30 9.0>, <F24 425.0>, <B31 41.1>, <E28 151.0>, <H3 'Female  '>, <G28 220.0>, <M34 17.7>, <B4 'Alcohol Only'>, <D4 'Drugs & Alcohol'>, <G22 'Drugs Only'>, <F16 19.0>, <K24 649.0>, <A9 'Southern'>, <C31 47.8>, <K14 11.4>, <M10 435.0>, <I4 'Drugs Only'>, <I15 15.9>, <M22 ''>, <M7 306.0>, <A24 'Belfast'>, <D28 48.0>, <D22 'Drugs & Alcohol'>, <A36 'Prison (%)'>, <C34 2.2>, <J20 ''>, <G10 773.0>, <I6 166.0>, <L21 ''>, <H12 41.0>, <I24 1176.0>, <B12 99.0>, <L23 1356.0>, <E9 33.0>, <J3 ''>, <J35 23.9>, <F3 ''>, <G12 107.0>, <F12 107.0>, <L12 ''>, <H4 'Alcohol Only'>, <G33 15.2>, <B35 29.5>, <H20 ''>, <J15 15.1>, <B23 95.0>, <L20 ''>, <A27 'Southern'>, <C2 ''>, <D5 1032.0>, <A12 'Emergency admissions (HIS)'>, <L3 ''>, <B32 9.5>, <H13 17.4>, <F4 '18 and over'>, <I33 13.7>, <K18 0.6>, <G37 '*'>, <I3 ''>, <L11 ''>, <I16 13.5>, <E21 ''>, <B26 15.0>, <G24 494.0>, <A37 'Emergency admissions (HIS) (%)'>, <C18 0.0>, <M23 5969.0>, <I11 0.0>, <J16 15.7>, <F25 434.0>, <G4 'Total'>, <K33 16.2>, <G32 28.0>, <L19 ''>, <I21 ''>, <F8 462.0>, <F18 4.8>, <J12 4.0>, <F9 676.0>, <F7 661.0>, <E12 0.0>, <I17 13.1>, <G3 ''>, <F21 '18 and over'>, <H26 124.0>, <K28 295.0>, <B7 294.0>, <K3 ''>, <F22 'Alcohol Only'>, <A23 'Total'>, <J28 616.0>, <K4 'Under 18s'>, <B27 3.0>, <J6 93.0>, <K37 0.4>, <A30 'Emergency admissions (HIS)'>, <D34 8.8>, <B34 3.2>, <D29 ''>, <H16 22.3>, <E34 5.0>, <I25 946.0>, <L26 162.0>, <D21 ''>, <H28 249.0>, <M6 435.0>, <H32 3.1>, <M31 25.1>, <B22 'Alcohol Only'>, <M36 3.1>, <E23 713.0>, <F23 2482.0>, <L33 11.9>, <A1 'Table 4 – Breakdown by Trust'>, <E4 'Under 18s'>, <H23 1062.0>, <D26 38.0>, <C28 75.0>, <K13 48.1>, <E36 '-'>, <M1 ''>, <M27 1058.0>, <L17 23.6>, <B8 198.0>, <C14 23.9>, <B29 '-'>, <C5 1496.0>, <D3 ''>, <J7 19.0>, <H5 1010.0>, <G9 709.0>, <H34 20.2>, <A6 'Belfast'>, <J23 2577.0>, <F2 ''>, <B18 0.3>, <H17 26.4>, <K10 37.0>, <J2 ''>, <G7 717.0>, <I8 86.0>, <J30 140.0>, <A8 'South Eastern'>, <G34 14.7>, <E27 36.0>, <H1 ''>, <E5 528.0>, <C30 ''>, <C11 0.0>, <L16 20.5>, <F20 ''>, <K6 89.0>, <E8 92.0>, <C16 12.4>, <G19 2.6>, <F33 13.5>, <B28 28.0>, <I31 22.4>, <K8 30.0>, <C3 ''>, <L8 257.0>, <B25 9.0>, <E2 ''>, <C23 324.0>, <C6 483.0>, <D8 113.0>, <F30 '*'>, <H24 257.0>, <D23 294.0>, <M18 0.6>, <H6 176.0>, <B10 349.0>, <M21 'Overall Total'>, <I18 0.0>, <D11 167.0>, <E18 0.0>, <H36 '*'>, <J22 'Alcohol Only'>, <H14 14.8>, <J19 1.2>, <E3 ''>, <I27 1022.0>, <I9 73.0>, <F26 335.0>, <I10 71.0>, <D12 5.0>, <C33 21.3>, <F5 3567.0>, <D13 28.3>, <M26 841.0>, <J11 11.0>, <I13 30.7>, <B17 22.3>, <A33 'South Eastern (%)'>, <L34 17.7>},

In [80]:
tables = []
for tab_name, script in [
    ('Table 1', 'Treatment Services by Age and Gender.ipynb'),
    ('Table 2', 'Treatment Services by Service Type(Age).ipynb'),
    ('Table 2', 'Treatment Services by Service Type(sex).ipynb'),
    ('Table 3', 'Treatment Services by Residential status(Age).ipynb'),
    ('Table 3', 'Treatment Services by Residential Status(sex).ipynb'),
    ('Table 4', 'Treatment Services by Trust(Age).ipynb'),
    ('Table 4', 'Treatment Services by Trust(sex).ipynb'))
]:
    tab = tabs[tab_name]
    %run "$script"
    tables.append(new_table)

In [84]:
tidy = pd.concat(tables)
tidy.count()
tables[7].to_csv('testCompareCC.csv', index = False)

In [11]:
tidy['Treatment Type'].fillna('Total', inplace = True)

In [12]:
tidy.count()

Period                          724
Sex                             724
Age                             724
Service Type                    724
Residential Status              724
Treatment Type                  724
Health and Social Care Trust    724
Measure Type                    724
Unit                            724
Value                           724
dtype: int64

In [13]:
tidy['Treatment Type'].unique()

array(['Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Total',
       'Under 18s', '18 and over', 'All'], dtype=object)

In [14]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,All,Count,People,95
1,1 March 2017,Persons,Under 18,All,All,Drugs Only,All,Count,People,324
2,1 March 2017,Persons,Under 18,All,All,Drugs & Alcohol,All,Count,People,294
3,1 March 2017,Persons,Under 18,All,All,Total,All,Count,People,713
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,All,Count,People,2482

In [15]:
tidy = tidy[tidy['Treatment Type'] == 'Alcohol Only']

In [16]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,All,Count,People,95
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,All,Count,People,2482
8,1 March 2017,Persons,All Ages,All,All,Alcohol Only,All,Count,People,2577
12,1 March 2017,Male,Under 18,All,All,Alcohol Only,All,Count,People,31
16,1 March 2017,Male,18 and over,All,All,Alcohol Only,All,Count,People,1536

In [17]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)',
       '% of Total', '% of all Males ', '% of all Females', 'Female  ',
       'All'], dtype=object)

In [18]:
tidy.drop(tidy[tidy.Sex.isin(['% of Total', '% of all Males ','% of all Females'])].index, inplace = True)

In [19]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  ',
       'All'], dtype=object)

In [20]:
tidy['Period'].unique()

array(['1 March 2017', '1st March 2007', '1st March 2010',
       '1st March 2012', '1st September2014'], dtype=object)

In [21]:
from datetime import datetime

In [22]:
tidy.Period = pd.to_datetime(tidy.Period).dt.strftime('%Y-%m-%d')

In [23]:
tidy['Period'] = str('day/') + tidy['Period']

In [24]:
tidy['Age'].unique()

array(['Under 18 ', '18 and over', 'All Ages', 'All'], dtype=object)

In [25]:
tidy['Age'] = tidy['Age'].map(
    lambda x: {
        'Under 18 ' : 'under-18', 
        '18 and over' : '18-plus',
        'All years': 'all' ,
        'All': 'all'
        }.get(x, x))

In [26]:
tidy['Treatment Type'] = 'alcohol'

In [27]:
def user_perc(x,y):
    
    if ( (str(x) == 'Statutory (%)')) | ((str(x) == 'Non-statutory (%)')) | ((str(x) == 'Prison (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Service Type'], row['Measure Type']), axis = 1)

In [28]:
def user_perc(x,y):
    
    if ( (str(x) == 'Residential (%)')) | ((str(x) == 'Non-residential (%)')) | ((str(x) == 'Mixed (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Residential Status'], row['Measure Type']), axis = 1)

In [29]:
tidy['Health and Social Care Trust'].unique()

array(['All', 'Belfast', 'Northern', 'South Eastern', 'Southern',
       'Western', 'Northern (%)', 'South Eastern (%)', 'Southern (%)',
       'Western (%)', 'Emergency admissions (HIS) (%)',
       'Emergency admissions (HIS)', 'Belfast (%)',
       'Emergency admissions (HIS)  (%)'], dtype=object)

In [30]:
def user_perc(x,y):
    
    if ( (str(x) == 'Belfast (%)')) | ((str(x) == 'Northern (%)')) | ((str(x) == 'South Eastern (%)')) | ((str(x) == 'Southern (%)')) | ((str(x) == 'Western (%)')) | ((str(x) == 'Emergency admissions (HIS) (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [31]:
def user_perc(x,y):
    
    if  ((str(x) == 'Emergency admissions (HIS)  (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [32]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.rstrip(' (%)')

In [33]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.lower()

In [34]:
tidy['Health and Social Care Trust'].unique()

array(['all', 'belfast', 'northern', 'south eastern', 'southern',
       'western', 'emergency admissions (his'], dtype=object)

In [35]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'south eastern' : 'south-eastern', 
        'emergency admissions (his)' : 'emergency-admissions',
        'emergency admissions (his' : 'emergency-admissions'
        }.get(x, x))

In [36]:
tidy['Measure Type'] = tidy['Measure Type'].map(
    lambda x: {
        'Headcount' : 'Count', 
        'Percentage of Headcount' : 'Percentage',
        }.get(x, x))

In [37]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  ',
       'All'], dtype=object)

In [38]:
def user_perc(x,y):
    
    if ( (str(x) == 'Male (%)')) | ((str(x) == 'Female (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Sex'], row['Measure Type']), axis = 1)

In [39]:
tidy['Sex'] = tidy['Sex'].map(
    lambda x: {
        'Female' : 'F', 
        'Male' : 'M',
        'Persons' : 'T',
        'Female  ' : 'F',
        'Male (%)' : 'M',
        'Female (%)': 'F'
        }.get(x, x))

In [40]:
tidy['Sex'] = tidy['Sex'].str.rstrip('(%)')

In [41]:
tidy['Service Type'].unique()

array(['All', 'Statutory', 'Non-statutory', 'Prison', 'Statutory (%)',
       'Non-statutory (%)', 'Prison (%)'], dtype=object)

In [42]:
tidy['Service Type'] = tidy['Service Type'].map(
    lambda x: {
        'Total' : 'all',
        'total' : 'all'
        }.get(x, x))

In [43]:
tidy['Service Type'] = tidy['Service Type'].str.rstrip(' (%)')

In [44]:
tidy['Service Type'] = tidy['Service Type'].str.lower()

In [45]:
tidy['Residential Status'] = tidy['Residential Status'].str.rstrip(' (%)')

In [46]:
tidy['Residential Status'] = tidy['Residential Status'].str.lower()

In [47]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [48]:
tidy['Residential Status'] = tidy['Residential Status'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [49]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,day/2017-03-01,T,under-18,all,all,alcohol,all,Count,People,95
4,day/2017-03-01,T,18-plus,all,all,alcohol,all,Count,People,2482
8,day/2017-03-01,T,All Ages,all,all,alcohol,all,Count,People,2577
12,day/2017-03-01,M,under-18,all,all,alcohol,all,Count,People,31
16,day/2017-03-01,M,18-plus,all,all,alcohol,all,Count,People,1536

In [50]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
tidy.to_csv(out / 'observations.csv', index = False)

In [51]:
tidy[tidy['Measure Type'] != 'Percentage'].to_csv(out / 'observations-no-percentages.csv', index=False)

There's a metadata tab in the spreadsheet with abstract and contact details. **Todo: extract these and also figure out what the license should really be.**

In [52]:
md_tab = tabs['Metadata']
md_heading = md_tab.filter('Metadata')
md_heading.assert_one()
properties = md_heading.fill(DOWN).is_not_whitespace()
values = properties.fill(RIGHT).is_not_whitespace()
headings = properties - values.fill(LEFT)
properties = properties - headings
cs = ConversionSegment(values, [
    HDim(properties, "Property", DIRECTLY, LEFT),
    HDim(headings, "Heading", CLOSEST, UP)
], includecellxy=True)
savepreviewhtml(cs)

In [53]:
from gssutils.metadata import THEME

for i, row in cs.topandas().iterrows():
    v = md_tab.get_at(row.__x, row.__y).value.strip()
    if row.Property == 'Abstract':
        scraper.dataset.description = v
    elif row.Property == 'National Statistics Theme':
        scraper.dataset.theme = THEME[pathify(v)]
    elif row.Property == 'Keyword':
        scraper.dataset.keyword = map(lambda x: x.strip(), v.split(' '))
    elif row.Property == 'Email Address':
        scraper.dataset.contactEmail = f'mailto:{v}'

In [55]:
scraper.dataset.family = 'health'
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())