Census of Drug and Alcohol Treatment Services in Northern Ireland

In [148]:
from gssutils import *
scraper = Scraper('https://www.health-ni.gov.uk/publications/census-drug-and-alcohol-treatment-services-northern-ireland-2017')
scraper

## Census of drug and alcohol treatment services in Northern Ireland 2017

### Distributions

1. Drug and Alcohol Census 2017 ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/health/drug-alcohol-census-2017.pdf))
1. Data from Census of Drug and Alcohol Treatment Services ([MS Excel Spreadsheet](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx))
1. Pre-release Access List Drug and Alcohol Census ([application/pdf](https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/pre-release-drug-alcohol-census.pdf))

In [149]:
tabs = {tab.name: tab for tab in scraper.distribution(
    title='Data from Census of Drug and Alcohol Treatment Services').as_databaker()}
tabs.keys()
tabs

{'Contents & Notes to tables': {<A2 '1 March 2017'>, <A11 ''>, <B13 ''>, <A18 2.0>, <A17 1.0>, <B14 ''>, <B11 ''>, <A5 ''>, <B17 'A dashed line (-) represents a cell count of less than three and a * represents a cell that has been masked. This is in order to avoid issues involving personal disclosure, where it may be possible to identify an individual from the data provided.  '>, <B9 'Breakdown by Trust'>, <B12 ''>, <A3 ''>, <B5 ''>, <A9 'Table 4'>, <B3 ''>, <A10 'Table 5'>, <B19 'Hospital Information System (HIS) figures relate to the number of emergency admissions to HSC hospitals for only drug-related conditions, only alcohol-related conditions or both drug and alcohol-related conditions, excluding admissions under specialties for mental health and learning disabilities.\xa0 These figures are as at 1st September 2016.'>, <A15 'Notes to Tables'>, <B8 'Breakdown by Residential Status'>, <B10 'Comparison Table'>, <A16 ''>, <B4 ''>, <A8 'Table 3'>, <A19 3.0>, <B1 ''>, <B18 'All percentages are rounded to the nearest percentage point.'>, <A1 'Census of Drug and Alcohol Treatment Services in Northern Ireland:'>, <A4 'Contents'>, <A6 'Table 1'>, <A7 'Table 2'>, <A14 ''>, <B2 ''>, <A13 ''>, <B15 ''>, <B7 'Breakdown by Service Type'>, <A12 ''>, <B16 ''>, <B6 'Breakdown by Age and Gender'>},
 'Table 1': {<B4 'Alcohol Only'>, <L6 1032.0>, <I12 100.0>, <D5 294.0>, <E8 74.1>, <B2 ''>, <I9 32.1>, <E3 ''>, <K12 28.8>, <M12 100.0>, <D10 41.2>, <E1 ''>, <M10 100.0>, <A2 ''>, <B7 64.0>, <L10 22.7>, <H4 'Drugs & Alcohol'>, <J1 ''>, <F8 61.9>, <D12 38.9>, <D1 ''>, <K8 73.5>, <D3 ''>, <J3 'Treatment Type'>, <K6 1496.0>, <I3 ''>, <H8 76.3>, <B11 5.9>, <L12 17.3>, <G1 ''>, <I1 ''>, <G3 ''>, <C1 ''>, <G8 71.3>, <C9 15.1>, <L2 ''>, <H9 23.7>, <C3 ''>, <J9 39.2>, <E11 100.0>, <F1 ''>, <F5 2482.0>, <C5 324.0>, <C7 49.0>, <M8 68.6>, <B6 31.0>, <J7 1010.0>, <F7 946.0>, <K2 ''>, <A10 '% of Total'>, <K11 36.5>, <K4 'Drugs Only'>, <H7 252.0>, <H5 1062.0>, <E6 528.0>, <D11 42.0>, <E9 25.9>, <G11 34.2>, <H2 ''>, <L9 23.9>, <M4 ''>, <I7 1689.0>, <J2 ''>, <E5 713.0>, <C6 275.0>, <M2 ''>, <B12 34.6>, <L4 'Drugs & Alcohol'>, <M6 4095.0>, <J8 60.8>, <D6 222.0>, <G6 1221.0>, <G10 32.6>, <C11 52.1>, <A12 '% of all Females'>, <H12 14.9>, <L5 1356.0>, <A8 'Male (%)'>, <D9 24.5>, <A7 'Female'>, <K9 26.5>, <L8 76.1>, <I11 100.0>, <B1 ''>, <A9 'Female (%)'>, <F12 56.0>, <C10 45.4>, <E2 ''>, <M11 100.0>, <I8 67.9>, <K5 2036.0>, <J4 'Alcohol Only'>, <G4 'Drugs Only'>, <F11 43.1>, <G12 29.1>, <M7 1874.0>, <G5 1712.0>, <A11 '% of all Males '>, <A1 'Table 1 – Breakdown by Age and Gender'>, <L7 324.0>, <I4 'Total'>, <D2 ''>, <A6 'Male'>, <G2 ''>, <G9 28.7>, <L11 25.2>, <C12 26.5>, <I2 ''>, <M3 'Overall Total'>, <J6 1567.0>, <J11 38.3>, <B9 67.4>, <M9 31.4>, <L1 ''>, <A5 'Total'>, <F4 'Alcohol Only'>, <D7 72.0>, <I6 3567.0>, <E12 100.0>, <L3 ''>, <C8 84.9>, <E4 'Total'>, <E10 100.0>, <F2 ''>, <B10 13.3>, <K1 ''>, <I10 100.0>, <A3 'Gender'>, <F6 1536.0>, <K3 ''>, <J10 43.2>, <D4 'Drugs & Alcohol'>, <A4 ''>, <D8 75.5>, <J5 2577.0>, <H1 ''>, <F3 '18 and over'>, <H11 22.7>, <H3 ''>, <C4 'Drugs Only'>, <J12 53.9>, <M1 ''>, <B5 95.0>, <F10 47.2>, <B8 32.6>, <E7 185.0>, <H6 810.0>, <K7 540.0>, <M5 5969.0>, <C2 ''>, <F9 38.1>, <H10 20.2>, <I5 5256.0>, <B3 'Under 18 '>, <K10 34.1>, <G7 491.0>},
 'Table 2': {<I14 'Total'>, <J4 'Drugs & Alcohol'>, <K7 148.0>, <C17 294.0>, <D19 '*'>, <L3 ''>, <D18 ''>, <C11 0.0>, <J6 141.0>, <E17 580.0>, <F2 ''>, <F13 '18 and over'>, <A20 'Non-statutory (%)'>, <D17 202.0>, <J17 853.0>, <M13 'Overall Total'>, <B5 1567.0>, <L6 1143.0>, <M14 ''>, <K1 ''>, <F15 2482.0>, <B17 84.0>, <C12 ''>, <K14 'Drugs Only'>, <B15 95.0>, <C7 571.0>, <J2 ''>, <L1 ''>, <E11 0.0>, <H15 1062.0>, <I13 ''>, <A17 'Non-statutory'>, <L9 67.7>, <A10 'Non-statutory (%)'>, <E5 528.0>, <A4 ''>, <B7 493.0>, <E16 '*'>, <L10 31.8>, <K21 0.0>, <E6 96.0>, <H1 ''>, <G4 'Total'>, <H14 'Drugs & Alcohol'>, <H8 0.0>, <B6 1069.0>, <F14 'Alcohol Only'>, <E13 ''>, <A18 'Prison'>, <H19 '*'>, <B13 'Under 18 '>, <M10 36.6>, <M1 ''>, <L18 178.0>, <F6 2326.0>, <I18 '*'>, <C19 '*'>, <F20 31.0>, <G6 2422.0>, <G20 25.1>, <K13 ''>, <H20 38.3>, <H6 650.0>, <K8 11.0>, <C8 0.0>, <A21 'Prison (%)'>, <A7 'Non-statutory'>, <E9 18.2>, <H11 0.0>, <I4 'Drugs Only'>, <C2 ''>, <H18 '*'>, <H3 'Female  '>, <J12 ''>, <G15 1712.0>, <H13 ''>, <A8 'Prison'>, <B1 ''>, <A16 'Statutory'>, <E21 '-'>, <D6 428.0>, <H17 407.0>, <E18 '-'>, <J5 324.0>, <B4 'Alcohol Only'>, <F8 172.0>, <F10 30.0>, <I15 5256.0>, <M12 ''>, <G13 ''>, <E3 ''>, <M11 0.6>, <I16 '*'>, <I8 0.0>, <G19 '*'>, <B19 '*'>, <E1 ''>, <M8 11.0>, <J11 3.4>, <B14 'Alcohol Only'>, <F17 769.0>, <D5 1032.0>, <D2 ''>, <D15 294.0>, <J3 ''>, <L11 ''>, <A15 'Total'>, <B12 ''>, <J1 ''>, <G17 430.0>, <L4 '18 and over'>, <K15 2036.0>, <J7 172.0>, <D8 167.0>, <A14 ''>, <D1 ''>, <J20 33.1>, <G18 '*'>, <A12 ''>, <E10 81.8>, <I6 387.0>, <I21 '*'>, <I3 ''>, <I17 1606.0>, <K20 35.6>, <G10 36.7>, <G1 ''>, <H21 '*'>, <G3 ''>, <A1 'Table 2 – Breakdown by Service Type'>, <C15 324.0>, <K6 35.0>, <B8 5.0>, <L8 ''>, <C20 90.7>, <M17 2186.0>, <G8 172.0>, <L17 609.0>, <C14 'Drugs Only'>, <F3 ''>, <L2 ''>, <J15 2577.0>, <L19 42.0>, <K10 80.0>, <M16 3600.0>, <C18 ''>, <F1 ''>, <K3 ''>, <I5 540.0>, <F12 ''>, <D4 'Drugs & Alcohol'>, <H10 35.6>, <E19 '*'>, <M19 60.3>, <I9 71.7>, <B16 '*'>, <K2 ''>, <I20 30.6>, <D10 42.3>, <M6 1178.0>, <J18 5.0>, <A19 'Statutory (%)'>, <L7 537.0>, <G9 59.1>, <J10 53.1>, <E12 ''>, <L21 13.1>, <A11 'Prison (%)'>, <M3 ''>, <E15 713.0>, <C4 'Drugs Only'>, <J9 43.5>, <G11 4.2>, <I12 ''>, <C16 '*'>, <F5 3567.0>, <E4 'Under 18s'>, <M18 183.0>, <F4 '18 and over'>, <B11 0.3>, <G7 1501.0>, <M4 'Total'>, <H2 ''>, <A9 'Statutory (%)'>, <E14 'Total'>, <H4 'Alcohol Only'>, <I7 153.0>, <L14 'Drugs & Alcohol'>, <K18 0.0>, <B20 88.4>, <M2 ''>, <K17 724.0>, <D11 16.2>, <B9 68.2>, <I19 '*'>, <B18 '-'>, <H16 '*'>, <I10 28.3>, <D12 ''>, <C5 1496.0>, <L15 1356.0>, <B3 'Male'>, <J16 1719.0>, <H12 ''>, <K9 18.9>, <B2 ''>, <C6 925.0>, <H9 64.4>, <E7 432.0>, <J14 'Alcohol Only'>, <L16 569.0>, <F18 '*'>, <E20 81.3>, <C9 61.8>, <G12 ''>, <M20 36.6>, <I11 0.0>, <K19 64.4>, <A2 ''>, <D7 437.0>, <F11 4.8>, <E2 ''>, <L5 1689.0>, <D9 41.5>, <E8 0.0>, <G14 'Drugs Only'>, <F19 '*'>, <G5 4095.0>, <D20 68.7>, <B10 31.5>, <M5 1874.0>, <D3 ''>, <A6 'Statutory'>, <F7 1069.0>, <L13 ''>, <M7 685.0>, <L12 ''>, <J19 66.7>, <F21 '*'>, <J21 0.2>, <M21 3.1>, <D13 ''>, <K16 1312.0>, <I1 ''>, <M15 5969.0>, <F16 '*'>, <D16 '*'>, <D21 ''>, <H7 360.0>, <C10 38.2>, <J8 11.0>, <C1 ''>, <D14 'Drugs & Alcohol'>, <M9 62.9>, <K12 ''>, <A13 'Service Type'>, <G2 ''>, <C3 ''>, <K11 0.6>, <I2 ''>, <G21 '*'>, <A3 'Service Type'>, <G16 '*'>, <K5 185.0>, <B21 '-'>, <F9 65.2>, <K4 'Under 18s'>, <C13 ''>, <J13 'Treatment Type'>, <C21 ''>, <L20 44.9>, <H5 1010.0>, <A5 'Total'>},
 'Table 3': {<G7 3613.0>, <L16 225.0>, <J19 6.4>, <L7 1547.0>, <K19 1.3>, <E10 95.5>, <B4 'Alcohol Only'>, <G9 8.2>, <M10 92.2>, <G13 ''>, <I9 0.9>, <H20 76.3>, <G19 '*'>, <E2 ''>, <L5 1689.0>, <B14 'Alcohol Only'>, <G14 'Drugs Only'>, <G5 4095.0>, <D9 19.8>, <J3 ''>, <M5 1874.0>, <D3 ''>, <K9 4.4>, <I10 96.9>, <E7 504.0>, <B12 ''>, <L12 ''>, <L13 ''>, <M21 3.5>, <J1 ''>, <D13 ''>, <I6 5.0>, <J17 2297.0>, <K15 2036.0>, <L6 ''>, <A14 ''>, <J6 21.0>, <L9 ''>, <D14 'Drugs & Alcohol'>, <G18 '*'>, <K20 96.5>, <C1 ''>, <A12 ''>, <K12 ''>, <G2 ''>, <I3 ''>, <A7 'Non-residential '>, <C3 ''>, <G10 88.2>, <A20 'Non-residential (%)'>, <A17 'Non-residential '>, <D6 204.0>, <K5 185.0>, <E11 4.5>, <I17 4656.0>, <C13 ''>, <D20 91.8>, <H21 '*'>, <C15 324.0>, <B19 '-'>, <F11 3.5>, <D16 ''>, <A5 'Total'>, <L1 ''>, <C14 'Drugs Only'>, <J15 2577.0>, <I14 'Total'>, <L17 1080.0>, <C18 ''>, <L3 ''>, <C9 1.5>, <F10 87.2>, <I8 12.0>, <H11 4.4>, <F2 ''>, <F13 '18 and over'>, <A19 'Residential (%)'>, <C16 ''>, <B6 108.0>, <D8 44.0>, <E17 685.0>, <D19 ''>, <M11 3.4>, <G11 3.6>, <M13 'Overall Total'>, <E8 24.0>, <K21 2.2>, <M14 ''>, <C7 1441.0>, <K1 ''>, <M7 1728.0>, <L21 3.8>, <G6 334.0>, <C12 ''>, <J2 ''>, <J8 7.0>, <E15 713.0>, <C4 'Drugs Only'>, <A9 'Residential (%)'>, <C19 ''>, <I12 ''>, <E4 'Under 18s'>, <I7 523.0>, <C10 96.3>, <G4 'Total'>, <F6 334.0>, <M4 'Total'>, <H2 ''>, <E14 'Total'>, <F14 'Alcohol Only'>, <H4 'Alcohol Only'>, <C6 22.0>, <E13 ''>, <E16 '-'>, <C17 321.0>, <C20 99.1>, <E20 96.1>, <K7 181.0>, <M1 ''>, <J10 91.4>, <H8 44.0>, <I19 '*'>, <M16 417.0>, <C5 1496.0>, <K17 1964.0>, <B3 'Male'>, <I11 2.2>, <J18 115.0>, <I4 'Drugs Only'>, <H12 ''>, <B17 94.0>, <D10 76.0>, <A13 'Residential Status'>, <M19 7.0>, <B2 ''>, <B10 88.6>, <E19 '-'>, <A3 'Residential Status'>, <F18 '*'>, <J14 'Alcohol Only'>, <J5 324.0>, <G12 ''>, <H7 909.0>, <D7 784.0>, <G20 96.0>, <I15 5256.0>, <A2 ''>, <M20 89.5>, <M12 ''>, <A1 'Table 3 – Breakdown by Residential Status'>, <M6 83.0>, <E3 ''>, <C8 33.0>, <I16 '*'>, <C11 2.2>, <E1 ''>, <A16 'Residential'>, <G8 148.0>, <F19 '*'>, <D5 1032.0>, <D2 ''>, <D15 294.0>, <B16 '-'>, <L11 ''>, <A15 'Total'>, <G17 1643.0>, <F21 '*'>, <I20 88.6>, <H17 810.0>, <F7 3109.0>, <L19 16.6>, <L4 '18 and over'>, <I1 ''>, <J11 2.2>, <M15 5969.0>, <F16 '*'>, <D21 ''>, <D1 ''>, <F9 9.4>, <J16 165.0>, <D17 270.0>, <J12 ''>, <I21 '*'>, <A6 'Residential'>, <B7 1388.0>, <G1 ''>, <I2 ''>, <K6 83.0>, <G21 '*'>, <G16 '*'>, <E18 '*'>, <K4 'Under 18s'>, <G3 ''>, <J13 'Treatment Type'>, <A18 'Mixed'>, <C21 ''>, <L8 ''>, <K18 45.0>, <H5 1010.0>, <J21 4.5>, <F3 ''>, <L2 ''>, <J4 'Drugs & Alcohol'>, <H10 90.0>, <D18 ''>, <F1 ''>, <K3 ''>, <I5 540.0>, <B9 6.9>, <F12 ''>, <B21 '*'>, <D4 'Drugs & Alcohol'>, <J7 296.0>, <B11 4.5>, <B5 1567.0>, <K2 ''>, <M9 4.4>, <E6 0.0>, <A21 'Mixed (%)'>, <E21 '*'>, <F15 2482.0>, <A8 'Mixed'>, <K14 'Drugs Only'>, <E12 ''>, <B15 95.0>, <H15 1062.0>, <M3 ''>, <I13 ''>, <A10 'Non-residential (%)'>, <E5 528.0>, <A4 ''>, <H9 5.6>, <L10 91.6>, <F5 3567.0>, <F4 '18 and over'>, <B18 '*'>, <F17 2203.0>, <H1 ''>, <A11 'Mixed (%)'>, <H14 'Drugs & Alcohol'>, <M18 211.0>, <B8 71.0>, <L18 51.0>, <H6 57.0>, <M17 5341.0>, <H19 '*'>, <L14 'Drugs & Alcohol'>, <B13 'Under 18 '>, <K16 27.0>, <M2 ''>, <K11 3.4>, <E9 0.0>, <I18 '*'>, <D11 4.3>, <F20 88.8>, <K10 97.8>, <J9 6.5>, <F8 124.0>, <K13 ''>, <H16 '*'>, <D12 ''>, <L15 1356.0>, <J20 89.1>, <H18 '*'>, <K8 63.0>, <C2 ''>, <M8 63.0>, <H3 'Female  '>, <L20 79.6>, <G15 1712.0>, <H13 ''>, <B1 ''>, <B20 98.9>},
 'Table 4': {<L18 ''>, <H11 0.0>, <L36 13.1>, <M29 183.0>, <J17 29.9>, <J28 616.0>, <A6 'Belfast'>, <M36 3.1>, <K15 16.2>, <C25 16.0>, <D26 38.0>, <C28 75.0>, <M37 2.6>, <I37 '*'>, <K13 48.1>, <A13 'Belfast (%)'>, <J1 ''>, <F1 ''>, <E28 151.0>, <G6 1063.0>, <G28 220.0>, <D3 ''>, <D23 294.0>, <J4 'Drugs & Alcohol'>, <E23 713.0>, <H6 176.0>, <I1 ''>, <H2 ''>, <K10 37.0>, <A24 'Belfast'>, <J2 ''>, <G7 717.0>, <C36 ''>, <D15 10.9>, <C11 0.0>, <L16 20.5>, <A17 'Western (%)'>, <J20 ''>, <C33 21.3>, <F20 ''>, <F5 3567.0>, <H36 '*'>, <D13 28.3>, <A31 'Belfast (%)'>, <E36 '-'>, <B29 '-'>, <B18 0.3>, <K30 9.0>, <B25 9.0>, <J32 17.2>, <I12 6.0>, <B6 288.0>, <D35 16.3>, <E6 233.0>, <I28 1057.0>, <K7 21.0>, <G26 260.0>, <G5 4095.0>, <J21 'Treatment Type'>, <L24 385.0>, <L27 240.0>, <H20 ''>, <G29 '*'>, <M18 0.6>, <K6 89.0>, <A25 'Northern'>, <H3 'Female  '>, <A22 ''>, <E24 322.0>, <B1 ''>, <I35 20.1>, <I2 ''>, <E2 ''>, <E31 45.2>, <F13 23.3>, <G14 17.5>, <C6 483.0>, <A34 'Southern (%)'>, <F19 3.0>, <K29 0.0>, <C22 'Drugs Only'>, <B26 15.0>, <M19 2.7>, <C18 0.0>, <K5 185.0>, <D16 18.3>, <G35 12.9>, <E15 17.4>, <M10 435.0>, <H27 214.0>, <I15 15.9>, <K21 ''>, <E12 0.0>, <I17 13.1>, <L10 398.0>, <B15 12.6>, <E17 21.6>, <E19 0.0>, <A10 'Western'>, <D31 43.5>, <M30 158.0>, <J27 559.0>, <D30 ''>, <A32 'Northern (%)'>, <L7 285.0>, <K37 0.4>, <D33 12.9>, <D34 8.8>, <C27 7.0>, <B34 3.2>, <H9 225.0>, <I13 30.7>, <J18 3.4>, <L22 'Drugs & Alcohol'>, <F10 659.0>, <C26 69.0>, <E34 5.0>, <B4 'Alcohol Only'>, <G33 15.2>, <H30 '*'>, <L26 162.0>, <L25 85.0>, <L15 15.2>, <D27 26.0>, <D17 19.4>, <M35 20.2>, <L20 ''>, <A2 ''>, <L4 '18 and over'>, <K12 51.0>, <H13 17.4>, <A28 'Western'>, <B11 5.0>, <J29 5.0>, <A14 'Northern (%)'>, <D9 189.0>, <A30 'Emergency admissions (HIS)'>, <J33 13.6>, <K27 259.0>, <B36 '-'>, <F37 '*'>, <C12 3.0>, <C21 ''>, <H5 1010.0>, <J16 15.7>, <F25 434.0>, <J36 0.2>, <G1 ''>, <F15 13.0>, <H25 33.0>, <K26 329.0>, <C13 32.3>, <F7 661.0>, <C29 ''>, <L29 178.0>, <L2 ''>, <K32 24.3>, <J30 140.0>, <H4 'Alcohol Only'>, <E29 '-'>, <J14 5.9>, <D19 0.5>, <E33 17.1>, <M2 ''>, <M16 18.6>, <G36 '*'>, <D22 'Drugs & Alcohol'>, <M25 1023.0>, <B13 18.4>, <H15 15.0>, <C16 12.4>, <F4 '18 and over'>, <C32 4.9>, <F34 22.4>, <E32 10.8>, <I30 '*'>, <F28 588.0>, <H24 257.0>, <B3 'Male'>, <G15 13.5>, <K34 12.7>, <A21 'Trust'>, <B10 349.0>, <M28 1208.0>, <F29 '*'>, <H14 14.8>, <A20 ''>, <F24 425.0>, <M7 306.0>, <F21 '18 and over'>, <G22 'Drugs Only'>, <E37 '*'>, <L5 1689.0>, <K17 20.0>, <E30 '*'>, <F36 '*'>, <G17 18.9>, <L32 6.3>, <M33 14.1>, <G9 709.0>, <H12 41.0>, <I24 1176.0>, <I36 '*'>, <F16 19.0>, <J23 2577.0>, <D2 ''>, <J13 28.7>, <K1 ''>, <B17 22.3>, <I14 25.6>, <C20 ''>, <I8 86.0>, <G34 14.7>, <H1 ''>, <C15 16.2>, <H8 152.0>, <D6 292.0>, <G10 773.0>, <I6 166.0>, <L21 ''>, <E8 92.0>, <L23 1356.0>, <G19 2.6>, <F33 13.5>, <B33 15.8>, <M20 ''>, <K25 495.0>, <F35 23.7>, <K18 0.6>, <B35 29.5>, <F30 '*'>, <M17 23.2>, <J8 49.0>, <A8 'South Eastern'>, <G21 ''>, <C2 ''>, <D5 1032.0>, <I11 0.0>, <D24 128.0>, <J26 350.0>, <H35 23.4>, <E13 44.1>, <D32 17.7>, <C35 23.1>, <J5 324.0>, <D1 ''>, <M22 ''>, <I33 13.7>, <J19 1.2>, <I3 ''>, <E3 ''>, <A1 'Table 4 – Breakdown by Trust'>, <F31 17.1>, <F26 335.0>, <L9 346.0>, <K23 2036.0>, <I19 1.1>, <G8 554.0>, <C1 ''>, <C10 224.0>, <B30 '*'>, <B12 99.0>, <M23 5969.0>, <E9 33.0>, <J11 11.0>, <J35 23.9>, <J25 443.0>, <B16 21.3>, <L12 ''>, <L35 21.9>, <G3 ''>, <D21 ''>, <H28 249.0>, <K28 295.0>, <H32 3.1>, <E7 56.0>, <G31 28.9>, <J37 5.4>, <I20 ''>, <E20 ''>, <J10 97.0>, <D29 ''>, <J34 21.7>, <H16 22.3>, <D10 200.0>, <M8 287.0>, <F27 556.0>, <L31 28.4>, <F6 830.0>, <K20 ''>, <G20 ''>, <G11 172.0>, <B19 6.3>, <F32 17.5>, <F23 2482.0>, <K33 16.2>, <H23 1062.0>, <L19 ''>, <A23 'Total'>, <D36 ''>, <K16 1.6>, <H26 124.0>, <M27 1058.0>, <D7 66.0>, <E27 36.0>, <B7 294.0>, <L17 23.6>, <E22 'Total'>, <C14 23.9>, <L6 346.0>, <L14 16.9>, <B22 'Alcohol Only'>, <H34 20.2>, <C37 ''>, <F2 ''>, <K8 30.0>, <M24 1498.0>, <G18 4.2>, <G2 ''>, <M6 435.0>, <C23 324.0>, <E10 114.0>, <M14 16.3>, <D8 113.0>, <E5 528.0>, <M31 25.1>, <C30 ''>, <L1 ''>, <A5 'Total'>, <C24 155.0>, <I23 5256.0>, <I22 'Total'>, <M3 ''>, <A3 'Trust'>, <L33 11.9>, <H33 11.7>, <B28 28.0>, <D11 167.0>, <I5 540.0>, <J9 51.0>, <L30 9.0>, <A4 ''>, <B8 198.0>, <I29 '*'>, <I27 1022.0>, <I9 73.0>, <C5 1496.0>, <D12 5.0>, <C17 15.0>, <K35 14.5>, <F14 18.5>, <K24 649.0>, <C31 47.8>, <H17 26.4>, <G30 '*'>, <H21 ''>, <A26 'South Eastern'>, <C9 186.0>, <B24 39.0>, <H37 '*'>, <J31 18.0>, <B2 ''>, <A7 'Northern'>, <G23 1712.0>, <A37 'Emergency admissions (HIS) (%)'>, <D14 6.4>, <E1 ''>, <E14 10.6>, <J3 ''>, <K19 2.7>, <I31 22.4>, <F3 ''>, <C3 ''>, <A18 'Prison (%)'>, <L8 257.0>, <I7 138.0>, <A15 'South Eastern (%)'>, <K2 ''>, <E25 77.0>, <A16 'Southern (%)'>, <D25 52.0>, <E4 'Under 18s'>, <G27 252.0>, <B37 '*'>, <A9 'Southern'>, <H19 4.1>, <K31 31.9>, <E35 21.2>, <E11 0.0>, <K14 11.4>, <I18 0.0>, <E18 0.0>, <J22 'Alcohol Only'>, <A11 'Prison'>, <I26 719.0>, <D28 48.0>, <K9 3.0>, <F11 172.0>, <B31 41.1>, <M34 17.7>, <I10 71.0>, <A36 'Prison (%)'>, <H22 'Drugs & Alcohol'>, <M26 841.0>, <F22 'Alcohol Only'>, <B9 334.0>, <A12 'Emergency admissions (HIS)'>, <H29 '*'>, <G12 107.0>, <F9 676.0>, <K22 'Drugs Only'>, <G13 26.0>, <C19 0.2>, <H18 0.0>, <L34 17.7>, <G37 '*'>, <M5 1874.0>, <I32 18.0>, <E26 122.0>, <L37 0.7>, <C34 2.2>, <H10 267.0>, <D18 16.2>, <J6 93.0>, <A29 'Prison'>, <H7 149.0>, <K4 'Under 18s'>, <G16 17.3>, <F12 107.0>, <I25 946.0>, <B20 ''>, <A33 'South Eastern (%)'>, <M9 349.0>, <F17 18.5>, <G25 479.0>, <L13 20.5>, <L11 ''>, <J15 15.1>, <B23 95.0>, <B21 'Under 18 '>, <G24 494.0>, <C8 243.0>, <G32 28.0>, <L3 ''>, <I21 ''>, <B32 9.5>, <F8 462.0>, <F18 4.8>, <D20 ''>, <M1 ''>, <B5 1567.0>, <D37 ''>, <I34 19.4>, <A27 'Southern'>, <K3 ''>, <J24 464.0>, <K11 11.0>, <D4 'Drugs & Alcohol'>, <B14 18.8>, <M21 'Overall Total'>, <I4 'Drugs Only'>, <I16 13.5>, <E21 ''>, <B27 3.0>, <G4 'Total'>, <J7 19.0>, <K36 0.0>, <A35 'Western (%)'>, <C7 357.0>, <H31 24.2>, <M11 11.0>, <C4 'Drugs Only'>, <E16 6.3>, <A19 'Emergency admissions (HIS)  (%)'>, <L28 297.0>, <J12 4.0>, <M4 'Total'>, <M32 17.1>, <M15 15.3>, <M13 23.2>, <M12 51.0>},

In [102]:
tables = []
for tab_name, script in [
    ('Table 1', 'Treatment Services by Age and Gender.ipynb'),
    ('Table 2', 'Treatment Services by Service Type(Age).ipynb'),
    ('Table 2', 'Treatment Services by Service Type(sex).ipynb'),
    ('Table 3', 'Treatment Services by Residential status(Age).ipynb'),
    ('Table 3', 'Treatment Services by Residential Status(sex).ipynb'),
    ('Table 4', 'Treatment Services by Trust(Age).ipynb'),
    ('Table 4', 'Treatment Services by Trust(sex).ipynb'),
    ('Table 5', 'Treatment Services by Comparison table.ipynb')
]:
    tab = tabs[tab_name]
    %run "$script"
    tables.append(new_table)

In [103]:
tidy = pd.concat(tables)
tidy.count()

Period                          724
Sex                             724
Age                             724
Service Type                    724
Residential Status              724
Treatment Type                  724
Health and Social Care Trust    724
Measure Type                    724
Unit                            724
Value                           724
dtype: int64

In [104]:
tidy['Treatment Type'].fillna('Total', inplace = True)

In [105]:
tidy.count()

Period                          724
Sex                             724
Age                             724
Service Type                    724
Residential Status              724
Treatment Type                  724
Health and Social Care Trust    724
Measure Type                    724
Unit                            724
Value                           724
dtype: int64

In [106]:
tidy['Treatment Type'].unique()

array(['Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Total', 'All',
       'Under 18s', '18 and over', 'Male', 'Female  ', 'Under 18 ',
       'Statutory', 'Non-statutory', 'Prison', 'Residential',
       'Non-residential / Mixed', 'Belfast', 'Northern', 'South Eastern',
       'Southern', 'Western', 'Emergency admissions (HIS)'], dtype=object)

In [107]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,All,Count,People,95
1,1 March 2017,Persons,Under 18,All,All,Drugs Only,All,Count,People,324
2,1 March 2017,Persons,Under 18,All,All,Drugs & Alcohol,All,Count,People,294
3,1 March 2017,Persons,Under 18,All,All,Total,All,Count,People,713
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,All,Count,People,2482

In [108]:
tidy = tidy[tidy['Treatment Type'] == 'Alcohol Only']

In [109]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,All,Count,People,95
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,All,Count,People,2482
8,1 March 2017,Persons,All years,All,All,Alcohol Only,All,Count,People,2577
12,1 March 2017,Male,Under 18,All,All,Alcohol Only,All,Count,People,31
16,1 March 2017,Male,18 and over,All,All,Alcohol Only,All,Count,People,1536

In [110]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)',
       '% of Total', '% of all Males ', '% of all Females', 'Female  '],
      dtype=object)

In [111]:
tidy.drop(tidy[tidy.Sex.isin(['% of Total', '% of all Males ','% of all Females'])].index, inplace = True)

In [112]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  '],
      dtype=object)

In [113]:
tidy['Period'].unique()

array(['1 March 2017', '1st March 2007', '1st March 2010',
       '1st March 2012', '1st September2014'], dtype=object)

In [114]:
from datetime import datetime

In [115]:
tidy.Period = pd.to_datetime(tidy.Period).dt.strftime('%Y-%m-%d')

In [116]:
tidy['Period'] = str('day/') + tidy['Period']

In [117]:
tidy['Age'].unique()

array(['Under 18 ', '18 and over', 'All years', 'All'], dtype=object)

In [118]:
tidy['Age'] = tidy['Age'].map(
    lambda x: {
        'Under 18 ' : 'under-18', 
        '18 and over' : '18-plus',
        'All years': 'all' ,
        'All': 'all'
        }.get(x, x))

In [119]:
tidy['Treatment Type'] = 'alcohol'

In [120]:
def user_perc(x,y):
    
    if ( (str(x) == 'Statutory (%)')) | ((str(x) == 'Non-statutory (%)')) | ((str(x) == 'Prison (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Service Type'], row['Measure Type']), axis = 1)

In [121]:
def user_perc(x,y):
    
    if ( (str(x) == 'Residential (%)')) | ((str(x) == 'Non-residential (%)')) | ((str(x) == 'Mixed (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Residential Status'], row['Measure Type']), axis = 1)

In [122]:
tidy['Health and Social Care Trust'].unique()

array(['All', 'Belfast', 'Northern', 'South Eastern', 'Southern',
       'Western', 'Northern (%)', 'South Eastern (%)', 'Southern (%)',
       'Western (%)', 'Emergency admissions (HIS) (%)',
       'Emergency admissions (HIS)', 'Belfast (%)',
       'Emergency admissions (HIS)  (%)'], dtype=object)

In [123]:
def user_perc(x,y):
    
    if ( (str(x) == 'Belfast (%)')) | ((str(x) == 'Northern (%)')) | ((str(x) == 'South Eastern (%)')) | ((str(x) == 'Southern (%)')) | ((str(x) == 'Western (%)')) | ((str(x) == 'Emergency admissions (HIS) (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [124]:
def user_perc(x,y):
    
    if  ((str(x) == 'Emergency admissions (HIS)  (%)')) : 
        
            return 'Percentage'
    else:
            return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Health and Social Care Trust'], row['Measure Type']), axis = 1)

In [125]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.rstrip(' (%)')

In [126]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].str.lower()

In [127]:
tidy['Health and Social Care Trust'].unique()

array(['all', 'belfast', 'northern', 'south eastern', 'southern',
       'western', 'emergency admissions (his'], dtype=object)

In [128]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'south eastern' : 'south-eastern', 
        'emergency admissions (his)' : 'emergency-admissions',
        'emergency admissions (his' : 'emergency-admissions'
        }.get(x, x))

In [129]:
tidy['Measure Type'] = tidy['Measure Type'].map(
    lambda x: {
        'Headcount' : 'Count', 
        'Percentage of Headcount' : 'Percentage',
        }.get(x, x))

In [130]:
tidy['Sex'].unique()

array(['Persons', 'Male', 'Female', 'Male (%)', 'Female (%)', 'Female  '],
      dtype=object)

In [131]:
def user_perc(x,y):
    
    if ( (str(x) == 'Male (%)')) | ((str(x) == 'Female (%)')): 
        
        return 'Percentage'
    else:
        return y
    
tidy['Measure Type'] = tidy.apply(lambda row: user_perc(row['Sex'], row['Measure Type']), axis = 1)

In [132]:
tidy['Sex'] = tidy['Sex'].map(
    lambda x: {
        'Female' : 'F', 
        'Male' : 'M',
        'Persons' : 'T',
        'Female  ' : 'F',
        'Male (%)' : 'M',
        'Female (%)': 'F'
        }.get(x, x))

In [133]:
tidy['Sex'] = tidy['Sex'].str.rstrip('(%)')

In [134]:
tidy['Service Type'].unique()

array(['All', 'Statutory', 'Non-statutory', 'Prison', 'Statutory (%)',
       'Non-statutory (%)', 'Prison (%)'], dtype=object)

In [135]:
tidy['Service Type'] = tidy['Service Type'].map(
    lambda x: {
        'Total' : 'all',
        'total' : 'all'
        }.get(x, x))

In [136]:
tidy['Service Type'] = tidy['Service Type'].str.rstrip(' (%)')

In [137]:
tidy['Service Type'] = tidy['Service Type'].str.lower()

In [138]:
tidy['Residential Status'] = tidy['Residential Status'].str.rstrip(' (%)')

In [139]:
tidy['Residential Status'] = tidy['Residential Status'].str.lower()

In [140]:
tidy['Health and Social Care Trust'] = tidy['Health and Social Care Trust'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [141]:
tidy['Residential Status'] = tidy['Residential Status'].map(
    lambda x: {
        'total' : 'all' 
        }.get(x, x))

In [142]:
tidy.head()

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,day/2017-03-01,T,under-18,all,all,alcohol,all,Count,People,95
4,day/2017-03-01,T,18-plus,all,all,alcohol,all,Count,People,2482
8,day/2017-03-01,T,all,all,all,alcohol,all,Count,People,2577
12,day/2017-03-01,M,under-18,all,all,alcohol,all,Count,People,31
16,day/2017-03-01,M,18-plus,all,all,alcohol,all,Count,People,1536

In [143]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
tidy.to_csv(out / 'observations.csv', index = False)

In [144]:
tidy[tidy['Measure Type'] != 'Percentage'].to_csv(out / 'observations-no-percentages.csv', index=False)

There's a metadata tab in the spreadsheet with abstract and contact details. **Todo: extract these and also figure out what the license should really be.**

In [145]:
md_tab = tabs['Metadata']
md_heading = md_tab.filter('Metadata')
md_heading.assert_one()
properties = md_heading.fill(DOWN).is_not_whitespace()
values = properties.fill(RIGHT).is_not_whitespace()
headings = properties - values.fill(LEFT)
properties = properties - headings
cs = ConversionSegment(values, [
    HDim(properties, "Property", DIRECTLY, LEFT),
    HDim(headings, "Heading", CLOSEST, UP)
], includecellxy=True)
savepreviewhtml(cs)

In [146]:
from gssutils.metadata import THEME

for i, row in cs.topandas().iterrows():
    v = md_tab.get_at(row.__x, row.__y).value.strip()
    if row.Property == 'Abstract':
        scraper.dataset.description = v
    elif row.Property == 'National Statistics Theme':
        scraper.dataset.theme = THEME[pathify(v)]
    elif row.Property == 'Keyword':
        scraper.dataset.keyword = map(lambda x: x.strip(), v.split(' '))
    elif row.Property == 'Email Address':
        scraper.dataset.contactEmail = f'mailto:{v}'

In [147]:
scraper.dataset.family = 'health'
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())