Census of Drug and Alcohol Treatment Services in Northern Ireland:Breakdown by Service Type

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 4')[0]

Loading in/data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 4']

In [2]:
observations = tab.excel_ref('B24').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B38').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<J32 17.2>, <B36 '-'>, <I28 1057.0>, <G26 260.0>, <L24 385.0>, <K34 12.7>, <E26 122.0>, <K31 31.9>, <E35 21.2>, <L37 0.7>, <D31 43.5>, <M30 158.0>, <M27 1058.0>, <I35 20.1>, <M28 1208.0>, <B29 '-'>, <C27 7.0>, <L30 9.0>, <F24 425.0>, <B33 15.8>, <H37 '*'>, <B31 41.1>, <I27 1022.0>, <G36 '*'>, <M34 17.7>, <H34 20.2>, <H29 '*'>, <E36 '-'>, <M26 841.0>, <G25 479.0>, <K24 649.0>, <M24 1498.0>, <B26 15.0>, <G24 494.0>, <C31 47.8>, <D27 26.0>, <F28 588.0>, <G34 14.7>, <F32 17.5>, <M35 20.2>, <F37 '*'>, <G32 28.0>, <G35 12.9>, <K33 16.2>, <L34 17.7>, <H27 214.0>, <C24 155.0>, <H33 11.7>, <E30 '*'>, <C34 2.2>, <J31 18.0>, <H26 124.0>, <F33 13.5>, <E24 322.0>, <J27 559.0>, <B28 28.0>, <D33 12.9>, <I34 19.4>, <F35 23.7>, <B27 3.0>, <I30 '*'>, <H30 '*'>, <J24 464.0>, <K37 0.4>, <D34 8.8>, <B34 3.2>, <E37 '*'>, <H31 24.2>, <K36 0.0>, <K35 14.5>, <L28 297.0>, <G33 15.2>, <C26 69.0>, <B35 29.5>, <E34 5.0>, <F36 '*'>, <L35 21.9>, <L25 85.0>, <K26 329.0>, <L26 162.0>, <D25 52.0>, <H28 249.0>, <H32 3.1>, <L29 178.0>, <M31 25.1>, <L36 13.1>, <J37 5.4>, <M29 183.0>, <D24 128.0>, <H35 23.4>, <M36 3.1>, <D32 17.7>, <B32 9.5>, <B30 '*'>, <L33 11.9>, <I26 719.0>, <I33 13.7>, <F31 17.1>, <D26 38.0>, <C28 75.0>, <F26 335.0>, <B37 '*'>, <C25 16.0>, <J29 5.0>, <C33 21.3>, <F27 556.0>, <M37 2.6>, <F30 '*'>, <F34 22.4>, <K25 495.0>, <E29 '-'>, <K27 259.0>, <E25 77.0>, <F25 434.0>, <E28 151.0>, <G28 220.0>, <H25 33.0>, <D35 16.3>, <M32 17.1>, <G30 '*'>, <F29 '*'>, <G27 252.0>, <L27 240.0>, <I32 18.0>, <K28 295.0>, <K32 24.3>, <I36 '*'>, <G31 28.9>, <E33 17.1>, <J26 350.0>, <J28 616.0>, <J30 140.0>, <E27 36.0>, <C35 23.1>, <J34 21.7>, <B24 39.0>, <G37 '*'>, <D28 48.0>, <E31 45.2>, <M25 1023.0>, <I29 '*'>, <C32 4.9>, <L32 6.3>, <I25 946.0>, <M33 14.1>, <J33 13.6>, <L31 28.4>, <I31 22.4>, <I24 1176.0>, <I37 '*'>, <K29 0.0>, <K30 9.0>, <B25 9.0>, <E32 10.8>, <J35 23.9>, <G29 '*'>, <J25 443.0>, <H36 '*'>, <J36 0.2>, <H24 257.0>}

In [4]:
Service = tab.excel_ref('A23').expand(DOWN).is_not_blank()
Service

{<A23 'Total'>, <A27 'Southern'>, <A33 'South Eastern (%)'>, <A30 'Emergency admissions (HIS)'>, <A25 'Northern'>, <A32 'Northern (%)'>, <A36 'Prison (%)'>, <A26 'South Eastern'>, <A37 'Emergency admissions (HIS) (%)'>, <A29 'Prison'>, <A34 'Southern (%)'>, <A24 'Belfast'>, <A28 'Western'>, <A31 'Belfast (%)'>, <A35 'Western (%)'>}

In [5]:
Treatment = tab.excel_ref('B22').expand(RIGHT)
Treatment

{<J22 'Alcohol Only'>, <E22 'Total'>, <L22 'Drugs & Alcohol'>, <H22 'Drugs & Alcohol'>, <B22 'Alcohol Only'>, <D22 'Drugs & Alcohol'>, <F22 'Alcohol Only'>, <M22 ''>, <G22 'Drugs Only'>, <C22 'Drugs Only'>, <K22 'Drugs Only'>, <I22 'Total'>}

In [6]:
age = tab.excel_ref('B21').expand(RIGHT).is_not_blank()
age

{<F21 '18 and over'>, <B21 'Under 18 '>, <M21 'Overall Total'>, <J21 'Treatment Type'>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Health and Social Care Trust',DIRECTLY,LEFT),
            HDim(age,'Age',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Period','1 March 2017'),
            HDimConst('Sex','Persons')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table.loc[new_table['Age'] == 'Treatment Type', 'Age'] = 'All Ages'
new_table.loc[new_table['Age'] == 'Overall Total', 'Age'] = 'All Ages'
new_table.loc[new_table['Treatment Type'] == '', 'Treatment Type'] = 'Total'
new_table

,OBS,DATAMARKER,Treatment Type,Health and Social Care Trust,Age,Measure Type,Unit,Period,Sex
0,39,NaN,Alcohol Only,Belfast,Under 18,Count,People,1 March 2017,Persons
1,155,NaN,Drugs Only,Belfast,Under 18,Count,People,1 March 2017,Persons
2,128,NaN,Drugs & Alcohol,Belfast,Under 18,Count,People,1 March 2017,Persons
3,322,NaN,Total,Belfast,Under 18,Count,People,1 March 2017,Persons
4,425,NaN,Alcohol Only,Belfast,18 and over,Count,People,1 March 2017,Persons
5,494,NaN,Drugs Only,Belfast,18 and over,Count,People,1 March 2017,Persons
6,257,NaN,Drugs & Alcohol,Belfast,18 and over,Count,People,1 March 2017,Persons
7,1176,NaN,Total,Belfast,18 and over,Count,People,1 March 2017,Persons
8,464,NaN,Alcohol Only,Belfast,All Ages,Count,People,1 March 2017,Persons
9,649,NaN,Drugs Only,Belfast,All Ages,Count,People,1 March 2017,Persons
10,385,NaN,Drugs & Alcohol,Belfast,All Ages,Count,People,1 March 2017,Persons
11,1498,NaN,Total,Belfast,All Ages,Count,People,1 March 2017,Persons
12,9,NaN,Alcohol Only,Northern,Under 18,Count,People,1 March 2017,Persons
13,16,NaN,Drugs Only,Northern,Under 18,Count,People,1 March 2017,Persons
14,52,NaN,Drugs & Alcohol,Northern,Under 18,Count,People,1 March 2017,Persons
15,77,NaN,Total,Northern,Under 18,Count,People,1 March 2017,Persons
16,434,NaN,Alcohol Only,Northern,18 and over,Count,People,1 March 2017,Persons
17,479,NaN,Drugs Only,Northern,18 and over,Count,People,1 March 2017,Persons
18,33,NaN,Drugs & Alcohol,Northern,18 and over,Count,People,1 March 2017,Persons
19,946,NaN,Total,Northern,18 and over,Count,People,1 March 2017,Persons
20,443,NaN,Alcohol Only,Northern,All Ages,Count,People,1 March 2017,Persons
21,495,NaN,Drugs Only,Northern,All Ages,Count,People,1 March 2017,Persons
22,85,NaN,Drugs & Alcohol,Northern,All Ages,Count,People,1 March 2017,Persons
23,1023,NaN,Total,Northern,All Ages,Count,People,1 March 2017,Persons
24,15,NaN,Alcohol Only,South Eastern,Under 18,Count,People,1 March 2017,Persons
25,69,NaN,Drugs Only,South Eastern,Under 18,Count,People,1 March 2017,Persons
26,38,NaN,Drugs & Alcohol,South Eastern,Under 18,Count,People,1 March 2017,Persons
27,122,NaN,Total,South Eastern,Under 18,Count,People,1 March 2017,Persons
28,335,NaN,Alcohol Only,South Eastern,18 and over,Count,People,1 March 2017,Persons
29,260,NaN,Drugs Only,South Eastern,18 and over,Count,People,1 March 2017,Persons
...,...,...,...,...,...,...,...,...,...
130,16.3,NaN,Drugs & Alcohol,Western (%),Under 18,Count,People,1 March 2017,Persons
131,21.2,NaN,Total,Western (%),Under 18,Count,People,1 March 2017,Persons
132,23.7,NaN,Alcohol Only,Western (%),18 and over,Count,People,1 March 2017,Persons
133,12.9,NaN,Drugs Only,Western (%),18 and over,Count,People,1 March 2017,Persons
134,23.4,NaN,Drugs & Alcohol,Western (%),18 and over,Count,People,1 March 2017,Persons
135,20.1,NaN,Total,Western (%),18 and over,Count,People,1 March 2017,Persons
136,23.9,NaN,Alcohol Only,Western (%),All Ages,Count,People,1 March 2017,Persons
137,14.5,NaN,Drugs Only,Western (%),All Ages,Count,People,1 March 2017,Persons
138,21.9,NaN,Drugs & Alcohol,Western (%),All Ages,Count,People,1 March 2017,Persons
139,20.2,NaN,Total,Western (%),All Ages,Count,People,1 March 2017,Persons
140,,-,Alcohol Only,Prison (%),Under 18,Count,People,1 March 2017,Persons
141,,-,Total,Prison (%),Under 18,Count,People,1 March 2017,Persons
142,,*,Alcohol Only,Prison (%),18 and over,Count,People,1 March 2017,Persons
143,,*,Drugs Only,Prison (%),18 and over,Count,People,1 March 2017,Persons
144,,*,Drugs & Alcohol,Prison (%),18 and over,Count,People,1 March 2017,Persons
145,,*,Total,Prison (%),18 and over,Count,People,1 March 2017,Persons
146,0.2,NaN,Alcohol Only,Prison (%),All Ages,Count,People,1 March 2017,Persons
147,0,NaN,Drugs Only,Prison (%),All Ages,Count,People,1 March 2017,Persons
148,13.1,NaN,Drugs & Alcohol,Prison (%),All Ages,Count,People,1 March 2017,Persons
149,3.1,NaN,Total,Prison (%),All Ages,Count,People,1 March 2017,Persons
150,,*,Alcohol Only,Emergency admissions (HIS) (%),Under 18,Count,People,1 March 2017,Persons
151,,*,Total,Emergency admissions (HIS) (%),Under 18,Count,People,1 March 2017,Persons
152,,*,Alcohol Only,Emergency admissions (HIS) (%),18 and over,Count,People,1 March 2017,Persons
153,,*,Drugs Only,Emergency admissions (HIS) (%),18 and over,Count,People,1 March 2017,Persons
154,,*,Drugs & Alcohol,Emergency admissions (HIS) (%),18 and over,Count,People,1 March 2017,Persons
155,,*,Total,Emergency admissions (HIS) (%),18 and over,Count,People,1 March 2017,Persons
156,5.4,NaN,Alcohol Only,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
157,0.4,NaN,Drugs Only,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
158,0.7,NaN,Drugs & Alcohol,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
159,2.6,NaN,Total,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table = new_table[new_table['Value'] !=  0 ]

In [12]:
new_table = new_table[new_table['Value'] !=  '' ]

In [13]:
new_table.dtypes

Value                           object
DATAMARKER                      object
Treatment Type                  object
Health and Social Care Trust    object
Age                             object
Measure Type                    object
Unit                            object
Period                          object
Sex                             object
dtype: object

In [14]:
new_table.tail(5)

,Value,DATAMARKER,Treatment Type,Health and Social Care Trust,Age,Measure Type,Unit,Period,Sex
149,3.1,NaN,Total,Prison (%),All Ages,Count,People,1 March 2017,Persons
156,5.4,NaN,Alcohol Only,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
157,0.4,NaN,Drugs Only,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
158,0.7,NaN,Drugs & Alcohol,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons
159,2.6,NaN,Total,Emergency admissions (HIS) (%),All Ages,Count,People,1 March 2017,Persons

In [15]:
new_table.count()

Value                           134
DATAMARKER                        0
Treatment Type                  134
Health and Social Care Trust    134
Age                             134
Measure Type                    134
Unit                            134
Period                          134
Sex                             134
dtype: int64

In [16]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [17]:
new_table.count()

Value                           134
DATAMARKER                        0
Treatment Type                  134
Health and Social Care Trust    134
Age                             134
Measure Type                    134
Unit                            134
Period                          134
Sex                             134
dtype: int64

In [18]:
def user_perc(x):
    
    if str(x) == 'Treatment Type':
        return 'All years'
    else:
        return x
    
new_table['Age'] = new_table.apply(lambda row: user_perc(row['Age']), axis = 1)

In [19]:
new_table['Treatment Type'].fillna('Total', inplace = True)

In [20]:
new_table.drop(new_table[new_table['Health and Social Care Trust'].isin(['Prison', 'Prison (%)'])].index, inplace = True)

In [21]:
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
# new_table['Health and Social Care Trust']  = 'All'

In [22]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [23]:
new_table.head(5)

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,Belfast,Count,People,39
1,1 March 2017,Persons,Under 18,All,All,Drugs Only,Belfast,Count,People,155
2,1 March 2017,Persons,Under 18,All,All,Drugs & Alcohol,Belfast,Count,People,128
3,1 March 2017,Persons,Under 18,All,All,Total,Belfast,Count,People,322
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,Belfast,Count,People,425

In [24]:
new_table.count()

Period                          128
Sex                             128
Age                             128
Service Type                    128
Residential Status              128
Treatment Type                  128
Health and Social Care Trust    128
Measure Type                    128
Unit                            128
Value                           128
dtype: int64