Census of Drug and Alcohol Treatment Services in Northern Ireland:Breakdown by Service Type

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 3')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 3']

In [2]:
observations = tab.excel_ref('B16').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B22').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<D15 294.0>, <C20 99.1>, <M17 5341.0>, <C17 321.0>, <E20 96.1>, <I20 88.6>, <H17 810.0>, <E19 '-'>, <L19 16.6>, <B19 '-'>, <G19 '*'>, <J16 165.0>, <K20 96.5>, <D17 270.0>, <G18 '*'>, <B21 '*'>, <L15 1356.0>, <J18 115.0>, <J20 89.1>, <E16 '-'>, <I19 '*'>, <G15 1712.0>, <M19 7.0>, <B17 94.0>, <L16 225.0>, <F18 '*'>, <C15 324.0>, <F19 '*'>, <F21 '*'>, <K19 1.3>, <J15 2577.0>, <L17 1080.0>, <I16 '*'>, <H21 '*'>, <E17 685.0>, <H19 '*'>, <M21 3.5>, <F16 '*'>, <G17 1643.0>, <G21 '*'>, <J17 2297.0>, <K15 2036.0>, <M15 5969.0>, <M18 211.0>, <I18 '*'>, <F17 2203.0>, <L18 51.0>, <H18 '*'>, <K16 27.0>, <H16 '*'>, <I17 4656.0>, <F20 88.8>, <D20 91.8>, <M16 417.0>, <K18 45.0>, <K17 1964.0>, <J21 4.5>, <G16 '*'>, <I21 '*'>, <L20 79.6>, <E18 '*'>, <B18 '*'>, <B20 98.9>, <J19 6.4>, <K21 2.2>, <F15 2482.0>, <L21 3.8>, <B15 95.0>, <G20 96.0>, <H15 1062.0>, <I15 5256.0>, <E15 713.0>, <E21 '*'>, <M20 89.5>, <B16 '-'>, <H20 76.3>}

In [4]:
Service = tab.excel_ref('A15').expand(DOWN).is_not_blank()
Service

{<A15 'Total'>, <A19 'Residential (%)'>, <A21 'Mixed (%)'>, <A16 'Residential'>, <A17 'Non-residential '>, <A20 'Non-residential (%)'>, <A18 'Mixed'>}

In [5]:
Treatment = tab.excel_ref('B14').expand(RIGHT).is_not_blank()
Treatment

{<D14 'Drugs & Alcohol'>, <K14 'Drugs Only'>, <H14 'Drugs & Alcohol'>, <I14 'Total'>, <L14 'Drugs & Alcohol'>, <B14 'Alcohol Only'>, <E14 'Total'>, <F14 'Alcohol Only'>, <J14 'Alcohol Only'>, <C14 'Drugs Only'>, <G14 'Drugs Only'>}

In [6]:
age = tab.excel_ref('B13').expand(RIGHT).is_not_blank()
age

{<B13 'Under 18 '>, <J13 'Treatment Type'>, <M13 'Overall Total'>, <F13 '18 and over'>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Residential Status',DIRECTLY,LEFT),
            HDim(age,'Age',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Sex','Persons'),
            HDimConst('Period','1 March 2017')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Treatment Type,Residential Status,Age,Measure Type,Unit,Sex,Period
0,95,NaN,Alcohol Only,Total,Under 18,Count,People,Persons,1 March 2017
1,324,NaN,Drugs Only,Total,Under 18,Count,People,Persons,1 March 2017
2,294,NaN,Drugs & Alcohol,Total,Under 18,Count,People,Persons,1 March 2017
3,713,NaN,Total,Total,Under 18,Count,People,Persons,1 March 2017
4,2482,NaN,Alcohol Only,Total,18 and over,Count,People,Persons,1 March 2017
5,1712,NaN,Drugs Only,Total,18 and over,Count,People,Persons,1 March 2017
6,1062,NaN,Drugs & Alcohol,Total,18 and over,Count,People,Persons,1 March 2017
7,5256,NaN,Total,Total,18 and over,Count,People,Persons,1 March 2017
8,2577,NaN,Alcohol Only,Total,Treatment Type,Count,People,Persons,1 March 2017
9,2036,NaN,Drugs Only,Total,Treatment Type,Count,People,Persons,1 March 2017
10,1356,NaN,Drugs & Alcohol,Total,Treatment Type,Count,People,Persons,1 March 2017
11,5969,NaN,None,Total,Overall Total,Count,People,Persons,1 March 2017
12,,-,Alcohol Only,Residential,Under 18,Count,People,Persons,1 March 2017
13,,-,Total,Residential,Under 18,Count,People,Persons,1 March 2017
14,,*,Alcohol Only,Residential,18 and over,Count,People,Persons,1 March 2017
15,,*,Drugs Only,Residential,18 and over,Count,People,Persons,1 March 2017
16,,*,Drugs & Alcohol,Residential,18 and over,Count,People,Persons,1 March 2017
17,,*,Total,Residential,18 and over,Count,People,Persons,1 March 2017
18,165,NaN,Alcohol Only,Residential,Treatment Type,Count,People,Persons,1 March 2017
19,27,NaN,Drugs Only,Residential,Treatment Type,Count,People,Persons,1 March 2017
20,225,NaN,Drugs & Alcohol,Residential,Treatment Type,Count,People,Persons,1 March 2017
21,417,NaN,None,Residential,Overall Total,Count,People,Persons,1 March 2017
22,94,NaN,Alcohol Only,Non-residential,Under 18,Count,People,Persons,1 March 2017
23,321,NaN,Drugs Only,Non-residential,Under 18,Count,People,Persons,1 March 2017
24,270,NaN,Drugs & Alcohol,Non-residential,Under 18,Count,People,Persons,1 March 2017
25,685,NaN,Total,Non-residential,Under 18,Count,People,Persons,1 March 2017
26,2203,NaN,Alcohol Only,Non-residential,18 and over,Count,People,Persons,1 March 2017
27,1643,NaN,Drugs Only,Non-residential,18 and over,Count,People,Persons,1 March 2017
28,810,NaN,Drugs & Alcohol,Non-residential,18 and over,Count,People,Persons,1 March 2017
29,4656,NaN,Total,Non-residential,18 and over,Count,People,Persons,1 March 2017
...,...,...,...,...,...,...,...,...,...
46,,*,Alcohol Only,Residential (%),18 and over,Count,People,Persons,1 March 2017
47,,*,Drugs Only,Residential (%),18 and over,Count,People,Persons,1 March 2017
48,,*,Drugs & Alcohol,Residential (%),18 and over,Count,People,Persons,1 March 2017
49,,*,Total,Residential (%),18 and over,Count,People,Persons,1 March 2017
50,6.4,NaN,Alcohol Only,Residential (%),Treatment Type,Count,People,Persons,1 March 2017
51,1.3,NaN,Drugs Only,Residential (%),Treatment Type,Count,People,Persons,1 March 2017
52,16.6,NaN,Drugs & Alcohol,Residential (%),Treatment Type,Count,People,Persons,1 March 2017
53,7,NaN,None,Residential (%),Overall Total,Count,People,Persons,1 March 2017
54,98.9,NaN,Alcohol Only,Non-residential (%),Under 18,Count,People,Persons,1 March 2017
55,99.1,NaN,Drugs Only,Non-residential (%),Under 18,Count,People,Persons,1 March 2017
56,91.8,NaN,Drugs & Alcohol,Non-residential (%),Under 18,Count,People,Persons,1 March 2017
57,96.1,NaN,Total,Non-residential (%),Under 18,Count,People,Persons,1 March 2017
58,88.8,NaN,Alcohol Only,Non-residential (%),18 and over,Count,People,Persons,1 March 2017
59,96,NaN,Drugs Only,Non-residential (%),18 and over,Count,People,Persons,1 March 2017
60,76.3,NaN,Drugs & Alcohol,Non-residential (%),18 and over,Count,People,Persons,1 March 2017
61,88.6,NaN,Total,Non-residential (%),18 and over,Count,People,Persons,1 March 2017
62,89.1,NaN,Alcohol Only,Non-residential (%),Treatment Type,Count,People,Persons,1 March 2017
63,96.5,NaN,Drugs Only,Non-residential (%),Treatment Type,Count,People,Persons,1 March 2017
64,79.6,NaN,Drugs & Alcohol,Non-residential (%),Treatment Type,Count,People,Persons,1 March 2017
65,89.5,NaN,None,Non-residential (%),Overall Total,Count,People,Persons,1 March 2017
66,,*,Alcohol Only,Mixed (%),Under 18,Count,People,Persons,1 March 2017
67,,*,Total,Mixed (%),Under 18,Count,People,Persons,1 March 2017
68,,*,Alcohol Only,Mixed (%),18 and over,Count,People,Persons,1 March 2017
69,,*,Drugs Only,Mixed (%),18 and over,Count,People,Persons,1 March 2017
70,,*,Drugs & Alcohol,Mixed (%),18 and over,Count,People,Persons,1 March 2017
71,,*,Total,Mixed (%),18 and over,Count,People,Persons,1 March 2017
72,4.5,NaN,Alcohol Only,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
73,2.2,NaN,Drugs Only,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
74,3.8,NaN,Drugs & Alcohol,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
75,3.5,NaN,None,Mixed (%),Overall Total,Count,People,Persons,1 March 2017

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table.dtypes

Value                 object
DATAMARKER            object
Treatment Type        object
Residential Status    object
Age                   object
Measure Type          object
Unit                  object
Sex                   object
Period                object
dtype: object

In [12]:
new_table.tail(5)

,Value,DATAMARKER,Treatment Type,Residential Status,Age,Measure Type,Unit,Sex,Period
71,,*,Total,Mixed (%),18 and over,Count,People,Persons,1 March 2017
72,4.5,NaN,Alcohol Only,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
73,2.2,NaN,Drugs Only,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
74,3.8,NaN,Drugs & Alcohol,Mixed (%),Treatment Type,Count,People,Persons,1 March 2017
75,3.5,NaN,None,Mixed (%),Overall Total,Count,People,Persons,1 March 2017

In [13]:
new_table.count()

Value                 76
DATAMARKER            24
Treatment Type        69
Residential Status    76
Age                   76
Measure Type          76
Unit                  76
Sex                   76
Period                76
dtype: int64

In [14]:
new_table = new_table[new_table['Value'] !=  0 ]

In [15]:
new_table = new_table[new_table['Value'] !=  '' ]

In [16]:
new_table.count()

Value                 52
DATAMARKER             0
Treatment Type        45
Residential Status    52
Age                   52
Measure Type          52
Unit                  52
Sex                   52
Period                52
dtype: int64

In [17]:
def user_perc(x):
    
    if str(x) == 'Treatment Type':
        return 'All years'
    else:
        return x
    
new_table['Age'] = new_table.apply(lambda row: user_perc(row['Age']), axis = 1)

In [18]:
new_table['Treatment Type'].fillna('Total', inplace = True)

In [19]:
new_table['Service Type'] = 'All'
# new_table['Residential Status'] = 'All'
new_table['Health and Social Care Trust']  = 'All'

In [20]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [21]:
new_table.head(5)

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,Total,Alcohol Only,All,Count,People,95
1,1 March 2017,Persons,Under 18,All,Total,Drugs Only,All,Count,People,324
2,1 March 2017,Persons,Under 18,All,Total,Drugs & Alcohol,All,Count,People,294
3,1 March 2017,Persons,Under 18,All,Total,Total,All,Count,People,713
4,1 March 2017,Persons,18 and over,All,Total,Alcohol Only,All,Count,People,2482