Census of Drug and Alcohol Treatment Services in Northern Ireland:Table 4 â€“ Breakdown by Trust

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 4')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 4']

In [2]:
observations = tab.excel_ref('B6').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B20').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<H10 267.0>, <G19 2.6>, <L17 23.6>, <K11 11.0>, <C14 23.9>, <B12 99.0>, <H9 225.0>, <E9 33.0>, <L8 257.0>, <B19 6.3>, <J7 19.0>, <G12 107.0>, <F12 107.0>, <C6 483.0>, <H18 0.0>, <C13 32.3>, <M18 0.6>, <F17 18.5>, <M9 349.0>, <F16 19.0>, <J15 15.1>, <H11 0.0>, <D18 16.2>, <E11 0.0>, <I18 0.0>, <M7 306.0>, <M16 18.6>, <E18 0.0>, <D15 10.9>, <K17 20.0>, <L14 16.9>, <H13 17.4>, <J19 1.2>, <G10 773.0>, <C16 12.4>, <I6 166.0>, <I10 71.0>, <K8 30.0>, <H12 41.0>, <L7 285.0>, <L9 346.0>, <D9 189.0>, <C10 224.0>, <J13 28.7>, <F6 830.0>, <I16 13.5>, <J11 11.0>, <E10 114.0>, <I13 30.7>, <D8 113.0>, <F10 659.0>, <J16 15.7>, <E6 233.0>, <C15 16.2>, <C17 15.0>, <H6 176.0>, <F18 4.8>, <F8 462.0>, <F14 18.5>, <L10 398.0>, <E17 21.6>, <J12 4.0>, <B15 12.6>, <H8 152.0>, <E19 0.0>, <F7 661.0>, <B10 349.0>, <M13 23.2>, <D11 167.0>, <B7 294.0>, <J9 51.0>, <J17 29.9>, <D19 0.5>, <H14 14.8>, <L6 346.0>, <H7 149.0>, <J18 3.4>, <C9 186.0>, <G16 17.3>, <D10 200.0>, <I9 73.0>, <C7 357.0>, <K18 0.6>, <D12 5.0>, <M11 11.0>, <G17 18.9>, <D13 28.3>, <F19 3.0>, <J8 49.0>, <G8 554.0>, <L15 15.2>, <K19 2.7>, <M6 435.0>, <B17 22.3>, <C18 0.0>, <I11 0.0>, <G11 172.0>, <I14 25.6>, <D16 18.3>, <I7 138.0>, <C12 3.0>, <E15 17.4>, <E13 44.1>, <K12 51.0>, <F9 676.0>, <I12 6.0>, <E12 0.0>, <I17 13.1>, <D6 292.0>, <K16 1.6>, <D14 6.4>, <E14 10.6>, <E7 56.0>, <K13 48.1>, <H19 4.1>, <J6 93.0>, <B14 18.8>, <J10 97.0>, <B8 198.0>, <H16 22.3>, <G6 1063.0>, <F13 23.3>, <G14 17.5>, <B16 21.3>, <H15 15.0>, <M17 23.2>, <E16 6.3>, <F15 13.0>, <G9 709.0>, <M15 15.3>, <M19 2.7>, <L13 20.5>, <G18 4.2>, <M12 51.0>, <D17 19.4>, <B18 0.3>, <B9 334.0>, <H17 26.4>, <K10 37.0>, <J14 5.9>, <M14 16.3>, <G7 717.0>, <I8 86.0>, <K14 11.4>, <M10 435.0>, <C8 243.0>, <I15 15.9>, <G13 26.0>, <B6 288.0>, <C19 0.2>, <K7 21.0>, <G15 13.5>, <L16 20.5>, <F11 172.0>, <K9 3.0>, <C11 0.0>, <B11 5.0>, <B13 18.4>, <K15 16.2>, <M8 287.0>, <K6 89.0>, <E8 92.0>, <D7 66.0>, <I19 1.1>}

In [4]:
Service = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Service

{<A26 'South Eastern'>, <A25 'Northern'>, <A6 'Belfast'>, <A12 'Emergency admissions (HIS)'>, <A27 'Southern'>, <A32 'Northern (%)'>, <A36 'Prison (%)'>, <A7 'Northern'>, <A8 'South Eastern'>, <A19 'Emergency admissions (HIS)  (%)'>, <A21 'Trust'>, <A15 'South Eastern (%)'>, <A31 'Belfast (%)'>, <A35 'Western (%)'>, <A24 'Belfast'>, <A10 'Western'>, <A16 'Southern (%)'>, <A34 'Southern (%)'>, <A9 'Southern'>, <A33 'South Eastern (%)'>, <A11 'Prison'>, <A28 'Western'>, <A18 'Prison (%)'>, <A37 'Emergency admissions (HIS) (%)'>, <A5 'Total'>, <A29 'Prison'>, <A14 'Northern (%)'>, <A17 'Western (%)'>, <A13 'Belfast (%)'>, <A30 'Emergency admissions (HIS)'>, <A23 'Total'>}

In [5]:
Treatment = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
Treatment

{<M4 'Total'>, <G4 'Total'>, <B4 'Alcohol Only'>, <E4 'Under 18s'>, <K4 'Under 18s'>, <F4 '18 and over'>, <C4 'Drugs Only'>, <L4 '18 and over'>, <J4 'Drugs & Alcohol'>, <H4 'Alcohol Only'>, <D4 'Drugs & Alcohol'>, <I4 'Drugs Only'>}

In [6]:
sex = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
sex

{<H3 'Female  '>, <B3 'Male'>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Health and Social Care Trust',DIRECTLY,LEFT),
            HDim(sex,'Sex',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Period','1 March 2017'),
            HDimConst('Age','All')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Health and Social Care Trust,Sex,Measure Type,Unit,Period,Age
0,288.0,Alcohol Only,Belfast,Male,Count,People,1 March 2017,All
1,483.0,Drugs Only,Belfast,Male,Count,People,1 March 2017,All
2,292.0,Drugs & Alcohol,Belfast,Male,Count,People,1 March 2017,All
3,233.0,Under 18s,Belfast,Male,Count,People,1 March 2017,All
4,830.0,18 and over,Belfast,Male,Count,People,1 March 2017,All
5,1063.0,Total,Belfast,Male,Count,People,1 March 2017,All
6,176.0,Alcohol Only,Belfast,Female,Count,People,1 March 2017,All
7,166.0,Drugs Only,Belfast,Female,Count,People,1 March 2017,All
8,93.0,Drugs & Alcohol,Belfast,Female,Count,People,1 March 2017,All
9,89.0,Under 18s,Belfast,Female,Count,People,1 March 2017,All
10,346.0,18 and over,Belfast,Female,Count,People,1 March 2017,All
11,435.0,Total,Belfast,Female,Count,People,1 March 2017,All
12,294.0,Alcohol Only,Northern,Male,Count,People,1 March 2017,All
13,357.0,Drugs Only,Northern,Male,Count,People,1 March 2017,All
14,66.0,Drugs & Alcohol,Northern,Male,Count,People,1 March 2017,All
15,56.0,Under 18s,Northern,Male,Count,People,1 March 2017,All
16,661.0,18 and over,Northern,Male,Count,People,1 March 2017,All
17,717.0,Total,Northern,Male,Count,People,1 March 2017,All
18,149.0,Alcohol Only,Northern,Female,Count,People,1 March 2017,All
19,138.0,Drugs Only,Northern,Female,Count,People,1 March 2017,All
20,19.0,Drugs & Alcohol,Northern,Female,Count,People,1 March 2017,All
21,21.0,Under 18s,Northern,Female,Count,People,1 March 2017,All
22,285.0,18 and over,Northern,Female,Count,People,1 March 2017,All
23,306.0,Total,Northern,Female,Count,People,1 March 2017,All
24,198.0,Alcohol Only,South Eastern,Male,Count,People,1 March 2017,All
25,243.0,Drugs Only,South Eastern,Male,Count,People,1 March 2017,All
26,113.0,Drugs & Alcohol,South Eastern,Male,Count,People,1 March 2017,All
27,92.0,Under 18s,South Eastern,Male,Count,People,1 March 2017,All
28,462.0,18 and over,South Eastern,Male,Count,People,1 March 2017,All
29,554.0,Total,South Eastern,Male,Count,People,1 March 2017,All
...,...,...,...,...,...,...,...,...
134,18.5,18 and over,Western (%),Male,Count,People,1 March 2017,All
135,18.9,Total,Western (%),Male,Count,People,1 March 2017,All
136,26.4,Alcohol Only,Western (%),Female,Count,People,1 March 2017,All
137,13.1,Drugs Only,Western (%),Female,Count,People,1 March 2017,All
138,29.9,Drugs & Alcohol,Western (%),Female,Count,People,1 March 2017,All
139,20.0,Under 18s,Western (%),Female,Count,People,1 March 2017,All
140,23.6,18 and over,Western (%),Female,Count,People,1 March 2017,All
141,23.2,Total,Western (%),Female,Count,People,1 March 2017,All
142,0.3,Alcohol Only,Prison (%),Male,Count,People,1 March 2017,All
143,0.0,Drugs Only,Prison (%),Male,Count,People,1 March 2017,All
144,16.2,Drugs & Alcohol,Prison (%),Male,Count,People,1 March 2017,All
145,0.0,Under 18s,Prison (%),Male,Count,People,1 March 2017,All
146,4.8,18 and over,Prison (%),Male,Count,People,1 March 2017,All
147,4.2,Total,Prison (%),Male,Count,People,1 March 2017,All
148,0.0,Alcohol Only,Prison (%),Female,Count,People,1 March 2017,All
149,0.0,Drugs Only,Prison (%),Female,Count,People,1 March 2017,All
150,3.4,Drugs & Alcohol,Prison (%),Female,Count,People,1 March 2017,All
151,0.6,Under 18s,Prison (%),Female,Count,People,1 March 2017,All
152,0.6,Total,Prison (%),Female,Count,People,1 March 2017,All
153,6.3,Alcohol Only,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
154,0.2,Drugs Only,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
155,0.5,Drugs & Alcohol,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
156,0.0,Under 18s,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
157,3.0,18 and over,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
158,2.6,Total,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
159,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
160,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
161,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
162,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
163,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table.dtypes

Value                           float64
Treatment Type                   object
Health and Social Care Trust     object
Sex                              object
Measure Type                     object
Unit                             object
Period                           object
Age                              object
dtype: object

In [12]:
new_table.tail(5)

,Value,Treatment Type,Health and Social Care Trust,Sex,Measure Type,Unit,Period,Age
159,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
160,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
161,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
162,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
163,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All

In [13]:
new_table.count()

Value                           164
Treatment Type                  164
Health and Social Care Trust    164
Sex                             164
Measure Type                    164
Unit                            164
Period                          164
Age                             164
dtype: int64

In [14]:
new_table = new_table[new_table['Value'] !=  0 ]

In [15]:
new_table.count()

Value                           154
Treatment Type                  154
Health and Social Care Trust    154
Sex                             154
Measure Type                    154
Unit                            154
Period                          154
Age                             154
dtype: int64

In [16]:
new_table['Treatment Type'].fillna('Total', inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [17]:
new_table.drop(new_table[new_table['Health and Social Care Trust'].isin(['Prison', 'Prison (%)'])].index, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
# new_table['Health and Social Care Trust']  = 'All'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [20]:
new_table

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Male,All,All,All,Alcohol Only,Belfast,Count,People,288.0
1,1 March 2017,Male,All,All,All,Drugs Only,Belfast,Count,People,483.0
2,1 March 2017,Male,All,All,All,Drugs & Alcohol,Belfast,Count,People,292.0
3,1 March 2017,Male,All,All,All,Under 18s,Belfast,Count,People,233.0
4,1 March 2017,Male,All,All,All,18 and over,Belfast,Count,People,830.0
5,1 March 2017,Male,All,All,All,Total,Belfast,Count,People,1063.0
6,1 March 2017,Female,All,All,All,Alcohol Only,Belfast,Count,People,176.0
7,1 March 2017,Female,All,All,All,Drugs Only,Belfast,Count,People,166.0
8,1 March 2017,Female,All,All,All,Drugs & Alcohol,Belfast,Count,People,93.0
9,1 March 2017,Female,All,All,All,Under 18s,Belfast,Count,People,89.0
10,1 March 2017,Female,All,All,All,18 and over,Belfast,Count,People,346.0
11,1 March 2017,Female,All,All,All,Total,Belfast,Count,People,435.0
12,1 March 2017,Male,All,All,All,Alcohol Only,Northern,Count,People,294.0
13,1 March 2017,Male,All,All,All,Drugs Only,Northern,Count,People,357.0
14,1 March 2017,Male,All,All,All,Drugs & Alcohol,Northern,Count,People,66.0
15,1 March 2017,Male,All,All,All,Under 18s,Northern,Count,People,56.0
16,1 March 2017,Male,All,All,All,18 and over,Northern,Count,People,661.0
17,1 March 2017,Male,All,All,All,Total,Northern,Count,People,717.0
18,1 March 2017,Female,All,All,All,Alcohol Only,Northern,Count,People,149.0
19,1 March 2017,Female,All,All,All,Drugs Only,Northern,Count,People,138.0
20,1 March 2017,Female,All,All,All,Drugs & Alcohol,Northern,Count,People,19.0
21,1 March 2017,Female,All,All,All,Under 18s,Northern,Count,People,21.0
22,1 March 2017,Female,All,All,All,18 and over,Northern,Count,People,285.0
23,1 March 2017,Female,All,All,All,Total,Northern,Count,People,306.0
24,1 March 2017,Male,All,All,All,Alcohol Only,South Eastern,Count,People,198.0
25,1 March 2017,Male,All,All,All,Drugs Only,South Eastern,Count,People,243.0
26,1 March 2017,Male,All,All,All,Drugs & Alcohol,South Eastern,Count,People,113.0
27,1 March 2017,Male,All,All,All,Under 18s,South Eastern,Count,People,92.0
28,1 March 2017,Male,All,All,All,18 and over,South Eastern,Count,People,462.0
29,1 March 2017,Male,All,All,All,Total,South Eastern,Count,People,554.0
...,...,...,...,...,...,...,...,...,...,...
122,1 March 2017,Male,All,All,All,18 and over,Southern (%),Count,People,19.0
123,1 March 2017,Male,All,All,All,Total,Southern (%),Count,People,17.3
124,1 March 2017,Female,All,All,All,Alcohol Only,Southern (%),Count,People,22.3
125,1 March 2017,Female,All,All,All,Drugs Only,Southern (%),Count,People,13.5
126,1 March 2017,Female,All,All,All,Drugs & Alcohol,Southern (%),Count,People,15.7
127,1 March 2017,Female,All,All,All,Under 18s,Southern (%),Count,People,1.6
128,1 March 2017,Female,All,All,All,18 and over,Southern (%),Count,People,20.5
129,1 March 2017,Female,All,All,All,Total,Southern (%),Count,People,18.6
130,1 March 2017,Male,All,All,All,Alcohol Only,Western (%),Count,People,22.3
131,1 March 2017,Male,All,All,All,Drugs Only,Western (%),Count,People,15.0
132,1 March 2017,Male,All,All,All,Drugs & Alcohol,Western (%),Count,People,19.4
133,1 March 2017,Male,All,All,All,Under 18s,Western (%),Count,People,21.6
134,1 March 2017,Male,All,All,All,18 and over,Western (%),Count,People,18.5
135,1 March 2017,Male,All,All,All,Total,Western (%),Count,People,18.9
136,1 March 2017,Female,All,All,All,Alcohol Only,Western (%),Count,People,26.4
137,1 March 2017,Female,All,All,All,Drugs Only,Western (%),Count,People,13.1
138,1 March 2017,Female,All,All,All,Drugs & Alcohol,Western (%),Count,People,29.9
139,1 March 2017,Female,All,All,All,Under 18s,Western (%),Count,People,20.0
140,1 March 2017,Female,All,All,All,18 and over,Western (%),Count,People,23.6
141,1 March 2017,Female,All,All,All,Total,Western (%),Count,People,23.2
153,1 March 2017,Male,All,All,All,Alcohol Only,Emergency admissions (HIS) (%),Count,People,6.3
154,1 March 2017,Male,All,All,All,Drugs Only,Emergency admissions (HIS) (%),Count,People,0.2
155,1 March 2017,Male,All,All,All,Drugs & Alcohol,Emergency admissions (HIS) (%),Count,People,0.5
157,1 March 2017,Male,All,All,All,18 and over,Emergency admissions (HIS) (%),Count,People,3.0
158,1 March 2017,Male,All,All,All,Total,Emergency admissions (HIS) (%),Count,People,2.6
159,1 March 2017,Female,All,All,All,Alcohol Only,Emergency admissions (HIS) (%),Count,People,4.1
160,1 March 2017,Female,All,All,All,Drugs Only,Emergency admissions (HIS) (%),Count,People,1.1
161,1 March 2017,Female,All,All,All,Drugs & Alcohol,Emergency admissions (HIS) (%),Count,People,1.2
162,1 March 2017,Female,All,All,All,Under 18s,Emergency admissions (HIS) (%),Count,People,2.7
163,1 March 2017,Female,All,All,All,Total,Emergency admissions (HIS) (%),Count,People,2.7