Census of Drug and Alcohol Treatment Type Services in Northern Ireland:Table 5 Comparison table

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-Treatment Type-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 5')[0]

Loading in\data-census-drug-alcohol-Treatment Type-services.xlsx which has size 46265 bytes
Table names: ['Table 5']

In [2]:
observations = tab.excel_ref('B6').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B32').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<B31 141.0>, <B20 257.0>, <I27 18.5>, <H27 1582.0>, <E9 27.4>, <B19 3585.0>, <H14 3891.0>, <C9 34.0>, <B30 257.0>, <J6 5969.0>, <B8 3686.0>, <D15 1294.0>, <I25 28.4>, <H23 8101.0>, <H30 313.0>, <G15 25.6>, <G6 100.0>, <H20 313.0>, <I18 42.6>, <J29 1208.0>, <G16 21.8>, <I15 30.6>, <J23 5552.0>, <J16 1356.0>, <I12 89.9>, <E15 22.1>, <J30 183.0>, <D6 5846.0>, <G25 26.0>, <C30 4.6>, <H26 888.0>, <F9 1850.0>, <I30 3.7>, <J20 183.0>, <H8 5377.0>, <H6 8553.0>, <G30 3.1>, <B22 116.0>, <G19 64.7>, <E25 21.8>, <D30 205.0>, <C12 84.8>, <D19 4035.0>, <D28 789.0>, <H11 862.0>, <K29 20.2>, <E31 3.1>, <F28 1240.0>, <K9 31.4>, <K6 100.0>, <B11 847.0>, <B16 989.0>, <K31 2.6>, <C22 2.1>, <C23 97.9>, <H31 129.0>, <E22 2.3>, <B23 5467.0>, <G11 6.7>, <K22 7.0>, <H12 7691.0>, <E30 3.5>, <K23 93.0>, <E20 3.5>, <C18 31.2>, <D14 3328.0>, <G18 32.2>, <J22 417.0>, <B15 1118.0>, <J8 4095.0>, <D23 5713.0>, <F29 1015.0>, <J19 2186.0>, <J27 841.0>, <C31 2.5>, <D9 1602.0>, <H19 4594.0>, <C8 66.0>, <G22 2.4>, <C25 92.9>, <J28 1058.0>, <D16 1224.0>, <K20 3.1>, <F11 398.0>, <F16 1291.0>, <K30 3.1>, <I6 100.0>, <K19 36.6>, <H9 3176.0>, <F6 5916.0>, <G27 11.4>, <K14 43.2>, <J25 1498.0>, <I16 23.9>, <I8 62.9>, <B6 5583.0>, <D26 1349.0>, <J18 3600.0>, <E23 97.7>, <K11 11.9>, <J14 2577.0>, <B25 5185.0>, <J31 158.0>, <C19 64.2>, <I20 3.7>, <J11 713.0>, <F19 3827.0>, <G31 2.9>, <E6 100.0>, <D18 1606.0>, <G23 97.6>, <H29 1279.0>, <H16 2045.0>, <I14 45.5>, <C11 15.2>, <E28 13.5>, <J9 1874.0>, <C20 4.6>, <I29 15.0>, <D31 182.0>, <K18 60.3>, <D11 644.0>, <C14 62.3>, <G14 52.6>, <G8 68.7>, <B14 3476.0>, <B9 1897.0>, <D27 1252.0>, <I23 94.7>, <F8 4066.0>, <K27 14.1>, <J26 1023.0>, <I9 37.1>, <H15 2617.0>, <J15 2036.0>, <F23 5775.0>, <F22 141.0>, <E16 20.9>, <D25 1272.0>, <E19 69.0>, <I26 10.4>, <D8 4244.0>, <C6 100.0>, <F26 1094.0>, <E8 72.6>, <K25 25.1>, <F15 1514.0>, <D29 797.0>, <E18 27.5>, <E27 21.4>, <K8 68.6>, <F30 184.0>, <G20 3.1>, <F20 184.0>, <E14 56.9>, <F18 1905.0>, <B12 4736.0>, <F14 3111.0>, <B18 1741.0>, <G29 17.2>, <I28 22.6>, <E12 89.0>, <I31 1.5>, <E26 23.1>, <C16 17.7>, <D12 5202.0>, <H25 2425.0>, <G9 31.3>, <G26 18.5>, <K12 88.1>, <E29 13.6>, <H28 1937.0>, <D22 133.0>, <G28 21.0>, <J12 5256.0>, <E11 11.0>, <K28 17.7>, <I22 5.3>, <K15 34.1>, <K16 22.7>, <D20 205.0>, <F25 1536.0>, <G12 93.3>, <K26 17.1>, <F27 675.0>, <C15 20.0>, <I11 10.1>, <F31 172.0>, <H22 452.0>, <F12 5518.0>, <H18 3646.0>, <I19 53.7>}

In [4]:
Service = tab.excel_ref('A').expand(DOWN).by_index([6,7,10,13,17,21,24])
Service

{<A10 'Age'>, <A6 'Total'>, <A17 'Service type'>, <A21 'Residential Status'>, <A13 'Treatment type'>, <A24 'Trust'>, <A7 'Gender'>}

In [5]:
TreatmentType = tab.excel_ref('A').expand(DOWN).is_not_blank() - tab.excel_ref('A').expand(DOWN).by_index([6,7,10,13,17,21,24])
TreatmentType

{<A9 'Female  '>, <A26 'Northern'>, <A1 'Table 5 – Comparison Table'>, <A20 'Prison'>, <A19 'Non-statutory'>, <A15 'Drugs Only'>, <A14 'Alcohol Only'>, <A23 'Non-residential / Mixed'>, <A30 'Prison'>, <A25 'Belfast'>, <A31 'Emergency admissions (HIS)'>, <A27 'South Eastern'>, <A18 'Statutory'>, <A11 'Under 18 '>, <A16 'Drugs & Alcohol'>, <A28 'Southern'>, <A8 'Male'>, <A22 'Residential'>, <A12 '18 and over'>, <A29 'Western'>}

In [6]:
month = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
month

{<B3 '1st March '>, <J3 '1st March '>, <D3 '1st March '>, <F3 '1st March '>, <H3 '1st September'>}

In [7]:
year = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
year

{<B4 2007.0>, <J4 2017.0>, <D4 2010.0>, <F4 2012.0>, <H4 2014.0>}

In [8]:
mt = tab.excel_ref('B5').expand(RIGHT).is_not_blank()
mt

{<H5 'Headcount'>, <G5 '%'>, <J5 'Headcount'>, <B5 'Headcount'>, <I5 '%'>, <C5 '%'>, <D5 'Headcount'>, <K5 '%'>, <F5 'Headcount'>, <E5 '%'>}

In [9]:
Dimensions = [
            HDim(TreatmentType,'Treatment Type',DIRECTLY,LEFT),
            HDim(Service,'Category',CLOSEST,ABOVE),
            HDim(month,'month',CLOSEST,LEFT),
            HDim(year,'Year',CLOSEST,LEFT),
            HDim(mt,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People'),
            HDimConst('Age','All'),
            HDimConst('Sex','Persons')
            ]

In [10]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [11]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex
0,5583.0,None,Total,1st March,2007.0,Headcount,People,All,Persons
1,100.0,None,Total,1st March,2007.0,%,People,All,Persons
2,5846.0,None,Total,1st March,2010.0,Headcount,People,All,Persons
3,100.0,None,Total,1st March,2010.0,%,People,All,Persons
4,5916.0,None,Total,1st March,2012.0,Headcount,People,All,Persons
5,100.0,None,Total,1st March,2012.0,%,People,All,Persons
6,8553.0,None,Total,1st September,2014.0,Headcount,People,All,Persons
7,100.0,None,Total,1st September,2014.0,%,People,All,Persons
8,5969.0,None,Total,1st March,2017.0,Headcount,People,All,Persons
9,100.0,None,Total,1st March,2017.0,%,People,All,Persons
10,3686.0,Male,Gender,1st March,2007.0,Headcount,People,All,Persons
11,66.0,Male,Gender,1st March,2007.0,%,People,All,Persons
12,4244.0,Male,Gender,1st March,2010.0,Headcount,People,All,Persons
13,72.6,Male,Gender,1st March,2010.0,%,People,All,Persons
14,4066.0,Male,Gender,1st March,2012.0,Headcount,People,All,Persons
15,68.7,Male,Gender,1st March,2012.0,%,People,All,Persons
16,5377.0,Male,Gender,1st September,2014.0,Headcount,People,All,Persons
17,62.9,Male,Gender,1st September,2014.0,%,People,All,Persons
18,4095.0,Male,Gender,1st March,2017.0,Headcount,People,All,Persons
19,68.6,Male,Gender,1st March,2017.0,%,People,All,Persons
20,1897.0,Female,Gender,1st March,2007.0,Headcount,People,All,Persons
21,34.0,Female,Gender,1st March,2007.0,%,People,All,Persons
22,1602.0,Female,Gender,1st March,2010.0,Headcount,People,All,Persons
23,27.4,Female,Gender,1st March,2010.0,%,People,All,Persons
24,1850.0,Female,Gender,1st March,2012.0,Headcount,People,All,Persons
25,31.3,Female,Gender,1st March,2012.0,%,People,All,Persons
26,3176.0,Female,Gender,1st September,2014.0,Headcount,People,All,Persons
27,37.1,Female,Gender,1st September,2014.0,%,People,All,Persons
28,1874.0,Female,Gender,1st March,2017.0,Headcount,People,All,Persons
29,31.4,Female,Gender,1st March,2017.0,%,People,All,Persons
...,...,...,...,...,...,...,...,...,...
162,1058.0,Southern,Trust,1st March,2017.0,Headcount,People,All,Persons
163,17.7,Southern,Trust,1st March,2017.0,%,People,All,Persons
164,797.0,Western,Trust,1st March,2010.0,Headcount,People,All,Persons
165,13.6,Western,Trust,1st March,2010.0,%,People,All,Persons
166,1015.0,Western,Trust,1st March,2012.0,Headcount,People,All,Persons
167,17.2,Western,Trust,1st March,2012.0,%,People,All,Persons
168,1279.0,Western,Trust,1st September,2014.0,Headcount,People,All,Persons
169,15.0,Western,Trust,1st September,2014.0,%,People,All,Persons
170,1208.0,Western,Trust,1st March,2017.0,Headcount,People,All,Persons
171,20.2,Western,Trust,1st March,2017.0,%,People,All,Persons
172,257.0,Prison,Trust,1st March,2007.0,Headcount,People,All,Persons
173,4.6,Prison,Trust,1st March,2007.0,%,People,All,Persons
174,205.0,Prison,Trust,1st March,2010.0,Headcount,People,All,Persons
175,3.5,Prison,Trust,1st March,2010.0,%,People,All,Persons
176,184.0,Prison,Trust,1st March,2012.0,Headcount,People,All,Persons
177,3.1,Prison,Trust,1st March,2012.0,%,People,All,Persons
178,313.0,Prison,Trust,1st September,2014.0,Headcount,People,All,Persons
179,3.7,Prison,Trust,1st September,2014.0,%,People,All,Persons
180,183.0,Prison,Trust,1st March,2017.0,Headcount,People,All,Persons
181,3.1,Prison,Trust,1st March,2017.0,%,People,All,Persons
182,141.0,Emergency admissions (HIS),Trust,1st March,2007.0,Headcount,People,All,Persons
183,2.5,Emergency admissions (HIS),Trust,1st March,2007.0,%,People,All,Persons
184,182.0,Emergency admissions (HIS),Trust,1st March,2010.0,Headcount,People,All,Persons
185,3.1,Emergency admissions (HIS),Trust,1st March,2010.0,%,People,All,Persons
186,172.0,Emergency admissions (HIS),Trust,1st March,2012.0,Headcount,People,All,Persons
187,2.9,Emergency admissions (HIS),Trust,1st March,2012.0,%,People,All,Persons
188,129.0,Emergency admissions (HIS),Trust,1st September,2014.0,Headcount,People,All,Persons
189,1.5,Emergency admissions (HIS),Trust,1st September,2014.0,%,People,All,Persons
190,158.0,Emergency admissions (HIS),Trust,1st March,2017.0,Headcount,People,All,Persons
191,2.6,Emergency admissions (HIS),Trust,1st March,2017.0,%,People,All,Persons

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table.dtypes

Value             float64
Treatment Type     object
Category           object
month              object
Year               object
Measure Type       object
Unit               object
Age                object
Sex                object
dtype: object

In [14]:
new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce').fillna(0)

In [15]:
new_table['Year'] = new_table['Year'].astype(int)

In [16]:
new_table['Year'] = new_table['Year'].astype(str)

In [17]:
new_table['Period'] = new_table['month'] + new_table['Year']

In [18]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        '%' : 'Percentage of Headcount'
        }.get(x, x))

In [19]:
new_table.tail(5)

,Value,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex,Period
187,2.9,Emergency admissions (HIS),Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
188,129.0,Emergency admissions (HIS),Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
189,1.5,Emergency admissions (HIS),Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
190,158.0,Emergency admissions (HIS),Trust,1st March,2017,Headcount,People,All,Persons,1st March 2017
191,2.6,Emergency admissions (HIS),Trust,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017

In [20]:
new_table.count()

Value             192
Treatment Type    182
Category          192
month             192
Year              192
Measure Type      192
Unit              192
Age               192
Sex               192
Period            192
dtype: int64

In [21]:
new_table = new_table[new_table['Value'] !=  0 ]

In [22]:
new_table.count()

Value             192
Treatment Type    182
Category          192
month             192
Year              192
Measure Type      192
Unit              192
Age               192
Sex               192
Period            192
dtype: int64

In [23]:
new_table['Treatment Type'].unique()

array([None, 'Male', 'Female  ', 'Under 18 ', '18 and over',
       'Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Statutory',
       'Non-statutory', 'Prison', 'Residential',
       'Non-residential / Mixed', 'Belfast', 'Northern', 'South Eastern',
       'Southern', 'Western', 'Emergency admissions (HIS)'], dtype=object)

In [24]:
new_table['Treatment Type'].fillna('All', inplace = True)

In [25]:
new_table

,Value,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex,Period
0,5583.0,All,Total,1st March,2007,Headcount,People,All,Persons,1st March 2007
1,100.0,All,Total,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
2,5846.0,All,Total,1st March,2010,Headcount,People,All,Persons,1st March 2010
3,100.0,All,Total,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
4,5916.0,All,Total,1st March,2012,Headcount,People,All,Persons,1st March 2012
5,100.0,All,Total,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
6,8553.0,All,Total,1st September,2014,Headcount,People,All,Persons,1st September2014
7,100.0,All,Total,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
8,5969.0,All,Total,1st March,2017,Headcount,People,All,Persons,1st March 2017
9,100.0,All,Total,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
10,3686.0,Male,Gender,1st March,2007,Headcount,People,All,Persons,1st March 2007
11,66.0,Male,Gender,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
12,4244.0,Male,Gender,1st March,2010,Headcount,People,All,Persons,1st March 2010
13,72.6,Male,Gender,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
14,4066.0,Male,Gender,1st March,2012,Headcount,People,All,Persons,1st March 2012
15,68.7,Male,Gender,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
16,5377.0,Male,Gender,1st September,2014,Headcount,People,All,Persons,1st September2014
17,62.9,Male,Gender,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
18,4095.0,Male,Gender,1st March,2017,Headcount,People,All,Persons,1st March 2017
19,68.6,Male,Gender,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
20,1897.0,Female,Gender,1st March,2007,Headcount,People,All,Persons,1st March 2007
21,34.0,Female,Gender,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
22,1602.0,Female,Gender,1st March,2010,Headcount,People,All,Persons,1st March 2010
23,27.4,Female,Gender,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
24,1850.0,Female,Gender,1st March,2012,Headcount,People,All,Persons,1st March 2012
25,31.3,Female,Gender,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
26,3176.0,Female,Gender,1st September,2014,Headcount,People,All,Persons,1st September2014
27,37.1,Female,Gender,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
28,1874.0,Female,Gender,1st March,2017,Headcount,People,All,Persons,1st March 2017
29,31.4,Female,Gender,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
...,...,...,...,...,...,...,...,...,...,...
162,1058.0,Southern,Trust,1st March,2017,Headcount,People,All,Persons,1st March 2017
163,17.7,Southern,Trust,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
164,797.0,Western,Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
165,13.6,Western,Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
166,1015.0,Western,Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
167,17.2,Western,Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
168,1279.0,Western,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
169,15.0,Western,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
170,1208.0,Western,Trust,1st March,2017,Headcount,People,All,Persons,1st March 2017
171,20.2,Western,Trust,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
172,257.0,Prison,Trust,1st March,2007,Headcount,People,All,Persons,1st March 2007
173,4.6,Prison,Trust,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
174,205.0,Prison,Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
175,3.5,Prison,Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
176,184.0,Prison,Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
177,3.1,Prison,Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
178,313.0,Prison,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
179,3.7,Prison,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
180,183.0,Prison,Trust,1st March,2017,Headcount,People,All,Persons,1st March 2017
181,3.1,Prison,Trust,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
182,141.0,Emergency admissions (HIS),Trust,1st March,2007,Headcount,People,All,Persons,1st March 2007
183,2.5,Emergency admissions (HIS),Trust,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
184,182.0,Emergency admissions (HIS),Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
185,3.1,Emergency admissions (HIS),Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
186,172.0,Emergency admissions (HIS),Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
187,2.9,Emergency admissions (HIS),Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
188,129.0,Emergency admissions (HIS),Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
189,1.5,Emergency admissions (HIS),Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
190,158.0,Emergency admissions (HIS),Trust,1st March,2017,Headcount,People,All,Persons,1st March 2017
191,2.6,Emergency admissions (HIS),Trust,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017

In [26]:
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
new_table['Health and Social Care Trust']  = 'All'

In [27]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [28]:
new_table.head(5)

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1st March 2007,Persons,All,All,All,All,All,Headcount,People,5583.0
1,1st March 2007,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
2,1st March 2010,Persons,All,All,All,All,All,Headcount,People,5846.0
3,1st March 2010,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
4,1st March 2012,Persons,All,All,All,All,All,Headcount,People,5916.0