Census of Drug and Alcohol Treatment Type Services in Northern Ireland:Table 5 Comparison table

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-Treatment Type-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 5')[0]

Loading in\data-census-drug-alcohol-Treatment Type-services.xlsx which has size 46265 bytes
Table names: ['Table 5']

In [2]:
observations = tab.excel_ref('B6').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('J8').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<D8 4244.0>, <G11 6.7>, <C20 4.6>, <D29 797.0>, <B9 1897.0>, <I8 62.9>, <G20 3.1>, <D26 1349.0>, <E14 56.9>, <F22 141.0>, <B25 5185.0>, <E16 20.9>, <G22 2.4>, <E8 72.6>, <C6 100.0>, <I28 22.6>, <D16 1224.0>, <C25 92.9>, <D18 1606.0>, <H16 2045.0>, <F11 398.0>, <E26 23.1>, <F6 5916.0>, <D31 182.0>, <D11 644.0>, <C14 62.3>, <E27 21.4>, <B6 5583.0>, <I22 5.3>, <D27 1252.0>, <I23 94.7>, <F18 1905.0>, <F8 4066.0>, <B18 1741.0>, <F14 3111.0>, <C19 64.2>, <G31 2.9>, <F19 3827.0>, <G23 97.6>, <E19 69.0>, <I26 10.4>, <C11 15.2>, <F26 1094.0>, <I29 15.0>, <G28 21.0>, <F15 1514.0>, <E18 27.5>, <E9 27.4>, <B14 3476.0>, <C9 34.0>, <D20 205.0>, <F25 1536.0>, <F27 675.0>, <I11 10.1>, <I9 37.1>, <F23 5775.0>, <H30 313.0>, <B12 4736.0>, <D25 1272.0>, <G29 17.2>, <H18 3646.0>, <I18 42.6>, <G16 21.8>, <I15 30.6>, <B31 141.0>, <D12 5202.0>, <C16 17.7>, <H25 2425.0>, <H27 1582.0>, <B20 257.0>, <G9 31.3>, <I30 3.7>, <G30 3.1>, <D15 1294.0>, <F30 184.0>, <D19 4035.0>, <F20 184.0>, <H11 862.0>, <G12 93.3>, <D28 789.0>, <C15 20.0>, <F28 1240.0>, <F31 172.0>, <H22 452.0>, <E12 89.0>, <B11 847.0>, <I31 1.5>, <I12 89.9>, <E15 22.1>, <I19 53.7>, <H26 888.0>, <D22 133.0>, <G26 18.5>, <H28 1937.0>, <E29 13.6>, <B22 116.0>, <I27 18.5>, <H14 3891.0>, <E11 11.0>, <G18 32.2>, <C8 66.0>, <H23 8101.0>, <F12 5518.0>, <D23 5713.0>, <F29 1015.0>, <G6 100.0>, <H20 313.0>, <C22 2.1>, <C23 97.9>, <E22 2.3>, <D9 1602.0>, <B23 5467.0>, <D6 5846.0>, <H12 7691.0>, <B19 3585.0>, <C30 4.6>, <H8 5377.0>, <H6 8553.0>, <F9 1850.0>, <J6 5969.0>, <B30 257.0>, <I6 100.0>, <I25 28.4>, <H9 3176.0>, <B8 3686.0>, <D30 205.0>, <G15 25.6>, <K6 100.0>, <I20 3.7>, <H31 129.0>, <G25 26.0>, <I14 45.5>, <E28 13.5>, <F16 1291.0>, <G19 64.7>, <G27 11.4>, <E30 3.5>, <E25 21.8>, <I16 23.9>, <C12 84.8>, <E20 3.5>, <C18 31.2>, <D14 3328.0>, <G14 52.6>, <G8 68.7>, <E31 3.1>, <B15 1118.0>, <E23 97.7>, <B16 989.0>, <H15 2617.0>, <C31 2.5>, <E6 100.0>, <H19 4594.0>, <H29 1279.0>}

In [4]:
Service = tab.excel_ref('A').expand(DOWN).by_index([6,7,10,13,17,21,24])
Service

{<A17 'Service type'>, <A24 'Trust'>, <A6 'Total'>, <A10 'Age'>, <A21 'Residential Status'>, <A13 'Treatment type'>, <A7 'Gender'>}

In [5]:
TreatmentType = tab.excel_ref('A').expand(DOWN).is_not_blank() - tab.excel_ref('A').expand(DOWN).by_index([6,7,10,13,17,21,24])
TreatmentType

{<A30 'Prison'>, <A9 'Female  '>, <A11 'Under 18 '>, <A31 'Emergency admissions (HIS)'>, <A20 'Prison'>, <A8 'Male'>, <A28 'Southern'>, <A26 'Northern'>, <A18 'Statutory'>, <A29 'Western'>, <A15 'Drugs Only'>, <A19 'Non-statutory'>, <A1 'Table 5 – Comparison Table'>, <A27 'South Eastern'>, <A22 'Residential'>, <A14 'Alcohol Only'>, <A12 '18 and over'>, <A16 'Drugs & Alcohol'>, <A25 'Belfast'>, <A23 'Non-residential / Mixed'>}

In [6]:
month = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
month

{<J3 '1st March '>, <D3 '1st March '>, <B3 '1st March '>, <F3 '1st March '>, <H3 '1st September'>}

In [7]:
year = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
year

{<H4 2014.0>, <J4 2017.0>, <F4 2012.0>, <D4 2010.0>, <B4 2007.0>}

In [8]:
mt = tab.excel_ref('B5').expand(RIGHT).is_not_blank()
mt

{<C5 '%'>, <D5 'Headcount'>, <I5 '%'>, <H5 'Headcount'>, <E5 '%'>, <B5 'Headcount'>, <K5 '%'>, <F5 'Headcount'>, <G5 '%'>, <J5 'Headcount'>}

In [9]:
Dimensions = [
            HDim(TreatmentType,'Treatment Type',DIRECTLY,LEFT),
            HDim(Service,'Category',CLOSEST,ABOVE),
            HDim(month,'month',CLOSEST,LEFT),
            HDim(year,'Year',CLOSEST,LEFT),
            HDim(mt,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People'),
            HDimConst('Age','All'),
            HDimConst('Sex','Persons')
            ]

In [10]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [11]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex
0,5583.0,None,Total,1st March,2007.0,Headcount,People,All,Persons
1,100.0,None,Total,1st March,2007.0,%,People,All,Persons
2,5846.0,None,Total,1st March,2010.0,Headcount,People,All,Persons
3,100.0,None,Total,1st March,2010.0,%,People,All,Persons
4,5916.0,None,Total,1st March,2012.0,Headcount,People,All,Persons
5,100.0,None,Total,1st March,2012.0,%,People,All,Persons
6,8553.0,None,Total,1st September,2014.0,Headcount,People,All,Persons
7,100.0,None,Total,1st September,2014.0,%,People,All,Persons
8,5969.0,None,Total,1st March,2017.0,Headcount,People,All,Persons
9,100.0,None,Total,1st March,2017.0,%,People,All,Persons
10,3686.0,Male,Gender,1st March,2007.0,Headcount,People,All,Persons
11,66.0,Male,Gender,1st March,2007.0,%,People,All,Persons
12,4244.0,Male,Gender,1st March,2010.0,Headcount,People,All,Persons
13,72.6,Male,Gender,1st March,2010.0,%,People,All,Persons
14,4066.0,Male,Gender,1st March,2012.0,Headcount,People,All,Persons
15,68.7,Male,Gender,1st March,2012.0,%,People,All,Persons
16,5377.0,Male,Gender,1st September,2014.0,Headcount,People,All,Persons
17,62.9,Male,Gender,1st September,2014.0,%,People,All,Persons
18,1897.0,Female,Gender,1st March,2007.0,Headcount,People,All,Persons
19,34.0,Female,Gender,1st March,2007.0,%,People,All,Persons
20,1602.0,Female,Gender,1st March,2010.0,Headcount,People,All,Persons
21,27.4,Female,Gender,1st March,2010.0,%,People,All,Persons
22,1850.0,Female,Gender,1st March,2012.0,Headcount,People,All,Persons
23,31.3,Female,Gender,1st March,2012.0,%,People,All,Persons
24,3176.0,Female,Gender,1st September,2014.0,Headcount,People,All,Persons
25,37.1,Female,Gender,1st September,2014.0,%,People,All,Persons
26,847.0,Under 18,Age,1st March,2007.0,Headcount,People,All,Persons
27,15.2,Under 18,Age,1st March,2007.0,%,People,All,Persons
28,644.0,Under 18,Age,1st March,2010.0,Headcount,People,All,Persons
29,11.0,Under 18,Age,1st March,2010.0,%,People,All,Persons
...,...,...,...,...,...,...,...,...,...
124,1582.0,South Eastern,Trust,1st September,2014.0,Headcount,People,All,Persons
125,18.5,South Eastern,Trust,1st September,2014.0,%,People,All,Persons
126,789.0,Southern,Trust,1st March,2010.0,Headcount,People,All,Persons
127,13.5,Southern,Trust,1st March,2010.0,%,People,All,Persons
128,1240.0,Southern,Trust,1st March,2012.0,Headcount,People,All,Persons
129,21.0,Southern,Trust,1st March,2012.0,%,People,All,Persons
130,1937.0,Southern,Trust,1st September,2014.0,Headcount,People,All,Persons
131,22.6,Southern,Trust,1st September,2014.0,%,People,All,Persons
132,797.0,Western,Trust,1st March,2010.0,Headcount,People,All,Persons
133,13.6,Western,Trust,1st March,2010.0,%,People,All,Persons
134,1015.0,Western,Trust,1st March,2012.0,Headcount,People,All,Persons
135,17.2,Western,Trust,1st March,2012.0,%,People,All,Persons
136,1279.0,Western,Trust,1st September,2014.0,Headcount,People,All,Persons
137,15.0,Western,Trust,1st September,2014.0,%,People,All,Persons
138,257.0,Prison,Trust,1st March,2007.0,Headcount,People,All,Persons
139,4.6,Prison,Trust,1st March,2007.0,%,People,All,Persons
140,205.0,Prison,Trust,1st March,2010.0,Headcount,People,All,Persons
141,3.5,Prison,Trust,1st March,2010.0,%,People,All,Persons
142,184.0,Prison,Trust,1st March,2012.0,Headcount,People,All,Persons
143,3.1,Prison,Trust,1st March,2012.0,%,People,All,Persons
144,313.0,Prison,Trust,1st September,2014.0,Headcount,People,All,Persons
145,3.7,Prison,Trust,1st September,2014.0,%,People,All,Persons
146,141.0,Emergency admissions (HIS),Trust,1st March,2007.0,Headcount,People,All,Persons
147,2.5,Emergency admissions (HIS),Trust,1st March,2007.0,%,People,All,Persons
148,182.0,Emergency admissions (HIS),Trust,1st March,2010.0,Headcount,People,All,Persons
149,3.1,Emergency admissions (HIS),Trust,1st March,2010.0,%,People,All,Persons
150,172.0,Emergency admissions (HIS),Trust,1st March,2012.0,Headcount,People,All,Persons
151,2.9,Emergency admissions (HIS),Trust,1st March,2012.0,%,People,All,Persons
152,129.0,Emergency admissions (HIS),Trust,1st September,2014.0,Headcount,People,All,Persons
153,1.5,Emergency admissions (HIS),Trust,1st September,2014.0,%,People,All,Persons

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table.dtypes

Value             float64
Treatment Type     object
Category           object
month              object
Year               object
Measure Type       object
Unit               object
Age                object
Sex                object
dtype: object

In [14]:
new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce').fillna(0)

In [15]:
new_table['Year'] = new_table['Year'].astype(int)

In [16]:
new_table['Year'] = new_table['Year'].astype(str)

In [17]:
new_table['Period'] = new_table['month'] + new_table['Year']

In [18]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        '%' : 'Percentage of Headcount'
        }.get(x, x))

In [19]:
new_table.tail(5)

,Value,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex,Period
149,3.1,Emergency admissions (HIS),Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
150,172.0,Emergency admissions (HIS),Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
151,2.9,Emergency admissions (HIS),Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
152,129.0,Emergency admissions (HIS),Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
153,1.5,Emergency admissions (HIS),Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014

In [20]:
new_table.count()

Value             154
Treatment Type    144
Category          154
month             154
Year              154
Measure Type      154
Unit              154
Age               154
Sex               154
Period            154
dtype: int64

In [21]:
new_table = new_table[new_table['Value'] !=  0 ]

In [22]:
new_table.count()

Value             154
Treatment Type    144
Category          154
month             154
Year              154
Measure Type      154
Unit              154
Age               154
Sex               154
Period            154
dtype: int64

In [23]:
new_table['Treatment Type'].unique()

array([None, 'Male', 'Female  ', 'Under 18 ', '18 and over',
       'Alcohol Only', 'Drugs Only', 'Drugs & Alcohol', 'Statutory',
       'Non-statutory', 'Prison', 'Residential',
       'Non-residential / Mixed', 'Belfast', 'Northern', 'South Eastern',
       'Southern', 'Western', 'Emergency admissions (HIS)'], dtype=object)

In [24]:
new_table['Treatment Type'].fillna('All', inplace = True)

In [25]:
new_table

,Value,Treatment Type,Category,month,Year,Measure Type,Unit,Age,Sex,Period
0,5583.0,All,Total,1st March,2007,Headcount,People,All,Persons,1st March 2007
1,100.0,All,Total,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
2,5846.0,All,Total,1st March,2010,Headcount,People,All,Persons,1st March 2010
3,100.0,All,Total,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
4,5916.0,All,Total,1st March,2012,Headcount,People,All,Persons,1st March 2012
5,100.0,All,Total,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
6,8553.0,All,Total,1st September,2014,Headcount,People,All,Persons,1st September2014
7,100.0,All,Total,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
8,5969.0,All,Total,1st March,2017,Headcount,People,All,Persons,1st March 2017
9,100.0,All,Total,1st March,2017,Percentage of Headcount,People,All,Persons,1st March 2017
10,3686.0,Male,Gender,1st March,2007,Headcount,People,All,Persons,1st March 2007
11,66.0,Male,Gender,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
12,4244.0,Male,Gender,1st March,2010,Headcount,People,All,Persons,1st March 2010
13,72.6,Male,Gender,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
14,4066.0,Male,Gender,1st March,2012,Headcount,People,All,Persons,1st March 2012
15,68.7,Male,Gender,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
16,5377.0,Male,Gender,1st September,2014,Headcount,People,All,Persons,1st September2014
17,62.9,Male,Gender,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
18,1897.0,Female,Gender,1st March,2007,Headcount,People,All,Persons,1st March 2007
19,34.0,Female,Gender,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
20,1602.0,Female,Gender,1st March,2010,Headcount,People,All,Persons,1st March 2010
21,27.4,Female,Gender,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
22,1850.0,Female,Gender,1st March,2012,Headcount,People,All,Persons,1st March 2012
23,31.3,Female,Gender,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
24,3176.0,Female,Gender,1st September,2014,Headcount,People,All,Persons,1st September2014
25,37.1,Female,Gender,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
26,847.0,Under 18,Age,1st March,2007,Headcount,People,All,Persons,1st March 2007
27,15.2,Under 18,Age,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
28,644.0,Under 18,Age,1st March,2010,Headcount,People,All,Persons,1st March 2010
29,11.0,Under 18,Age,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
...,...,...,...,...,...,...,...,...,...,...
124,1582.0,South Eastern,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
125,18.5,South Eastern,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
126,789.0,Southern,Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
127,13.5,Southern,Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
128,1240.0,Southern,Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
129,21.0,Southern,Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
130,1937.0,Southern,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
131,22.6,Southern,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
132,797.0,Western,Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
133,13.6,Western,Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
134,1015.0,Western,Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
135,17.2,Western,Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
136,1279.0,Western,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
137,15.0,Western,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
138,257.0,Prison,Trust,1st March,2007,Headcount,People,All,Persons,1st March 2007
139,4.6,Prison,Trust,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
140,205.0,Prison,Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
141,3.5,Prison,Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
142,184.0,Prison,Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
143,3.1,Prison,Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
144,313.0,Prison,Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
145,3.7,Prison,Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014
146,141.0,Emergency admissions (HIS),Trust,1st March,2007,Headcount,People,All,Persons,1st March 2007
147,2.5,Emergency admissions (HIS),Trust,1st March,2007,Percentage of Headcount,People,All,Persons,1st March 2007
148,182.0,Emergency admissions (HIS),Trust,1st March,2010,Headcount,People,All,Persons,1st March 2010
149,3.1,Emergency admissions (HIS),Trust,1st March,2010,Percentage of Headcount,People,All,Persons,1st March 2010
150,172.0,Emergency admissions (HIS),Trust,1st March,2012,Headcount,People,All,Persons,1st March 2012
151,2.9,Emergency admissions (HIS),Trust,1st March,2012,Percentage of Headcount,People,All,Persons,1st March 2012
152,129.0,Emergency admissions (HIS),Trust,1st September,2014,Headcount,People,All,Persons,1st September2014
153,1.5,Emergency admissions (HIS),Trust,1st September,2014,Percentage of Headcount,People,All,Persons,1st September2014

In [26]:
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
new_table['Health and Social Care Trust']  = 'All'

In [27]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [28]:
new_table

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1st March 2007,Persons,All,All,All,All,All,Headcount,People,5583.0
1,1st March 2007,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
2,1st March 2010,Persons,All,All,All,All,All,Headcount,People,5846.0
3,1st March 2010,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
4,1st March 2012,Persons,All,All,All,All,All,Headcount,People,5916.0
5,1st March 2012,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
6,1st September2014,Persons,All,All,All,All,All,Headcount,People,8553.0
7,1st September2014,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
8,1st March 2017,Persons,All,All,All,All,All,Headcount,People,5969.0
9,1st March 2017,Persons,All,All,All,All,All,Percentage of Headcount,People,100.0
10,1st March 2007,Persons,All,All,All,Male,All,Headcount,People,3686.0
11,1st March 2007,Persons,All,All,All,Male,All,Percentage of Headcount,People,66.0
12,1st March 2010,Persons,All,All,All,Male,All,Headcount,People,4244.0
13,1st March 2010,Persons,All,All,All,Male,All,Percentage of Headcount,People,72.6
14,1st March 2012,Persons,All,All,All,Male,All,Headcount,People,4066.0
15,1st March 2012,Persons,All,All,All,Male,All,Percentage of Headcount,People,68.7
16,1st September2014,Persons,All,All,All,Male,All,Headcount,People,5377.0
17,1st September2014,Persons,All,All,All,Male,All,Percentage of Headcount,People,62.9
18,1st March 2007,Persons,All,All,All,Female,All,Headcount,People,1897.0
19,1st March 2007,Persons,All,All,All,Female,All,Percentage of Headcount,People,34.0
20,1st March 2010,Persons,All,All,All,Female,All,Headcount,People,1602.0
21,1st March 2010,Persons,All,All,All,Female,All,Percentage of Headcount,People,27.4
22,1st March 2012,Persons,All,All,All,Female,All,Headcount,People,1850.0
23,1st March 2012,Persons,All,All,All,Female,All,Percentage of Headcount,People,31.3
24,1st September2014,Persons,All,All,All,Female,All,Headcount,People,3176.0
25,1st September2014,Persons,All,All,All,Female,All,Percentage of Headcount,People,37.1
26,1st March 2007,Persons,All,All,All,Under 18,All,Headcount,People,847.0
27,1st March 2007,Persons,All,All,All,Under 18,All,Percentage of Headcount,People,15.2
28,1st March 2010,Persons,All,All,All,Under 18,All,Headcount,People,644.0
29,1st March 2010,Persons,All,All,All,Under 18,All,Percentage of Headcount,People,11.0
...,...,...,...,...,...,...,...,...,...,...
124,1st September2014,Persons,All,All,All,South Eastern,All,Headcount,People,1582.0
125,1st September2014,Persons,All,All,All,South Eastern,All,Percentage of Headcount,People,18.5
126,1st March 2010,Persons,All,All,All,Southern,All,Headcount,People,789.0
127,1st March 2010,Persons,All,All,All,Southern,All,Percentage of Headcount,People,13.5
128,1st March 2012,Persons,All,All,All,Southern,All,Headcount,People,1240.0
129,1st March 2012,Persons,All,All,All,Southern,All,Percentage of Headcount,People,21.0
130,1st September2014,Persons,All,All,All,Southern,All,Headcount,People,1937.0
131,1st September2014,Persons,All,All,All,Southern,All,Percentage of Headcount,People,22.6
132,1st March 2010,Persons,All,All,All,Western,All,Headcount,People,797.0
133,1st March 2010,Persons,All,All,All,Western,All,Percentage of Headcount,People,13.6
134,1st March 2012,Persons,All,All,All,Western,All,Headcount,People,1015.0
135,1st March 2012,Persons,All,All,All,Western,All,Percentage of Headcount,People,17.2
136,1st September2014,Persons,All,All,All,Western,All,Headcount,People,1279.0
137,1st September2014,Persons,All,All,All,Western,All,Percentage of Headcount,People,15.0
138,1st March 2007,Persons,All,All,All,Prison,All,Headcount,People,257.0
139,1st March 2007,Persons,All,All,All,Prison,All,Percentage of Headcount,People,4.6
140,1st March 2010,Persons,All,All,All,Prison,All,Headcount,People,205.0
141,1st March 2010,Persons,All,All,All,Prison,All,Percentage of Headcount,People,3.5
142,1st March 2012,Persons,All,All,All,Prison,All,Headcount,People,184.0
143,1st March 2012,Persons,All,All,All,Prison,All,Percentage of Headcount,People,3.1
144,1st September2014,Persons,All,All,All,Prison,All,Headcount,People,313.0
145,1st September2014,Persons,All,All,All,Prison,All,Percentage of Headcount,People,3.7
146,1st March 2007,Persons,All,All,All,Emergency admissions (HIS),All,Headcount,People,141.0
147,1st March 2007,Persons,All,All,All,Emergency admissions (HIS),All,Percentage of Headcount,People,2.5
148,1st March 2010,Persons,All,All,All,Emergency admissions (HIS),All,Headcount,People,182.0
149,1st March 2010,Persons,All,All,All,Emergency admissions (HIS),All,Percentage of Headcount,People,3.1
150,1st March 2012,Persons,All,All,All,Emergency admissions (HIS),All,Headcount,People,172.0
151,1st March 2012,Persons,All,All,All,Emergency admissions (HIS),All,Percentage of Headcount,People,2.9
152,1st September2014,Persons,All,All,All,Emergency admissions (HIS),All,Headcount,People,129.0
153,1st September2014,Persons,All,All,All,Emergency admissions (HIS),All,Percentage of Headcount,People,1.5