Census of Drug and Alcohol Treatment Services in Northern Ireland:Breakdown by Age and Gender

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 1')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 1']

In [2]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()

In [3]:
observations

{<E5 713.0>, <I11 100.0>, <L11 25.2>, <G9 28.7>, <D12 38.9>, <B9 67.4>, <C10 45.4>, <F7 946.0>, <G12 29.1>, <K5 2036.0>, <B5 95.0>, <B8 32.6>, <L5 1356.0>, <D10 41.2>, <J9 39.2>, <G8 71.3>, <C6 275.0>, <B7 64.0>, <C5 324.0>, <J7 1010.0>, <B6 31.0>, <J5 2577.0>, <G7 491.0>, <M6 4095.0>, <I8 67.9>, <C8 84.9>, <M7 1874.0>, <B10 13.3>, <E7 185.0>, <C9 15.1>, <I10 100.0>, <F9 38.1>, <G10 32.6>, <K10 34.1>, <K6 1496.0>, <M11 100.0>, <D7 72.0>, <H5 1062.0>, <E6 528.0>, <E9 25.9>, <L9 23.9>, <H6 810.0>, <E11 100.0>, <M5 5969.0>, <B12 34.6>, <H10 20.2>, <F8 61.9>, <M9 31.4>, <I12 100.0>, <I6 3567.0>, <L6 1032.0>, <K12 28.8>, <F10 47.2>, <E8 74.1>, <H12 14.9>, <K7 540.0>, <M12 100.0>, <K9 26.5>, <E12 100.0>, <K8 73.5>, <H11 22.7>, <H9 23.7>, <F6 1536.0>, <I7 1689.0>, <L8 76.1>, <F12 56.0>, <D8 75.5>, <J11 38.3>, <J6 1567.0>, <F5 2482.0>, <C7 49.0>, <J8 60.8>, <M8 68.6>, <H7 252.0>, <K11 36.5>, <G5 1712.0>, <D5 294.0>, <L7 324.0>, <G11 34.2>, <C12 26.5>, <D9 24.5>, <M10 100.0>, <J10 43.2>, <I5 5256.0>, <L10 22.7>, <C11 52.1>, <G6 1221.0>, <D6 222.0>, <F11 43.1>, <E10 100.0>, <H8 76.3>, <D11 42.0>, <B11 5.9>, <J12 53.9>, <I9 32.1>, <L12 17.3>}

In [4]:
age = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
age

{<M3 'Overall Total'>, <J3 'Treatment Type'>, <F3 '18 and over'>, <B3 'Under 18 '>}

In [5]:
Treatment = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
Treatment

{<C4 'Drugs Only'>, <J4 'Alcohol Only'>, <G4 'Drugs Only'>, <H4 'Drugs & Alcohol'>, <E4 'Total'>, <B4 'Alcohol Only'>, <L4 'Drugs & Alcohol'>, <I4 'Total'>, <F4 'Alcohol Only'>, <K4 'Drugs Only'>, <D4 'Drugs & Alcohol'>}

In [6]:
sex = tab.excel_ref('A5').expand(DOWN) - tab.excel_ref('A13').expand(DOWN)  
sex

{<A11 '% of all Males '>, <A10 '% of Total'>, <A12 '% of all Females'>, <A7 'Female'>, <A8 'Male (%)'>, <A6 'Male'>, <A9 'Female (%)'>, <A5 'Total'>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(sex,'Sex',DIRECTLY,LEFT),
            HDim(age,'Age',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Period','1 March 2017')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Sex,Age,Measure Type,Unit,Period
0,95.0,Alcohol Only,Total,Under 18,Count,People,1 March 2017
1,324.0,Drugs Only,Total,Under 18,Count,People,1 March 2017
2,294.0,Drugs & Alcohol,Total,Under 18,Count,People,1 March 2017
3,713.0,Total,Total,Under 18,Count,People,1 March 2017
4,2482.0,Alcohol Only,Total,18 and over,Count,People,1 March 2017
5,1712.0,Drugs Only,Total,18 and over,Count,People,1 March 2017
6,1062.0,Drugs & Alcohol,Total,18 and over,Count,People,1 March 2017
7,5256.0,Total,Total,18 and over,Count,People,1 March 2017
8,2577.0,Alcohol Only,Total,Treatment Type,Count,People,1 March 2017
9,2036.0,Drugs Only,Total,Treatment Type,Count,People,1 March 2017
10,1356.0,Drugs & Alcohol,Total,Treatment Type,Count,People,1 March 2017
11,5969.0,None,Total,Overall Total,Count,People,1 March 2017
12,31.0,Alcohol Only,Male,Under 18,Count,People,1 March 2017
13,275.0,Drugs Only,Male,Under 18,Count,People,1 March 2017
14,222.0,Drugs & Alcohol,Male,Under 18,Count,People,1 March 2017
15,528.0,Total,Male,Under 18,Count,People,1 March 2017
16,1536.0,Alcohol Only,Male,18 and over,Count,People,1 March 2017
17,1221.0,Drugs Only,Male,18 and over,Count,People,1 March 2017
18,810.0,Drugs & Alcohol,Male,18 and over,Count,People,1 March 2017
19,3567.0,Total,Male,18 and over,Count,People,1 March 2017
20,1567.0,Alcohol Only,Male,Treatment Type,Count,People,1 March 2017
21,1496.0,Drugs Only,Male,Treatment Type,Count,People,1 March 2017
22,1032.0,Drugs & Alcohol,Male,Treatment Type,Count,People,1 March 2017
23,4095.0,None,Male,Overall Total,Count,People,1 March 2017
24,64.0,Alcohol Only,Female,Under 18,Count,People,1 March 2017
25,49.0,Drugs Only,Female,Under 18,Count,People,1 March 2017
26,72.0,Drugs & Alcohol,Female,Under 18,Count,People,1 March 2017
27,185.0,Total,Female,Under 18,Count,People,1 March 2017
28,946.0,Alcohol Only,Female,18 and over,Count,People,1 March 2017
29,491.0,Drugs Only,Female,18 and over,Count,People,1 March 2017
...,...,...,...,...,...,...,...
66,20.2,Drugs & Alcohol,% of Total,18 and over,Count,People,1 March 2017
67,100.0,Total,% of Total,18 and over,Count,People,1 March 2017
68,43.2,Alcohol Only,% of Total,Treatment Type,Count,People,1 March 2017
69,34.1,Drugs Only,% of Total,Treatment Type,Count,People,1 March 2017
70,22.7,Drugs & Alcohol,% of Total,Treatment Type,Count,People,1 March 2017
71,100.0,None,% of Total,Overall Total,Count,People,1 March 2017
72,5.9,Alcohol Only,% of all Males,Under 18,Count,People,1 March 2017
73,52.1,Drugs Only,% of all Males,Under 18,Count,People,1 March 2017
74,42.0,Drugs & Alcohol,% of all Males,Under 18,Count,People,1 March 2017
75,100.0,Total,% of all Males,Under 18,Count,People,1 March 2017
76,43.1,Alcohol Only,% of all Males,18 and over,Count,People,1 March 2017
77,34.2,Drugs Only,% of all Males,18 and over,Count,People,1 March 2017
78,22.7,Drugs & Alcohol,% of all Males,18 and over,Count,People,1 March 2017
79,100.0,Total,% of all Males,18 and over,Count,People,1 March 2017
80,38.3,Alcohol Only,% of all Males,Treatment Type,Count,People,1 March 2017
81,36.5,Drugs Only,% of all Males,Treatment Type,Count,People,1 March 2017
82,25.2,Drugs & Alcohol,% of all Males,Treatment Type,Count,People,1 March 2017
83,100.0,None,% of all Males,Overall Total,Count,People,1 March 2017
84,34.6,Alcohol Only,% of all Females,Under 18,Count,People,1 March 2017
85,26.5,Drugs Only,% of all Females,Under 18,Count,People,1 March 2017
86,38.9,Drugs & Alcohol,% of all Females,Under 18,Count,People,1 March 2017
87,100.0,Total,% of all Females,Under 18,Count,People,1 March 2017
88,56.0,Alcohol Only,% of all Females,18 and over,Count,People,1 March 2017
89,29.1,Drugs Only,% of all Females,18 and over,Count,People,1 March 2017
90,14.9,Drugs & Alcohol,% of all Females,18 and over,Count,People,1 March 2017
91,100.0,Total,% of all Females,18 and over,Count,People,1 March 2017
92,53.9,Alcohol Only,% of all Females,Treatment Type,Count,People,1 March 2017
93,28.8,Drugs Only,% of all Females,Treatment Type,Count,People,1 March 2017
94,17.3,Drugs & Alcohol,% of all Females,Treatment Type,Count,People,1 March 2017
95,100.0,None,% of all Females,Overall Total,Count,People,1 March 2017

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table.dtypes

Value             float64
Treatment Type     object
Sex                object
Age                object
Measure Type       object
Unit               object
Period             object
dtype: object

In [12]:
new_table.tail(5)

,Value,Treatment Type,Sex,Age,Measure Type,Unit,Period
91,100.0,Total,% of all Females,18 and over,Count,People,1 March 2017
92,53.9,Alcohol Only,% of all Females,Treatment Type,Count,People,1 March 2017
93,28.8,Drugs Only,% of all Females,Treatment Type,Count,People,1 March 2017
94,17.3,Drugs & Alcohol,% of all Females,Treatment Type,Count,People,1 March 2017
95,100.0,None,% of all Females,Overall Total,Count,People,1 March 2017

In [13]:
def user_perc(x):
    
    if str(x) == 'Treatment Type':
        return 'All years'
    else:
        return x
    
new_table['Age'] = new_table.apply(lambda row: user_perc(row['Age']), axis = 1)

In [14]:
def user_perc(x):
    
    if str(x) == 'Total':
        return 'Persons'
    else:
        return x
    
new_table['Sex'] = new_table.apply(lambda row: user_perc(row['Sex']), axis = 1)

In [15]:
new_table['Treatment Type'].fillna('All', inplace = True)
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
new_table['Health and Social Care Trust']  = 'All'

In [16]:
new_table.head(1)

,Value,Treatment Type,Sex,Age,Measure Type,Unit,Period,Service Type,Residential Status,Health and Social Care Trust
0,95.0,Alcohol Only,Persons,Under 18,Count,People,1 March 2017,All,All,All

In [17]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [18]:
new_table.head(5)

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Persons,Under 18,All,All,Alcohol Only,All,Count,People,95.0
1,1 March 2017,Persons,Under 18,All,All,Drugs Only,All,Count,People,324.0
2,1 March 2017,Persons,Under 18,All,All,Drugs & Alcohol,All,Count,People,294.0
3,1 March 2017,Persons,Under 18,All,All,Total,All,Count,People,713.0
4,1 March 2017,Persons,18 and over,All,All,Alcohol Only,All,Count,People,2482.0