Census of Drug and Alcohol Treatment Services in Northern Ireland:Table 4 â€“ Breakdown by Trust

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 4')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 4']

In [2]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B20').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<D13 28.3>, <H7 149.0>, <J18 3.4>, <J7 19.0>, <I19 1.1>, <F12 107.0>, <I9 73.0>, <C7 357.0>, <K18 0.6>, <C6 483.0>, <E9 33.0>, <L8 257.0>, <G12 107.0>, <F9 676.0>, <I12 6.0>, <H11 0.0>, <B17 22.3>, <H18 0.0>, <C18 0.0>, <I11 0.0>, <C13 32.3>, <D16 18.3>, <M18 0.6>, <E5 528.0>, <K16 1.6>, <E15 17.4>, <K12 51.0>, <E7 56.0>, <H19 4.1>, <E11 0.0>, <D6 292.0>, <G10 773.0>, <M7 306.0>, <I6 166.0>, <M16 18.6>, <E18 0.0>, <E14 10.6>, <H16 22.3>, <L9 346.0>, <D15 10.9>, <K13 48.1>, <D9 189.0>, <G14 17.5>, <C10 224.0>, <B14 18.8>, <J11 11.0>, <I10 71.0>, <G6 1063.0>, <F10 659.0>, <M19 2.7>, <G18 4.2>, <L13 20.5>, <C5 1496.0>, <J13 28.7>, <B18 0.3>, <M17 23.2>, <E16 6.3>, <F15 13.0>, <H6 176.0>, <I8 86.0>, <C8 243.0>, <M10 435.0>, <M15 15.3>, <M13 23.2>, <I15 15.9>, <M12 51.0>, <E6 233.0>, <C19 0.2>, <K10 37.0>, <G15 13.5>, <G5 4095.0>, <F8 462.0>, <F18 4.8>, <L10 398.0>, <H8 152.0>, <M5 1874.0>, <D19 0.5>, <J14 5.9>, <E19 0.0>, <K6 89.0>, <D7 66.0>, <H10 267.0>, <G19 2.6>, <J9 51.0>, <K9 3.0>, <L17 23.6>, <I5 540.0>, <B11 5.0>, <F11 172.0>, <K11 11.0>, <B13 18.4>, <K15 16.2>, <H9 225.0>, <L5 1689.0>, <G16 17.3>, <G8 554.0>, <K19 2.7>, <M11 11.0>, <D12 5.0>, <G17 18.9>, <B12 99.0>, <G11 172.0>, <F19 3.0>, <B19 6.3>, <J8 49.0>, <I7 138.0>, <M9 349.0>, <F17 18.5>, <C12 3.0>, <F16 19.0>, <H5 1010.0>, <L15 15.2>, <J15 15.1>, <M6 435.0>, <K5 185.0>, <I14 25.6>, <E13 44.1>, <J5 324.0>, <E12 0.0>, <D18 16.2>, <I17 13.1>, <H13 17.4>, <J6 93.0>, <J19 1.2>, <H14 14.8>, <J10 97.0>, <I18 0.0>, <D14 6.4>, <L7 285.0>, <L14 16.9>, <K17 20.0>, <F13 23.3>, <H15 15.0>, <I16 13.5>, <C16 12.4>, <I13 30.7>, <G9 709.0>, <B8 198.0>, <H12 41.0>, <K8 30.0>, <J16 15.7>, <B16 21.3>, <F6 830.0>, <B9 334.0>, <C17 15.0>, <E10 114.0>, <F14 18.5>, <J12 4.0>, <M14 16.3>, <D8 113.0>, <F7 661.0>, <G13 26.0>, <B6 288.0>, <D17 19.4>, <K7 21.0>, <H17 26.4>, <C15 16.2>, <D5 1032.0>, <E17 21.6>, <J17 29.9>, <B15 12.6>, <G7 717.0>, <K14 11.4>, <B10 349.0>, <B5 1567.0>, <C9 186.0>, <E8 92.0>, <D11 167.0>, <D10 200.0>, <B7 294.0>, <C11 0.0>, <L16 20.5>, <C14 23.9>, <L6 346.0>, <M8 287.0>, <F5 3567.0>}

In [4]:
Service = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Service

{<A23 'Total'>, <A33 'South Eastern (%)'>, <A18 'Prison (%)'>, <A17 'Western (%)'>, <A11 'Prison'>, <A25 'Northern'>, <A31 'Belfast (%)'>, <A27 'Southern'>, <A8 'South Eastern'>, <A16 'Southern (%)'>, <A30 'Emergency admissions (HIS)'>, <A32 'Northern (%)'>, <A35 'Western (%)'>, <A7 'Northern'>, <A36 'Prison (%)'>, <A21 'Trust'>, <A15 'South Eastern (%)'>, <A28 'Western'>, <A12 'Emergency admissions (HIS)'>, <A26 'South Eastern'>, <A5 'Total'>, <A10 'Western'>, <A37 'Emergency admissions (HIS) (%)'>, <A13 'Belfast (%)'>, <A6 'Belfast'>, <A14 'Northern (%)'>, <A9 'Southern'>, <A24 'Belfast'>, <A29 'Prison'>, <A34 'Southern (%)'>, <A19 'Emergency admissions (HIS)  (%)'>}

In [5]:
Treatment = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
Treatment

{<D4 'Drugs & Alcohol'>, <C4 'Drugs Only'>, <I4 'Drugs Only'>, <F4 '18 and over'>, <E4 'Under 18s'>, <M4 'Total'>, <J4 'Drugs & Alcohol'>, <L4 '18 and over'>, <H4 'Alcohol Only'>, <K4 'Under 18s'>, <G4 'Total'>, <B4 'Alcohol Only'>}

In [6]:
sex = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
sex

{<H3 'Female  '>, <B3 'Male'>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Health and Social Care Trust',DIRECTLY,LEFT),
            HDim(sex,'Sex',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Period','1 March 2017'),
            HDimConst('Age','All')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Health and Social Care Trust,Sex,Measure Type,Unit,Period,Age
0,1567.0,Alcohol Only,Total,Male,Count,People,1 March 2017,All
1,1496.0,Drugs Only,Total,Male,Count,People,1 March 2017,All
2,1032.0,Drugs & Alcohol,Total,Male,Count,People,1 March 2017,All
3,528.0,Under 18s,Total,Male,Count,People,1 March 2017,All
4,3567.0,18 and over,Total,Male,Count,People,1 March 2017,All
5,4095.0,Total,Total,Male,Count,People,1 March 2017,All
6,1010.0,Alcohol Only,Total,Female,Count,People,1 March 2017,All
7,540.0,Drugs Only,Total,Female,Count,People,1 March 2017,All
8,324.0,Drugs & Alcohol,Total,Female,Count,People,1 March 2017,All
9,185.0,Under 18s,Total,Female,Count,People,1 March 2017,All
10,1689.0,18 and over,Total,Female,Count,People,1 March 2017,All
11,1874.0,Total,Total,Female,Count,People,1 March 2017,All
12,288.0,Alcohol Only,Belfast,Male,Count,People,1 March 2017,All
13,483.0,Drugs Only,Belfast,Male,Count,People,1 March 2017,All
14,292.0,Drugs & Alcohol,Belfast,Male,Count,People,1 March 2017,All
15,233.0,Under 18s,Belfast,Male,Count,People,1 March 2017,All
16,830.0,18 and over,Belfast,Male,Count,People,1 March 2017,All
17,1063.0,Total,Belfast,Male,Count,People,1 March 2017,All
18,176.0,Alcohol Only,Belfast,Female,Count,People,1 March 2017,All
19,166.0,Drugs Only,Belfast,Female,Count,People,1 March 2017,All
20,93.0,Drugs & Alcohol,Belfast,Female,Count,People,1 March 2017,All
21,89.0,Under 18s,Belfast,Female,Count,People,1 March 2017,All
22,346.0,18 and over,Belfast,Female,Count,People,1 March 2017,All
23,435.0,Total,Belfast,Female,Count,People,1 March 2017,All
24,294.0,Alcohol Only,Northern,Male,Count,People,1 March 2017,All
25,357.0,Drugs Only,Northern,Male,Count,People,1 March 2017,All
26,66.0,Drugs & Alcohol,Northern,Male,Count,People,1 March 2017,All
27,56.0,Under 18s,Northern,Male,Count,People,1 March 2017,All
28,661.0,18 and over,Northern,Male,Count,People,1 March 2017,All
29,717.0,Total,Northern,Male,Count,People,1 March 2017,All
...,...,...,...,...,...,...,...,...
146,18.5,18 and over,Western (%),Male,Count,People,1 March 2017,All
147,18.9,Total,Western (%),Male,Count,People,1 March 2017,All
148,26.4,Alcohol Only,Western (%),Female,Count,People,1 March 2017,All
149,13.1,Drugs Only,Western (%),Female,Count,People,1 March 2017,All
150,29.9,Drugs & Alcohol,Western (%),Female,Count,People,1 March 2017,All
151,20.0,Under 18s,Western (%),Female,Count,People,1 March 2017,All
152,23.6,18 and over,Western (%),Female,Count,People,1 March 2017,All
153,23.2,Total,Western (%),Female,Count,People,1 March 2017,All
154,0.3,Alcohol Only,Prison (%),Male,Count,People,1 March 2017,All
155,0.0,Drugs Only,Prison (%),Male,Count,People,1 March 2017,All
156,16.2,Drugs & Alcohol,Prison (%),Male,Count,People,1 March 2017,All
157,0.0,Under 18s,Prison (%),Male,Count,People,1 March 2017,All
158,4.8,18 and over,Prison (%),Male,Count,People,1 March 2017,All
159,4.2,Total,Prison (%),Male,Count,People,1 March 2017,All
160,0.0,Alcohol Only,Prison (%),Female,Count,People,1 March 2017,All
161,0.0,Drugs Only,Prison (%),Female,Count,People,1 March 2017,All
162,3.4,Drugs & Alcohol,Prison (%),Female,Count,People,1 March 2017,All
163,0.6,Under 18s,Prison (%),Female,Count,People,1 March 2017,All
164,0.6,Total,Prison (%),Female,Count,People,1 March 2017,All
165,6.3,Alcohol Only,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
166,0.2,Drugs Only,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
167,0.5,Drugs & Alcohol,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
168,0.0,Under 18s,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
169,3.0,18 and over,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
170,2.6,Total,Emergency admissions (HIS) (%),Male,Count,People,1 March 2017,All
171,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
172,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
173,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
174,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
175,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table.dtypes

Value                           float64
Treatment Type                   object
Health and Social Care Trust     object
Sex                              object
Measure Type                     object
Unit                             object
Period                           object
Age                              object
dtype: object

In [12]:
new_table.tail(5)

,Value,Treatment Type,Health and Social Care Trust,Sex,Measure Type,Unit,Period,Age
171,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
172,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
173,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
174,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All
175,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People,1 March 2017,All

In [13]:
new_table.count()

Value                           176
Treatment Type                  176
Health and Social Care Trust    176
Sex                             176
Measure Type                    176
Unit                            176
Period                          176
Age                             176
dtype: int64

In [14]:
new_table = new_table[new_table['Value'] !=  0 ]

In [15]:
new_table.count()

Value                           166
Treatment Type                  166
Health and Social Care Trust    166
Sex                             166
Measure Type                    166
Unit                            166
Period                          166
Age                             166
dtype: int64

In [16]:
new_table['Treatment Type'].fillna('Total', inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [17]:
new_table.drop(new_table[new_table['Health and Social Care Trust'].isin(['Prison', 'Prison (%)'])].index, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
new_table['Service Type'] = 'All'
new_table['Residential Status'] = 'All'
# new_table['Health and Social Care Trust']  = 'All'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
new_table = new_table[['Period', 'Sex', 'Age', 'Service Type', 'Residential Status', 'Treatment Type', 'Health and Social Care Trust', 'Measure Type', 'Unit', 'Value']]

In [20]:
new_table

,Period,Sex,Age,Service Type,Residential Status,Treatment Type,Health and Social Care Trust,Measure Type,Unit,Value
0,1 March 2017,Male,All,All,All,Alcohol Only,Total,Count,People,1567.0
1,1 March 2017,Male,All,All,All,Drugs Only,Total,Count,People,1496.0
2,1 March 2017,Male,All,All,All,Drugs & Alcohol,Total,Count,People,1032.0
3,1 March 2017,Male,All,All,All,Under 18s,Total,Count,People,528.0
4,1 March 2017,Male,All,All,All,18 and over,Total,Count,People,3567.0
5,1 March 2017,Male,All,All,All,Total,Total,Count,People,4095.0
6,1 March 2017,Female,All,All,All,Alcohol Only,Total,Count,People,1010.0
7,1 March 2017,Female,All,All,All,Drugs Only,Total,Count,People,540.0
8,1 March 2017,Female,All,All,All,Drugs & Alcohol,Total,Count,People,324.0
9,1 March 2017,Female,All,All,All,Under 18s,Total,Count,People,185.0
10,1 March 2017,Female,All,All,All,18 and over,Total,Count,People,1689.0
11,1 March 2017,Female,All,All,All,Total,Total,Count,People,1874.0
12,1 March 2017,Male,All,All,All,Alcohol Only,Belfast,Count,People,288.0
13,1 March 2017,Male,All,All,All,Drugs Only,Belfast,Count,People,483.0
14,1 March 2017,Male,All,All,All,Drugs & Alcohol,Belfast,Count,People,292.0
15,1 March 2017,Male,All,All,All,Under 18s,Belfast,Count,People,233.0
16,1 March 2017,Male,All,All,All,18 and over,Belfast,Count,People,830.0
17,1 March 2017,Male,All,All,All,Total,Belfast,Count,People,1063.0
18,1 March 2017,Female,All,All,All,Alcohol Only,Belfast,Count,People,176.0
19,1 March 2017,Female,All,All,All,Drugs Only,Belfast,Count,People,166.0
20,1 March 2017,Female,All,All,All,Drugs & Alcohol,Belfast,Count,People,93.0
21,1 March 2017,Female,All,All,All,Under 18s,Belfast,Count,People,89.0
22,1 March 2017,Female,All,All,All,18 and over,Belfast,Count,People,346.0
23,1 March 2017,Female,All,All,All,Total,Belfast,Count,People,435.0
24,1 March 2017,Male,All,All,All,Alcohol Only,Northern,Count,People,294.0
25,1 March 2017,Male,All,All,All,Drugs Only,Northern,Count,People,357.0
26,1 March 2017,Male,All,All,All,Drugs & Alcohol,Northern,Count,People,66.0
27,1 March 2017,Male,All,All,All,Under 18s,Northern,Count,People,56.0
28,1 March 2017,Male,All,All,All,18 and over,Northern,Count,People,661.0
29,1 March 2017,Male,All,All,All,Total,Northern,Count,People,717.0
...,...,...,...,...,...,...,...,...,...,...
134,1 March 2017,Male,All,All,All,18 and over,Southern (%),Count,People,19.0
135,1 March 2017,Male,All,All,All,Total,Southern (%),Count,People,17.3
136,1 March 2017,Female,All,All,All,Alcohol Only,Southern (%),Count,People,22.3
137,1 March 2017,Female,All,All,All,Drugs Only,Southern (%),Count,People,13.5
138,1 March 2017,Female,All,All,All,Drugs & Alcohol,Southern (%),Count,People,15.7
139,1 March 2017,Female,All,All,All,Under 18s,Southern (%),Count,People,1.6
140,1 March 2017,Female,All,All,All,18 and over,Southern (%),Count,People,20.5
141,1 March 2017,Female,All,All,All,Total,Southern (%),Count,People,18.6
142,1 March 2017,Male,All,All,All,Alcohol Only,Western (%),Count,People,22.3
143,1 March 2017,Male,All,All,All,Drugs Only,Western (%),Count,People,15.0
144,1 March 2017,Male,All,All,All,Drugs & Alcohol,Western (%),Count,People,19.4
145,1 March 2017,Male,All,All,All,Under 18s,Western (%),Count,People,21.6
146,1 March 2017,Male,All,All,All,18 and over,Western (%),Count,People,18.5
147,1 March 2017,Male,All,All,All,Total,Western (%),Count,People,18.9
148,1 March 2017,Female,All,All,All,Alcohol Only,Western (%),Count,People,26.4
149,1 March 2017,Female,All,All,All,Drugs Only,Western (%),Count,People,13.1
150,1 March 2017,Female,All,All,All,Drugs & Alcohol,Western (%),Count,People,29.9
151,1 March 2017,Female,All,All,All,Under 18s,Western (%),Count,People,20.0
152,1 March 2017,Female,All,All,All,18 and over,Western (%),Count,People,23.6
153,1 March 2017,Female,All,All,All,Total,Western (%),Count,People,23.2
165,1 March 2017,Male,All,All,All,Alcohol Only,Emergency admissions (HIS) (%),Count,People,6.3
166,1 March 2017,Male,All,All,All,Drugs Only,Emergency admissions (HIS) (%),Count,People,0.2
167,1 March 2017,Male,All,All,All,Drugs & Alcohol,Emergency admissions (HIS) (%),Count,People,0.5
169,1 March 2017,Male,All,All,All,18 and over,Emergency admissions (HIS) (%),Count,People,3.0
170,1 March 2017,Male,All,All,All,Total,Emergency admissions (HIS) (%),Count,People,2.6
171,1 March 2017,Female,All,All,All,Alcohol Only,Emergency admissions (HIS) (%),Count,People,4.1
172,1 March 2017,Female,All,All,All,Drugs Only,Emergency admissions (HIS) (%),Count,People,1.1
173,1 March 2017,Female,All,All,All,Drugs & Alcohol,Emergency admissions (HIS) (%),Count,People,1.2
174,1 March 2017,Female,All,All,All,Under 18s,Emergency admissions (HIS) (%),Count,People,2.7
175,1 March 2017,Female,All,All,All,Total,Emergency admissions (HIS) (%),Count,People,2.7